.bodywrapper__inner>div:nth-child(1) {
    display: none;
}




/* ===================================================
                                                                                                                                  HTML TOGGLE SWITCHES MODIFIED TO BE SMALLER AND ACCESSIBLE
                                                                                                                                  https://www.w3schools.com/howto/howto_css_switch.asp
                                                                                                                                  =================================================== */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
}

/* Hide default HTML checkbox BUT KEEP OUTLINE WHEN SELECTED WITH TAB KEY! */
.switch input {
    width: 36px;
    height: 22px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    vertical-align: text-bottom;
}

/* HIDE THE CHECKBOX COMPLETELY ON IOS */
@supports (-webkit-touch-callout: none) {
    .switch input {
        opacity: 0;
    }
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 36px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 16px;
}

.slider.round:before {
    border-radius: 50%;
}

/* LABEL ADDED BY BRIAN */
.switch-label {
    display: inline;
    font-size: 14px;
    font-weight: 500;
    padding-right: 8px;
    vertical-align: top;
}

.slide-switch {
    display: inline-block;
    white-space: nowrap;
    margin-right: 40px;
}