/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjxAwXjeu.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjx4wXg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwaPGR_p.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwiPGQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

:root {
  --primary-color: #008e8f;
  --secondary-color: #ff8749;
  --black-color: #292a2b;
  --black75-color: rgba(41, 42, 42, 0.75);
  --black50-color: rgba(95, 95, 95, 0.5);
  --black25-color: rgba(95, 95, 95, 0.25);
  --black10-color: rgba(95, 95, 95, 0.1);
  --black5-color: rgba(95, 95, 95, 0.05);
  --rounded: 0.5rem;
  --main-title-size: 1.7rem;
  --paragraph-text-size: 1.25rem;
}

@media (min-width: 768px) {
  :root {
    --main-title-size: 2rem;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  :root {
    --main-title-size: 2.75rem;
  }
}

@media (min-width: 1400px) {
  :root {
    --main-title-size: 3.75rem;
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Lato;
  margin: 0px;
}

.custom-link {
  color: var(--secondary-color) !important;
  text-decoration: none;
  border-bottom: 1.5px solid var(--secondary-color);
  padding: 0.05rem 0;
  cursor: pointer;
}

.section-wrapper {
  width: 100%;
}

.about-us,
.our-history,
.partnerships,
.news,
.b-corporation,
.sd-goals {
  max-width: 1400px;
  margin: 0 auto;
}

/* End Golbal Rules */

/* Start About Us */

.about-us-bg {
  background-color: var(--black5-color);
}

.about-us {
  padding: 3.5rem 1.5rem;
}

.about-us-team {
  width: 100%;
}

.team-cards-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  row-gap: 1.5rem;
  margin-bottom: 1.8rem;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}

.team-cards-row:nth-child(1) .team-member-card:nth-child(1) {
  background: url("../images/team/David-Headshot.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.team-cards-row:nth-child(1) .team-member-card:nth-child(2) {
  background: url("../images/team/Amanda-Headshot.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.team-cards-row:nth-child(1) .team-member-card:nth-child(3) {
  background: url("../images/team/Melanie-Headshot.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.team-cards-row:nth-child(1) .team-member-card:nth-child(4) {
  background: url("../images/team/Jamie-Headshot.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.team-cards-row:nth-child(1) .team-member-card:nth-child(5) {
  background: url("../images/team/OT-Headshot.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.team-cards-row:nth-child(2) .team-member-card:nth-child(1) {
  background: url("../images/team/Rory-Headshot.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.team-cards-row:nth-child(2) .team-member-card:nth-child(2) {
  background: url("../images/team/Laura.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.team-cards-row:nth-child(2) .team-member-card:nth-child(3) {
  background: url("../images/team/Edurne-Headshot.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.team-cards-row:nth-child(2) .team-member-card:nth-child(4) {
  background: url("../images/team/Pablo-Headshot.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.team-cards-row:nth-child(2) .team-member-card:nth-child(5) {
  background: url("../images/team/Paulo-Headshot.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.team-member-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 200px;
  height: 262px;
  -webkit-filter: drop-shadow(0px 13px 5px rgba(0, 0, 0, 0.02))
    drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.08))
    drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.13))
    drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.15))
    drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 13px 5px rgba(0, 0, 0, 0.02))
    drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.08))
    drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.13))
    drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.15))
    drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.15));
  border-radius: var(--rounded);
  overflow: hidden;
  position: relative;
}

.team-member-overlay {
  background: -o-linear-gradient(
    bottom,
    rgba(0, 142, 143, 0.73) 0.12%,
    rgba(0, 142, 143, 0) 40.53%
  );
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.12%, rgba(0, 142, 143, 0.73)),
    color-stop(40.53%, rgba(0, 142, 143, 0))
  );
  background: linear-gradient(
    360deg,
    rgba(0, 142, 143, 0.73) 0.12%,
    rgba(0, 142, 143, 0) 40.53%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.team-member-info {
  text-align: center;
  position: relative;
  z-index: 1;
}

.member-name,
.member-role {
  letter-spacing: 0.02em;
  margin: 0px;
}

.member-name {
  color: white;
  font-size: 1.25rem;
}

.member-role {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  margin-top: 8px;
  margin-bottom: 18px;
}

.about-us-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 4rem;
}

.about-us-text h1 {
  font-size: var(--main-title-size);
  font-weight: 700;
  letter-spacing: 0.02em;
}

.about-us-text p {
  text-align: justify;
  font-size: var(--paragraph-text-size);
  line-height: 32px;
  color: var(--black75-color);
  margin: 0px;
}

@media (min-width: 768px) {
  .about-us {
    padding: 4.5rem 4.75rem;
  }
}

@media (min-width: 992px) {
  .about-us {
    padding: 5.5rem 10.75rem;
  }
}

@media (min-width: 1200px) {
  .about-us {
    padding: 6.5rem 17.75rem;
  }

  .about-us-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-column-gap: 6rem;
    -moz-column-gap: 6rem;
    column-gap: 6rem;
    margin-bottom: 135px;
  }

  .about-us-text h1 {
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}

@media (min-width: 1400px) {
  .about-us {
    padding: 7.5rem 8.75rem 10rem;
  }

  .team-member-card:nth-child(even) {
    position: relative;
    top: 3rem;
  }

  .team-cards-row {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
}
/* End About Us */

/* Start Our History & Partnerships */

.our-history,
.partnerships {
  padding: 3rem 1.5rem;
}

.our-histroy-image,
.partnerships-image {
  width: 75%;
  -webkit-filter: drop-shadow(0px 100px 80px rgba(120, 129, 130, 0.07))
    drop-shadow(0px 41.7776px 33.4221px rgba(120, 129, 130, 0.0503198))
    drop-shadow(0px 22.3363px 17.869px rgba(120, 129, 130, 0.0417275))
    drop-shadow(0px 12.5216px 10.0172px rgba(120, 129, 130, 0.035))
    drop-shadow(0px 6.6501px 5.32008px rgba(120, 129, 130, 0.0282725))
    drop-shadow(0px 2.76726px 2.21381px rgba(120, 129, 130, 0.0196802));
  filter: drop-shadow(0px 100px 80px rgba(120, 129, 130, 0.07))
    drop-shadow(0px 41.7776px 33.4221px rgba(120, 129, 130, 0.0503198))
    drop-shadow(0px 22.3363px 17.869px rgba(120, 129, 130, 0.0417275))
    drop-shadow(0px 12.5216px 10.0172px rgba(120, 129, 130, 0.035))
    drop-shadow(0px 6.6501px 5.32008px rgba(120, 129, 130, 0.0282725))
    drop-shadow(0px 2.76726px 2.21381px rgba(120, 129, 130, 0.0196802));
  margin: 3.5rem auto;
}

.our-histroy-image img,
.partnerships-image img {
  width: 100%;
  border-radius: var(--rounded);
}

.our-history-text h1,
.partnerships-text h1 {
  text-align: center;
  font-size: var(--main-title-size);
  font-weight: 700;
  letter-spacing: 0.02em;
  margin: 0 0 2rem 0;
}

.our-history-text p,
.partnerships-text p {
  text-align: justify;
  font-size: var(--paragraph-text-size);
  line-height: 32px;
  color: var(--black75-color);
  margin: 0px;
}

.our-history-text p:nth-child(even) {
  margin: 1.5rem 0;
}

@media (min-width: 768px) {
  .our-history,
  .partnerships {
    padding: 4.5rem 4.75rem;
  }
}

@media (min-width: 992px) {
  .our-histroy-image,
  .partnerships-image {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .our-history,
  .partnerships {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-column-gap: 4rem;
    -moz-column-gap: 4rem;
    column-gap: 4rem;
  }

  .our-histroy-image,
  .partnerships-image {
    width: 525px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-top: 1.5rem;
    margin-bottom: 0px;
  }

  .our-history-text h1,
  .partnerships-text h1 {
    text-align: left;
  }
}

@media (min-width: 1400px) {
  .partnerships,
  .our-history {
    -webkit-column-gap: 8rem;
    -moz-column-gap: 8rem;
    column-gap: 8rem;
  }

  .our-history {
    padding: 12rem 4.75rem;
  }

  .partnerships {
    padding: 0rem 4.75rem 12rem;
  }

  .our-history-text h1,
  .partnerships-text h1 {
    font-size: 2.625rem;
  }
}
/* End Our History & Partnerships */

/* Start NEWS AND NOTEWORTHY */

.news-bg {
  background-color: var(--black5-color);
}

.news {
  padding: 3rem 1.5rem;
}

.news h1 {
  text-align: center;
  font-size: var(--main-title-size);
  font-weight: 700;
  letter-spacing: 0.02em;
  margin: 0px;
}

.awards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 2rem;
  margin: 3rem 0;
}

.awards img {
  width: 50%;
}

.divider {
  width: 70%;
  height: 5px;
  border-radius: var(--rounded);
  margin: 2rem auto;
  background-color: var(--black50-color);
}

.news-agencies {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1.5rem;
}

.news-agencies a {
  width: 50%;
}

.news-agencies img {
  width: 100%;
}

@media (min-width: 768px) {
  .news {
    padding: 4.5rem 4.75rem;
  }

  .awards img,
  .news-agencies a {
    width: 40%;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .news {
    padding: 7.5rem 3rem;
  }

  .awards {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    row-gap: 3rem;
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
  }

  .awards img {
    width: auto;
  }

  .divider {
    display: none;
  }

  .news-agencies {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
  }

  .news-agencies a,
  .news-agencies img {
    width: auto;
  }
}

@media (min-width: 1400px) {
  .news {
    padding: 8.5rem 4.75rem 8.75rem;
  }

  .awards {
    -webkit-column-gap: 4rem;
    -moz-column-gap: 4rem;
    column-gap: 4rem;
    margin: 80px 0 88px;
  }
}
/* End NEWS AND NOTEWORTHY */

/* Start B Corporation */
.b-corporation {
  padding: 3.5rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 2rem;
}

.b-corporation p {
  text-align: justify;
  font-size: var(--paragraph-text-size);
  line-height: 32px;
  color: var(--black75-color);
  margin: 0px;
}

@media (min-width: 768px) {
  .b-corporation {
    padding: 4.5rem 4.75rem;
  }
}

@media (min-width: 992px) {
  .b-corporation {
    padding: 7.5rem 10.75rem;
  }
}

@media (min-width: 1200px) {
  .b-corporation {
    padding: 7.5rem 17.75rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-column-gap: 5rem;
    -moz-column-gap: 5rem;
    column-gap: 5rem;
  }
}

@media (min-width: 1400px) {
  .b-corporation {
    padding: 192px 8.75rem 81px;
    -webkit-column-gap: 124px;
    -moz-column-gap: 124px;
    column-gap: 124px;
  }

  .b-corporation-image {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .b-corporation p {
    width: 525px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
/* End B Corporation */

/* Start SD Goals */
.sd-goals {
  padding: 1.5rem 1.5rem 3.5rem 1.5rem;
}

.sd-goals-text {
  border-top: 1px solid var(--black50-color);
  padding-top: 3.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 2rem;
}

.sd-goals-image {
  width: 80%;
  margin: 0 auto;
}

.sd-goals-image img {
  width: 100%;
}

.sd-goals-text p {
  text-align: justify;
  font-size: var(--paragraph-text-size);
  line-height: 32px;
  color: var(--black75-color);
  margin: 0px;
}

.sd-goals-cards {
  width: 100%;
  margin: 2rem auto;
}

.sd-goals-card {
  border-radius: var(--rounded);
  background-color: white;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 2rem;
  padding: 2.25rem 0.5rem;
  margin: 3rem 0;
}

.goals-card-logo {
  width: 12rem;
  height: 12rem;
}

.goals-card-logo img {
  width: 100%;
  height: 100%;
  border-radius: var(--rounded);
  -webkit-filter: drop-shadow(0px 13px 5px rgba(0, 0, 0, 0.02))
    drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.08))
    drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.13))
    drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.15))
    drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 13px 5px rgba(0, 0, 0, 0.02))
    drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.08))
    drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.13))
    drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.15))
    drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.15));
}

.goals-card-list {
  font-size: var(--paragraph-text-size);
  line-height: 32px;
  color: var(--black75-color);
  margin: 0 !important;
  width: 100%;
  max-width: 636px;
}

.goals-card-list li {
  list-style: disc !important;
  padding: 0 !important;
}

@media (min-width: 768px) {
  .sd-goals {
    padding: 0rem 4.75rem 4.5rem;
  }

  .sd-goals-text {
    padding-top: 6rem;
  }
}

@media (min-width: 992px) {
  .sd-goals {
    padding: 0rem 10.75rem 7.5rem;
  }
}

@media (min-width: 1200px) {
  .sd-goals {
    padding: 0rem 17.75rem 7.5rem;
  }
}

@media (min-width: 1400px) {
  .sd-goals {
    padding: 0rem 8.75rem 144px;
  }

  .sd-goals-text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-column-gap: 124px;
    -moz-column-gap: 124px;
    column-gap: 124px;
    padding-top: 113px;
    padding-bottom: 26px;
  }

  .sd-goals-image {
    width: 422px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .sd-goals-text p {
    width: 525px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .sd-goals-card {
    width: 965px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 2.25rem 0;
    margin-left: auto;
    /* margin-right: auto; */
  }

  .goals-card-logo {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    right: 6rem;
  }
}
/* End SD Goals */

/* Start Blog CSS Edits, JW 07/20/23 */
.blog-section .post-content > p {
    color: white;
}
/* End Blog CSS, JW */