/* Start global styles */
:root {
    --primary-color: #402020;
    --secondary-brown: rgba(64, 32, 32, 0.75);
    --brown-for-hover: rgba(64, 32, 32, 0.902);
    --secondary-color: #dbaa00;
    --light-gold: #e1b82e;
}
.heart-icon-color {
    color: var(--secondary-color) !important;
}
/* End global styles */
/* Start styles for common elements */
.modal .modal-header {
    background-color: var(--primary-color);
}
.menu-area .menu li a:hover,
.menu-area .menu li:hover > a,
.menu-area .menu li.open > a,
.menu-area .menu li.active > a,
.social-media-icons a:hover {
    color: var(--secondary-color) !important;
}
.ace-header .header-icons svg:hover,
.header-bottom .header-icons svg:hover {
    fill: var(--secondary-color) !important;
}
.cmn--btn,
.bg--base {
    background-color: var(--primary-color) !important;
    color: #ffffff !important;
}
button.cmn--btn:hover,
a.cmn--btn:hover,
.cmn--btn:hover {
    background-color: var(--secondary-color) !important;
}
.bid-paused-button {
    background-color: var(--primary-color) !important;
    color: #ffffff;
}
/* End styles for common elements */
/* Start sidebar countdown */
.sidebar-countdown li {
    border-color: var(--primary-color) !important;
}
/* End sidebar countdown */
/* Start event details */
#product-details .bid_now:disabled,
#product-details .bid_now:hover:disabled,
#event-details .bid_now:disabled,
#event-details .bid_now:hover:disabled {
    cursor: default;
}
#product-details .auto_bid_now:disabled,
#product-details .auto_bid_now:hover:disabled,
#event-details .auto_bid_now:disabled,
#event-details .auto_bid_now:hover:disabled {
    color: rgba(64, 32, 32, 0.5) !important;
    border: 1px solid rgba(64, 32, 32, 0.5) !important;
    cursor: default;
}
#event-details .event-hero-section {
    min-height: 767px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 86px;
    padding-bottom: 34px;
}
@media (min-width: 460px) {
    #event-details .event-hero-section {
        padding-top: 182px;
        padding-bottom: 91px;
    }
}
#event-details .event-hero-section-content a.main-btn {
    background-color: var(--secondary-color) !important;
}
#event-details .event-hero-section-content a.main-btn:hover {
    background-color: var(--primary-color) !important;
}
#event-details a.access-pending,
#event-details a.access-pending:hover {
    background-color: var(--secondary-color) !important;
    cursor: default;
}
#event-details .countdown-widget-container .countdown-widget-btn:hover path {
    fill: var(--primary-color);
}
#event-details
    .countdown-widget-container
    .countdown-area
    .sidebar-countdown
    li {
    color: var(--primary-color);
}
#event-details .clock-icon {
    background-image: url(icons/clock-ace.svg);
}
#event-details .gavel-icon {
    background-image: url(icons/gavel-ace.svg);
}
#event-details .dollar-icon {
    background-image: url(icons/dollar-sign-ace.svg);
}
#event-details .weight-icon {
    background-image: url(icons/weight-ace.svg);
}
#event-details .star-icon {
    background-image: url(icons/star-ace.svg);
}
#event-details .usd-icon {
    background-image: url(icons/USD-ace.svg);
}
#event-details .auction-data-list .auction-data-card-title {
    color: var(--primary-color) !important;
}
#event-details .total-value {
    color: var(--primary-color) !important;
}
#event-details .auction__item-total-title {
    color: var(--light-gold);
}
#event-details .table-card-title h2 {
    color: var(--primary-color) !important;
}
#event-details .event-details-tabs > li a.active {
    color: var(--primary-color) !important;
}
#event-details .event-details-tabs > li a:after {
    background-image: -o-linear-gradient(left, #daa900, #daab004d, #daa900);
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#daa900),
        color-stop(#daab004d),
        to(#daa900)
    );
    background-image: linear-gradient(to right, #daa900, #daab004d, #daa900);
}
#event-details .event-details-tabs > li a:active {
    color: var(--primary-color);
}
#event-details .inner-product-card .details h2 {
    color: var(--primary-color) !important;
}
#event-details .table-card .inner-product-card .card-profile-button a:hover {
    background-color: var(--secondary-color);
}
#event-details .dashboard-custom-selection .select2-selection__rendered {
    color: var(--secondary-color) !important;
}
.dashboard-custom-selection b::before,
.dashboard-custom-selection b::after {
    background: var(--secondary-color) !important;
}
#event-details .current-winning-carousel .owl-nav .owl-prev i,
#event-details .current-winning-carousel .owl-nav .owl-next i {
    color: var(--secondary-color);
}
#event-details .total-budget .budget-progress-bar {
    background: -o-linear-gradient(
        top,
        rgba(218, 169, 0, 0.17) 0%,
        #daa900 100%
    );
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(218, 169, 0, 0.17)),
        to(#daa900)
    );
    background: linear-gradient(
        180deg,
        rgba(218, 169, 0, 0.17) 0%,
        #daa900 100%
    );
}
#event-details .total-budget .budget-progress-bar .spent-budget {
    color: var(--secondary-color);
}
#event-details .total-budget #save-budget-btn:hover {
    background-color: var(--secondary-color);
}
#event-details .total-budget .budget-progress-bar::after {
    background-color: #dbaa00;
}
button.autobid-settings i:hover {
    color: var(--secondary-color) !important;
}
button.autobid-settings span {
    color: var(--primary-color);
}
#event-details .inner-product-card .details .score-property {
    color: var(--secondary-color) !important;
}
#event-details .inner-product-card .details .notes-property span,
#event-details .inner-product-card .details .property span:last-child {
    color: var(--secondary-brown);
}
#event-details .event-hero-section-content h2,
#event-details .event-date,
#event-details .event-description {
    color: #ffffff;
}
/* Start product list item */
.auction__item:hover {
    -webkit-box-shadow: 0 0 10px var(--brown-for-hover);
    box-shadow: 0 0 10px var(--brown-for-hover);
}
.auction__item-title-custom a:hover {
    color: var(--secondary-color) !important;
}
.auction__item-total-varieties {
    color: var(--secondary-brown) !important;
}
.auction__item-gavel-icon {
    background-image: url(icons/gavel-ace.svg);
}
.highest-bidder {
    color: var(--light-gold);
}
@-webkit-keyframes bid_animate {
    0% {
        border: 3px solid transparent;
    }
    50% {
        border: 3px solid var(--secondary-color);
    }
    100% {
        border: 3px solid transparent;
    }
}
@-webkit-keyframes bid_text_animate {
    0% {
        opacity: 0;
        color: var(--secondary-color);
    }
    50% {
        opacity: 100%;
        color: var(--secondary-color);
    }
    100% {
        opacity: 0;
        color: var(--secondary-color);
    }
}
.highlighted__auction {
    border: 3px solid var(--secondary-color) !important;
}
/* End product list item */
/* End event details */
/* Start product details */
.product-section {
    padding-top: 72px;
    padding-bottom: 100px;
}
@media (min-width: 992px) {
    .product-section {
        padding-top: 100px;
        padding-bottom: 80px;
    }
}
.back-button span,
.back-button i {
    background: var(--primary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.back-button span::-moz-selection {
    background: var(--primary-color);
    -webkit-text-fill-color: #ffffff;
}
.back-button span::selection {
    background: var(--primary-color);
    -webkit-text-fill-color: #ffffff;
}
.btn__area .currency-icon {
    background: var(--primary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-color: transparent;
}
.orgianl-auction-title {
    color: var(--secondary-brown) !important;
}
.product__single-item .title,
#product-details #highest-bidder,
.nav--tabs li a {
    color: var(--primary-color) !important;
}
#highestbidder_name {
    color: var(--black75-color);
}
#product-details .highest-bidder-icon {
    background-image: url(icons/Highest-Bidder-ACE.svg);
}
#product-details .nav--tabs li a.active {
    color: var(--primary-color) !important;
    border-color: var(--light-gold) !important;
}
.specification-table tr th {
    color: var(--primary-color);
}
#related-products .owl-dot.active {
    background: var(--primary-color);
}
#product-details .sidebar-countdown li {
    border: 1px dashed var(--primary-color) !important;
    color: var(--primary-color) !important;
}
#product-details .about-seller,
#product-details .cont .title {
    color: var(--primary-color) !important;
}
#product-details .seller-info li:first-child {
    color: var(--secondary-brown) !important;
}
#product-details .auction__item-properties th,
#product-details .auction__item-properties td {
    color: var(--primary-color);
}
#related-products .auction__item-title a {
    color: var(--primary-color) !important;
}
#related-products .auction__item-countdown::before {
    background-image: -o-radial-gradient(
        center,
        circle,
        transparent 0,
        rgba(218, 169, 0, 1),
        rgba(218, 169, 0, 0.4) 100%
    );
    background-image: radial-gradient(
        circle at center,
        transparent 0,
        rgba(218, 169, 0, 1),
        rgba(218, 169, 0, 0.4) 100%
    );
}
/* End product details */
/* Start bid & auto bid modal */
#bidModal button[type="submit"],
#autobidModal button[type="submit"] {
    background-color: var(--primary-color) !important;
}
/* End bid modal */