/* Checkout and Payment pages styles */
#checkout-page,
#payment-page {
    background: var(--black5-color);
}
#checkout-page h1,
#payment-page h1 {
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.checkout-custom-page {
    padding: 120px 0px 184px;
}
#checkout-page .product-section,
#payment-page .product-section {
    padding: 160px 0px;
} 
/* Start select2 styles */
.checkout-custom-page .select-wrapper {
    background-color: #f9f9f9;
    position: relative;
}
select.custom-select-element {
    bottom: 0;
    left: 50%;
}
.checkout-custom-page .select-wrapper .select2-container {
    width: 100% !important;
}
.custom-selection {
    background-color: transparent !important;
    border: 1px solid #ced4da !important;
    border-radius: 4px !important;
}
.checkout-custom-page .select2-container .select2-selection--single {
    height: 40px;
}
.checkout-custom-page
    .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 40px;
    padding-left: 12px;
    padding-right: 32px;
}
.checkout-custom-page
    .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 40px;
    right: 10px;
}
.custom-select-option {
    color: var(--black75-color);
    font-size: 15px;
}
.select2-container--default
    .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: rgba(0, 142, 143, 0.1);
    border-radius: 4px;
}
.select2-container--default .select2-results__option--selected {
    border-radius: 4px;
    background-color: transparent;
}
.select2-container--default .select2-results > .select2-results__options {
    padding: 16px 13px;
}
.custom-select-option svg {
    padding-bottom: 2px;
    margin-right: 2px;
    opacity: 0;
}
.select2-results__option--selected .custom-select-option,
.select2-results__option--selected svg {
    color: #000000;
    opacity: 1;
}
.custom-dropdown {
    background: #f9f9f9;
    border: 1px solid #ced4da;
    border-radius: 4px;
    overflow: hidden;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__arrow
    b {
    border: none !important;
    height: 100% !important;
    width: 30px !important;
    margin: auto !important;
    top: auto !important;
    left: auto !important;
}
.custom-selection b::before {
    content: "";
    width: 10px;
    height: 1px;
    background: var(--black-color);
    display: block;
    position: absolute;
    top: 50%;
    left: -4px;
    -webkit-transform: translatey(-50%) rotate(35deg);
    -ms-transform: translatey(-50%) rotate(35deg);
    transform: translatey(-50%) rotate(35deg);
}
.custom-selection b::after {
    content: "";
    width: 10px;
    height: 1px;
    background: var(--black-color);
    display: block;
    position: absolute;
    top: 50%;
    left: 4px;
    -webkit-transform: translatey(-50%) rotate(-35deg);
    -ms-transform: translatey(-50%) rotate(-35deg);
    transform: translatey(-50%) rotate(-35deg);
}
.custom-selection[aria-expanded="true"] b::before {
    -webkit-transform: translatey(-50%) rotate(-35deg) !important;
    -ms-transform: translatey(-50%) rotate(-35deg) !important;
    transform: translatey(-50%) rotate(-35deg) !important;
}
.custom-selection[aria-expanded="true"] b::after {
    -webkit-transform: translatey(-50%) rotate(35deg) !important;
    -ms-transform: translatey(-50%) rotate(35deg) !important;
    transform: translatey(-50%) rotate(35deg) !important;
} /* End select2 styles */ /* Start checkout page order steps */
.checkout-custom-page .order-steps .accordion {
    background: #ffffff;
    border: 1px solid var(--black25-color);
    border-radius: 8px;
}
.checkout-custom-page .order-steps .accordion-item {
    border-bottom: 1px solid var(--black25-color);
}
.checkout-custom-page .order-steps .border-element {
    width: 100%;
    height: 1px;
    background-color: var(--black25-color);
}
.checkout-custom-page .order-steps #payment-collapse.show + .border-element {
    display: none;
}
.checkout-custom-page .order-steps h2.accordion-header {
    padding: 20px 16px;
    margin: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.checkout-custom-page .order-steps h2.accordion-header i {
    width: 18px;
    text-align: center;
    margin-right: 8px;
}
.checkout-custom-page .order-steps h2.accordion-header span {
    text-transform: uppercase;
    line-height: 17px;
}
.checkout-custom-page .order-steps .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23008e8f'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.checkout-custom-page .order-steps .accordion-button:not(.collapsed),
.checkout-custom-page .order-steps .accordion-button.collapsed {
    background-color: transparent;
    border: none;
    border-radius: 0px;
    padding: 0px;
}
.checkout-custom-page .order-steps .accordion-button:not(.collapsed) {
    color: var(--primary-color);
}
.checkout-custom-page .order-steps .accordion-collapse {
    border: none;
}
.checkout-custom-page .order-steps .accordion-body {
    padding: 16px 16px 0px;
}
.checkout-custom-page .order-steps .customer-info {
    width: calc(100% - 100px);
}
.checkout-custom-page .order-steps .customer-info td {
    color: var(--black75-color);
}
.checkout-custom-page .order-steps .edit-profile-btn {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.checkout-custom-page .order-steps .edit-profile-btn i,
.checkout-custom-page .order-steps .edit-profile-btn a {
    color: var(--primary-color);
}
.checkout-custom-page .order-steps .edit-profile-btn i {
    font-size: 18px;
}
.checkout-custom-page .order-steps .edit-profile-btn a {
    line-height: 24px;
}
.checkout-custom-page .order-step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 15px;
    border-bottom: 2px solid #ebebeb;
    padding-top: 35px;
    padding-bottom: 35px;
}
.checkout-custom-page .order-step > h2,
.checkout-custom-page .order-step > p {
    margin: 0;
}
.checkout-custom-page .order-step > h2 {
    width: 100px;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1;
}
.checkout-custom-page .order-step > p {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.checkout-custom-page .order-step > i {
    background-color: #555;
    color: white;
    padding: 5px;
    border-radius: 100%;
}
.checkout-custom-page .submit-btn-container {
    padding: 40px 16px 24px;
    text-align: right;
}
.checkout-custom-page .submit-btn-container .submit-btn {
    padding: 14px 30px;
    background: var(--primary-color);
    border-radius: 25px;
    border: none;
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    color: #ffffff;
    -webkit-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    text-transform: uppercase;
}
.checkout-custom-page .submit-btn-container .submit-btn:hover {
    background-color: #333;
}
.checkout-custom-page .payment {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.checkout-custom-page .payment > p {
    width: 100%;
    font-weight: bold;
}
.checkout-custom-page .payment > form {
    width: 80%;
    margin: 5px auto;
}
.checkout-custom-page .payment > form div {
    background: #ebebeb;
    height: 350px;
    margin-bottom: 25px;
}
.checkout-custom-page .order-step-number {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-weight: bold;
    background-color: #555;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
} 
/* End checkout page order steps */ 
/* Start payment page pay now */
.cmn--card {
    height: 100%;
    border: none;
    background-color: transparent !important;
}
.cmn--card .card-header {
    background: rgba(255, 255, 255, 0.051);
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: -1px;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
.cmn--card .card-header .card-title {
    text-align: center;
    margin: 0;
    color: #fff;
    font-size: 18px;
}
.cmn--card .card-body {
    background: rgba(255, 255, 255, 0.03);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.cmn--card .card-body:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0 0 5px 5px;
}
.cmn--card .card-footer {
    text-align: center;
    background: rgba(255, 255, 255, 0.051);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
@media (min-width: 992px) and (max-width: 1199px) {
    .cmn--card .card-footer .cmn--btn {
        font-size: 14px;
        padding: 8px 20px;
    }
}
.cmn--card .form--control[readonly] {
    background: #001329;
}
.cmn--card img {
    width: 100%;
}
.checkout-custom-page .pay-now .card {
    background: #ffffff;
    border: 1px solid var(--black25-color);
    border-radius: 8px;
}
.checkout-custom-page .pay-now .card-body {
    padding: 55px 24px 28px;
}
.checkout-custom-page .pay-now #card-element {
    margin-top: 56px;
    margin-bottom: 40px;
}
.checkout-custom-page .pay-now .pay-now-btn {
    border-radius: 25px;
    -webkit-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    padding-top: 14px;
    padding-bottom: 14px;
    border: none;
}
.checkout-custom-page .pay-now .pay-now-btn:hover {
    background-color: #333 !important;
} 
/* End payment page pay now */ 
/* Start order summart cart */
.checkout-custom-page .order-summary .cart {
    width: 100%;
    margin-top: 52px;
}
.checkout-custom-page .cart-header,
.checkout-custom-page .cart-items {
    border-bottom: 1px solid var(--black25-color);
}
.checkout-custom-page .cart-order-info {
    border-bottom: 2px solid var(--black-color);
    padding-top: 28px;
    padding-bottom: 28px;
}
.checkout-custom-page .cart-header h5 {
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    color: #000000;
    margin: 0px;
    padding: 0px 20px 20px;
}
.checkout-custom-page .cart-items {
    padding-top: 16px;
    padding-bottom: 16px;
}
.checkout-custom-page .cart-item {
    margin-bottom: 40px;
}
.checkout-custom-page .cart-item > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 10px;
}
.checkout-custom-page .cart-order-info div p,
.checkout-custom-page .cart-item > p {
    margin: 0px !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black75-color);
}
.checkout-custom-page .cart-item > div > span {
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    color: var(--black-color);
}
.checkout-custom-page .cart-item-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    line-height: 1.3;
}
.checkout-custom-page .cart-item-description img {
    width: 100px;
}
.checkout-custom-page .cart-item-description div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black75-color);
}
.checkout-custom-page .cart-item-description p {
    margin: 0;
}
.checkout-custom-page .cart-header button,
.checkout-custom-page .cart-order-info button {
    background: transparent;
    border: 0;
    color: #8587f7;
    cursor: pointer;
    padding: 0;
}
.checkout-custom-page .cart-order-info > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.checkout-custom-page .cart-order-info div b {
    font-family: "Lato";
    font-style: normal;
    line-height: 24px;
    color: var(--black-color);
}
.checkout-custom-page .cart-order-info .num-value {
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    color: var(--black-color);
}
.checkout-custom-page .cart-order-info .shipping-method-cost .select-wrapper {
    width: 60%;
}
.checkout-custom-page
    .cart-order-info
    .shipping-method-cost
    .select-wrapper
    .select2-container {
    width: 100% !important;
}
.checkout-custom-page .cart-order-info .shipping-method-cost > span {
    width: 40%;
    text-align: right;
    padding-left: 8px;
}
.checkout-custom-page .cart-order-info button {
    margin: 10px 0;
    font-size: 1.05rem;
}
.checkout-custom-page .cart-footer {
    padding-top: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 10px;
}
.checkout-custom-page .cart-footer .total-label {
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    color: var(--black-color);
}
.checkout-custom-page .cart-footer .price-label {
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    color: var(--black-color);
}
.checkout-custom-page .form-control {
    height: 40px;
}
@media (min-width: 1200px) {
    .checkout-custom-page .order-summary .cart {
        width: 85%;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        left: 100%;
        top: 80px;
        margin-top: 0px;
    }
} 
/* End order summart cart */
/* Start custom checkbox */
.custom-input-container {
    position: relative;
}
.custom-input-container label {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 8px;
    position: relative;
}
.custom-input-container label i {
    font-size: 9px;
    color: #ffffff;
    display: none;
}
.custom-input-container label::before {
    content: "";
    width: 24px;
    height: 24px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background: #f9f9f9;
    border: 1px solid #ced4da;
    border-radius: 4px;
}
.custom-input-container label:hover::before {
    border: 1px solid var(--primary-color);
}
.custom-input-container input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.custom-input-container input[type="checkbox"]:checked + label::before {
    border: 1px solid transparent;
    background: -o-linear-gradient(
        31.5deg,
        #008cbd 13.06%,
        #008e8f 49.23%,
        #008c64 84.65%
    );
    background: linear-gradient(
        58.5deg,
        #008cbd 13.06%,
        #008e8f 49.23%,
        #008c64 84.65%
    );
}
.custom-input-container input[type="checkbox"]:checked + label i {
    display: block;
    position: absolute;
    bottom: 7px;
    left: 7.5px;
} 
/* End custom checkbox */