/* You can use the following link to delete spaces: https://codebeautify.org/remove-extra-spaces */ /* Start theme styles */ /* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
} /* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
::-moz-selection {
    background-color: var(--primary-color);
    color: #ffffff;
}
::selection {
    background-color: var(--primary-color);
    color: #ffffff;
}
.reset-button-styles {
    border: none !important;
    outline: none !important;
    background-color: transparent;
}
.change-bg-hover-effect {
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.change-bg-hover-effect:hover {
    background-color: rgba(255, 97, 40, 0.04);
}
.heading-2,
.heading-3,
.heading-4,
.heading-5 {
    font-style: normal;
    font-weight: 700;
    color: var(--black-color) !important;
}
.heading-2 {
    font-size: 42px !important;
    line-height: 55px !important;
}
.heading-3 {
    font-size: 30px !important;
    line-height: 39px !important;
}
.heading-4 {
    font-size: 28px !important;
    line-height: 36px !important;
}
.heading-5 {
    font-size: 21px !important;
    line-height: 32px !important;
}
.paragraph-level-1,
.paragraph-level-2 {
    font-style: normal;
    font-weight: 400;
    color: var(--black75-color) !important;
}
.paragraph-level-1 {
    font-size: 21px !important;
    line-height: 32px !important;
}
.paragraph-level-2 {
    font-size: 16px !important;
    line-height: 24px !important;
}
.ace-secondary-color {
    color: var(--ACE-secondary-color) !important;
}
.primary-color {
    color: var(--primary-color) !important;
}
.blue-color {
    color: #008cbd !important;
}
.black-color {
    color: var(--black-color) !important;
}
.black-75 {
    color: var(--black75-color) !important;
}
.bg-primary-color {
    background-color: var(--primary-color);
}
.bounce-in-right {
    -webkit-animation: bounce-in-right 1.4s ease-in-out 1;
    animation: bounce-in-right 1.4s ease-in-out 1;
}
@-webkit-keyframes bounce-in-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
    }
    50% {
        opacity: 1;
        -webkit-transform: translateX(-80px);
        transform: translateX(-80px);
    }
    70% {
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
    }
    80% {
        -webkit-transform: translateX(-60px);
        transform: translateX(-60px);
    }
    90% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes bounce-in-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
    }
    50% {
        opacity: 1;
        -webkit-transform: translateX(-80px);
        transform: translateX(-80px);
    }
    70% {
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
    }
    80% {
        -webkit-transform: translateX(-60px);
        transform: translateX(-60px);
    }
    90% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.bounce-in-l {
    -webkit-animation: bounce-in-l 1.7s ease-in-out 1;
    animation: bounce-in-l 1.7s ease-in-out 1;
}
@-webkit-keyframes bounce-in-l {
    0% {
        left: 2000px;
    }
    70% {
        left: -25px;
    }
    100% {
        left: 0;
    }
}
.bounce-in-r {
    -webkit-animation: bounce-in-r 1.7s ease-in-out 1;
    animation: bounce-in-r 1.7s ease-in-out 1;
}
@-webkit-keyframes bounce-in-r {
    0% {
        right: 2000px;
    }
    70% {
        right: -25px;
    }
    100% {
        right: 0;
    }
}
.bounce-in-top {
    -webkit-animation: bounce-in-top 1.5s ease-in-out 1;
    animation: bounce-in-top 1.5s ease-in-out 1;
}
@-webkit-keyframes bounce-in-top {
    0% {
        top: -2000px;
    }
    70% {
        top: 25px;
    }
    100% {
        top: 0;
    }
}
@keyframes bounce-in-top {
    0% {
        top: -2000px;
    }
    70% {
        top: 25px;
    }
    100% {
        top: 0;
    }
}
.bounce-in-bottom {
    -webkit-animation: bounce-in-bottom 1.5s ease-in-out 1;
    animation: bounce-in-bottom 1.5s ease-in-out 1;
}
@-webkit-keyframes bounce-in-bottom {
    0% {
        bottom: -2000px;
    }
    70% {
        bottom: 25px;
    }
    100% {
        bottom: 0;
    }
}
@keyframes bounce-in-bottom {
    0% {
        bottom: -2000px;
    }
    70% {
        bottom: 25px;
    }
    100% {
        bottom: 0;
    }
}
.heart-icon-color {
    color: var(--primary-color) !important;
}
@media (min-width: 992px) {
    .lg-w-auto {
        width: auto !important;
    }
}
@media (min-width: 1200px) {
    .xxl-w-100 {
        width: 100% !important;
    }
}
.btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
} /* End theme styles */ /* Start components styles */
.select-with-label {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 8px 12px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    color: #212529;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' fill-opacity='0.56' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 8px;
}
.select-with-label + label {
    position: absolute;
    top: -6px;
    left: 12px;
    -webkit-transition: 0.2s ease-out top, 0.2s ease-out left,
        0.2s ease-out font-size;
    -o-transition: 0.2s ease-out top, 0.2s ease-out left,
        0.2s ease-out font-size;
    transition: 0.2s ease-out top, 0.2s ease-out left, 0.2s ease-out font-size;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    background-color: #fff;
    z-index: 1;
}
.primary-filled-btn {
    height: 36px;
    padding: 6px 16px;
    color: var(--button-contained-color) !important;
    border-radius: var(--button-contained-radius) !important;
    background: var(--button-contained-background);
    border: none; /* border-radius: 4px; */
    -webkit-box-shadow: 0px 3px 1px -2px rgba(36, 40, 40, 0.2);
    box-shadow: 0px 3px 1px -2px rgba(36, 40, 40, 0.2);
    color: white;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    line-height: 24px;
    -webkit-box-shadow: 0px 3px 1px -2px rgba(36, 40, 40, 0.2),
        0px 2px 2px 0px rgba(36, 40, 40, 0.14),
        0px 1px 5px 0px rgba(36, 40, 40, 0.12);
    box-shadow: 0px 3px 1px -2px rgba(36, 40, 40, 0.2),
        0px 2px 2px 0px rgba(36, 40, 40, 0.14),
        0px 1px 5px 0px rgba(36, 40, 40, 0.12);
    text-transform: var(--button-contained-text_transform) !important;
    font-style: var(--button-contained-style) !important;
    letter-spacing: var(--button-contained-letter_spacing) !important;
    font-family: "buttonFont", sans-serif !important;
}
.primary-filled-btn:hover,
.primary-filled-btn:focus {
    background: var(--button-contained-hover);
}
.primary-outline-btn {
    height: 36px;
    padding: 6px 16px;
    background: white;
    border: 1px solid var(--button-outline-color); /* border-radius: 4px; */
    color: var(--button-outline-color);
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    line-height: 24px;
    color: var(--button-outlined-color) !important;
    border-radius: var(--button-outlined-radius) !important;
    text-transform: var(--button-outlined-text_transform) !important;
    font-style: var(--button-outlined-style) !important;
    letter-spacing: var(--button-outlined-letter_spacing) !important;
    font-family: "outlinedButtonFont", sans-serif !important;
}
.primary-outline-btn:hover,
.primary-outline-btn:focus {
    background: var(--button-outline-hover);
}
.fatal-error-overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(41, 42, 42, 0.95);
    z-index: 9999;
}
.fatal-error-overlay i {
    font-size: 64px;
    color: #ffffff;
}
.fatal-error-overlay p {
    color: #ffffff;
    font-weight: bold;
    font-size: 32px;
}
.fatal-error-overlay h1 {
    color: #ffffff;
    font-size: 24px;
}
.fatal-error-overlay button {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    border-radius: 24px;
    border: none;
    outline: none;
}
.cup-progress-container {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 30;
    width: 100%;
    height: 100vh;
    background-color: rgba(247, 247, 247, 0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 130px;
}
.cup-progress-container .cup-wrapper {
    padding: 0px;
    background-color: var(--light-grey-color);
    -webkit-transform: scale(0.55);
    -ms-transform: scale(0.55);
    transform: scale(0.55);
}
.cup-progress-container .cup {
    position: relative;
    width: 220px;
    height: 180px;
    border-radius: 10px 10px 60px 75px;
    background: url("icons/coffee.png");
    background-color: var(--light-grey-color);
    background-repeat: repeat-x;
    background-position: 0 130px;
    -webkit-animation: filling 4s infinite;
    animation: filling 4s infinite;
}
@-webkit-keyframes filling {
    0%,
    100% {
        background-position: 0 130px;
    }
    50% {
        background-position: 600px -70px;
    }
}
@keyframes filling {
    0%,
    100% {
        background-position: 0 130px;
    }
    50% {
        background-position: 600px -70px;
    }
}
.cup-progress-container .cup img {
    position: absolute;
    width: calc(100% + 110px);
    left: -25px;
    top: -24px;
}
.cup-progress-container p {
    background-color: var(--light-grey-color);
    color: var(--black75-color);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: center;
    font-weight: 700;
    padding: 4px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1;
    margin-top: 0px;
}
.custom-tooltip {
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    background-color: var(--black-color);
    border-radius: 4px;
    -webkit-box-shadow: 7px 10px 5px rgba(41, 42, 43, 0.01),
        4px 5px 4px rgba(41, 42, 43, 0.05), 2px 2px 3px rgba(41, 42, 43, 0.09),
        0px 1px 2px rgba(41, 42, 43, 0.1), 0px 0px 0px rgba(41, 42, 43, 0.1);
    box-shadow: 7px 10px 5px rgba(41, 42, 43, 0.01),
        4px 5px 4px rgba(41, 42, 43, 0.05), 2px 2px 3px rgba(41, 42, 43, 0.09),
        0px 1px 2px rgba(41, 42, 43, 0.1), 0px 0px 0px rgba(41, 42, 43, 0.1);
    padding: 4px 8px;
    z-index: 99;
    max-width: 186px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: none;
    text-transform: initial !important;
}
.custom-tooltip-top {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: calc(100% + 8px);
}
.custom-tooltip-top::before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    background-color: var(--black-color);
    position: absolute;
    bottom: -6px;
    left: 50%;
    -webkit-transform: rotate(45deg) translateX(-50%);
    -ms-transform: rotate(45deg) translateX(-50%);
    transform: rotate(45deg) translateX(-50%);
}
.custom-tooltip-bottom {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: calc(100% + 8px);
}
.custom-tooltip-bottom::before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    background-color: var(--black-color);
    position: absolute;
    top: -1px;
    left: 50%;
    -webkit-transform: rotate(45deg) translateX(-50%);
    -ms-transform: rotate(45deg) translateX(-50%);
    transform: rotate(45deg) translateX(-50%);
}
.custom-tooltip-left {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: calc(100% + 8px);
}
.custom-tooltip-left::before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    background-color: var(--black-color);
    position: absolute;
    right: -1px;
    top: 50%;
    -webkit-transform: rotate(45deg) translateY(-50%);
    -ms-transform: rotate(45deg) translateY(-50%);
    transform: rotate(45deg) translateY(-50%);
}
.custom-tooltip-right {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: calc(100% + 8px);
}
.custom-tooltip-right::before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    background-color: var(--black-color);
    position: absolute;
    left: -6px;
    top: 50%;
    -webkit-transform: rotate(45deg) translateY(-50%);
    -ms-transform: rotate(45deg) translateY(-50%);
    transform: rotate(45deg) translateY(-50%);
}
@media (min-width: 576px) {
    .cup-progress-container .cup-wrapper {
        -webkit-transform: scale(0.75);
        -ms-transform: scale(0.75);
        transform: scale(0.75);
    }
    .cup-progress-container p {
        font-size: 22px;
        line-height: 1;
        margin-top: 24px;
    }
}
@media (min-width: 992px) {
    .cup-progress-container .cup-wrapper {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    .cup-progress-container p {
        font-size: 26px;
        line-height: 34px;
        margin-top: 56px;
    }
} /* End components styles */
.social-media-icons a {
    margin-right: 12px;
    font-size: 14px;
    color: var(--primary-color);
    -webkit-transition: color ease 0.3s;
    -o-transition: color ease 0.3s;
    transition: color ease 0.3s;
}
.social-media-icons a:hover {
    color: var(--black-color);
}
.btn-primary-facebook {
    color: #fff !important;
    background-color: #2e93e6 !important;
    border-color: #2e93e6 !important;
}
.btn-danger {
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}
.error {
    color: #dc3545;
}
.input-group label.error {
    top: 100%;
    position: absolute;
}
#overlay {
    position: absolute;
    top: 260px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
    z-index: 3;
    width: 100px;
    height: 100px;
}
.cv-spinner {
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    -webkit-animation: sp-anime 0.8s infinite linear;
    animation: sp-anime 0.8s infinite linear;
}
@-webkit-keyframes sp-anime {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes sp-anime {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.overlay-2 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #001329;
    z-index: 2;
    display: none;
    opacity: 0.9;
}
.account__section-content .form-control {
    background-color: transparent;
    color: #fff;
    border-color: #28364a;
    height: 50px;
}
.account__section-content .form-control option {
    color: #001329;
}
.account__section-content .form-control:focus {
    border-color: #c151cc;
}
.account__section-content label {
    margin-bottom: 3px;
}
.ace-header {
    z-index: 1;
}
.ace-header.light .header-icons svg {
    fill: #ffffff;
}
.ace-header.dark .header-icons svg {
    fill: var(--black-color);
}
.ace-header .header-icons li {
    border: 0px;
    outline: 0px;
    position: relative;
}
.ace-header .header-icons .cart-icon:hover .dropdown-content {
    display: block;
}
.shared-footer {
    position: relative;
    z-index: 2;
    background-color: #efefef;
    border-top: 1px dashed rgba(95, 95, 95, 0.25);
}
.shared-footer p {
    color: var(--black-color, #292a2b);
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px !important;
}
.shared-footer .powered-by img {
    width: 96px;
}
.btn--base,
.badge--base,
.bg--base,
.account__section-wrapper
    .account__section-content
    .section__header
    .section__title::after,
.read-more:hover::before {
    background-color: var(--primary-color) !important;
}
.main-header {
    background-color: var(--primary-backgroud-color);
}
.main-header .login-link {
    color: var(--black75-color) !important;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.main-header .header-icons li {
    border: 0px;
    outline: 0px;
    position: relative;
}
.main-header .header-icons li {
    padding: 10px 12px;
    border-radius: 100%;
    background-color: transparent;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.main-header .header-icons li:hover {
    background-color: rgba(36, 40, 40, 0.04);
}
.main-header .header-icons .cart-icon button {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0px;
}
.main-header .weight-select-container,
.main-header .currency-select-container {
    padding: 0px 28px 4px 5px;
}
.main-header .select2-container {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
}
.main-header
    .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 20px;
    position: absolute;
    top: 1px;
    right: -20px;
}
.main-header
    .select2-container--default
    .select2-selection--single
    .select2-selection__arrow
    b {
    border: none !important;
    height: 100% !important;
    width: 100% !important;
    margin: auto !important;
    top: auto !important;
    left: auto !important;
}
.main-header .custom-selection-container {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0px;
    height: 20px;
}
.main-header .custom-selection-container .select2-selection__rendered {
    font-size: 13px;
    line-height: 24px;
    padding: 0px;
    color: var(--primary-color);
}
.main-header .custom-selection-container b::before {
    content: "";
    width: 7px;
    height: 2px;
    background: var(--secondary-color);
    display: block;
    position: absolute;
    top: 50%;
    left: 10px;
    -webkit-transform: translatey(-50%) rotate(35deg);
    -ms-transform: translatey(-50%) rotate(35deg);
    transform: translatey(-50%) rotate(35deg);
}
.main-header .custom-selection-container b::after {
    content: "";
    width: 7px;
    height: 2px;
    background: var(--secondary-color);
    display: block;
    position: absolute;
    top: 50%;
    left: 14px;
    -webkit-transform: translatey(-50%) rotate(-35deg);
    -ms-transform: translatey(-50%) rotate(-35deg);
    transform: translatey(-50%) rotate(-35deg);
}
.main-header .custom-selection-container[aria-expanded="true"] b::before {
    -webkit-transform: translatey(-50%) rotate(-35deg) !important;
    -ms-transform: translatey(-50%) rotate(-35deg) !important;
    transform: translatey(-50%) rotate(-35deg) !important;
}
.main-header .custom-selection-container[aria-expanded="true"] b::after {
    -webkit-transform: translatey(-50%) rotate(35deg) !important;
    -ms-transform: translatey(-50%) rotate(35deg) !important;
    transform: translatey(-50%) rotate(35deg) !important;
}
.main-header
    .select2-container--default
    .select2-results
    > ul.select2-results__options {
    padding: 8px 4px 8px 4px;
}
.custom-dropdown-list {
    width: 102px !important;
    background: #ffffff;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    -webkit-box-shadow: 0px 71px 28px rgba(120, 129, 130, 0.01),
        0px 40px 24px rgba(120, 129, 130, 0.05),
        0px 18px 18px rgba(120, 129, 130, 0.09),
        0px 4px 10px rgba(120, 129, 130, 0.1),
        0px 0px 0px rgba(120, 129, 130, 0.1);
    box-shadow: 0px 71px 28px rgba(120, 129, 130, 0.01),
        0px 40px 24px rgba(120, 129, 130, 0.05),
        0px 18px 18px rgba(120, 129, 130, 0.09),
        0px 4px 10px rgba(120, 129, 130, 0.1),
        0px 0px 0px rgba(120, 129, 130, 0.1);
}
.custom-dropdown-list input[type="search"] {
    line-height: 18px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 4px;
}
.custom-dropdown-list .select2-results__option {
    padding: 2px;
}
.custom-dropdown-list li.select2-results__option--highlighted {
    background-color: rgba(64, 32, 32, 0.05) !important;
    border-radius: 4px;
}
.custom-dropdown-list .custom-select-option,
.custom-dropdown-list .select2-results__option--selected .custom-select-option,
.select2-results__option--selected svg {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: var(--black75-color);
} /* .main-header .header-icons .cart-icon:hover .dropdown-content { display: block; } .dropdown { position: relative; display: inline-block; } .dropdown-content { display: none; position: absolute; top: 100%; right: 0; background-color: #f9f9f9; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); padding: 12px 16px; z-index: 1; } .dropdown:hover .dropdown-content { display: block; } */
.text--base,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
.author-icon,
p a,
.cookies-card__icon,
.recent-blog .blog__content .date,
.blog-details-header .meta-1 li i,
.section__header.icon__contain .section__title .icon {
    color: var(--black-color) !important;
}
.footer--section {
    background-color: var(--footer-background-color);
}
.footer--section .footer-middle {
    border-top: 1px dashed rgba(95, 95, 95, 0.25);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #479eba;
}
a.cmn--btn:hover {
    background-color: var(--button-contained-hover) !important;
    color: #f9f9f9;
}
button.cmn--btn:hover {
    background-color: var(--button-contained-hover) !important;
    color: #f9f9f9;
}
.text--white {
    color: #333 !important;
}
.form-group .form-control {
    color: #333 !important;
    background: #f9f9f9 !important;
    border: 1px solid #ced4da;
    border-radius: 4px;
}
.form-group .form-control::-webkit-input-placeholder {
    color: var(--black50-color);
}
.form-group .form-control::-moz-placeholder {
    color: var(--black50-color);
}
.form-group .form-control:-ms-input-placeholder {
    color: var(--black50-color);
}
.form-group .form-control::-ms-input-placeholder {
    color: var(--black50-color);
}
.form-group .form-control::placeholder {
    color: var(--black50-color);
}
.account__section-content .form-control {
    color: #28364a !important;
}
.table_specific .small {
    font-weight: bold;
}
.modal-footer button {
    width: 80px;
}
.checkout-custom-page .bordered-btn {
    color: var(--primary-color);
    font-weight: 700;
    border: 0;
    padding-left: 0;
}
.checkout-custom-page .primary-btn {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border: none;
}
.accordion-body .row table {
    padding: 8px 15px;
}
.accordion-body .form-control {
    border: 1px #00000038 solid;
    padding: 5px;
}
.accordion-button:not(.collapsed) {
    color: white;
    background-color: var(--primary-color);
}
.accordion-button:focus {
    border-color: rgba(0, 0, 0, 0.125);
    -webkit-box-shadow: none;
    box-shadow: none;
}
.accordion-btn-edit {
    padding: 0;
}
#payment-form .form--control-2 {
    background-color: #f9f9f9 !important;
}
#payment-form .form--control-2,
#payment-form .form--control-2:focus {
    color: #333 !important;
}
#payment-form .form--control-2:-webkit-autofill {
    -webkit-text-fill-color: #333 !important;
}
.input-popup {
    color: #28c76f !important;
}
.menu-area .menu li a {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: var(--black-color);
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.menu-area .menu li a:hover,
.menu-area .menu li:hover > a,
.menu-area .menu li.open > a,
.menu-area .menu li.active > a {
    color: var(--primary-color);
    background: none !important;
    border: none !important;
    border-radius: 0px !important;
}
.menu-area .menu li {
    padding-left: 32px;
}
.dropdown-item:hover {
    color: var(--nav-hover-color) !important;
    background-color: transparent !important;
}
@media (min-width: 576px) {
    .social-media-icons a {
        margin-right: 16px;
        font-size: 16px;
    }
    .menu-area .menu li a {
        line-height: 38px;
        font-size: 29px;
    }
    .menu-area .menu li {
        padding: 14px 30px 14px 72px;
        background: -o-linear-gradient(
            left,
            rgba(0, 142, 143, 0.04) 50%,
            transparent 50%
        );
        background: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(50%, rgba(0, 142, 143, 0.04)),
            color-stop(50%, transparent)
        );
        background: linear-gradient(
            to right,
            rgba(0, 142, 143, 0.04) 50%,
            transparent 50%
        );
        background-size: 200% 100%;
        background-position: 100% 0;
        -webkit-transition: background-position 0.3s ease-in-out;
        -o-transition: background-position 0.3s ease-in-out;
        transition: background-position 0.3s ease-in-out;
        width: 99%;
    }
    .menu-area .menu li:hover {
        background-position: left;
        border-radius: 0px 30px 30px 0px;
    }
    .menu-area .menu li.active {
        background: rgba(0, 142, 143, 0.04);
        border-radius: 0px 30px 30px 0px;
    }
} /* Start modals */
.no-autobid-settings {
    color: var(--red-color);
    font-weight: 600;
    margin-bottom: 12px;
}
.modal-currency-code {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--black50-color);
    background: #f9f9f9 !important;
    position: absolute;
    right: 4px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0px 4px;
}
#bidModal form {
    background-color: #ffffff;
}
@media (min-width: 576px) {
    #bidModal .modal-dialog {
        width: 433px;
        max-width: 433px;
        margin: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    #autobidModal .modal-dialog,
    #bidModal_submit .modal-dialog {
        width: 400px;
        max-width: 400px;
        margin: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}
.accessRequestModal,
#auctionRegisterModal {
    top: 124px;
}
.accessRequestModal .modal-dialog,
#auctionRegisterModal .modal-dialog {
    max-width: 370px;
    margin: 1.75rem auto;
}
#sessionModal .modal-content,
.accessRequestModal .modal-content,
#auctionRegisterModal .modal-content,
#bidModal .modal-content,
#autobidModal .modal-content,
#bidModalLoading .modal-content {
    border-radius: 8px;
    overflow: hidden;
    border: 0px;
    background-color: transparent;
}
#sessionModal .modal-header,
.accessRequestModal .modal-header,
#auctionRegisterModal .modal-header,
#incorrect-bid-value-modal .modal-header,
#bidModal .modal-header,
#autobidModal .modal-header,
#bidModal_submit .modal-header,
#bidModalLoading .modal-header {
    background-color: var(--primary-color);
}
#sessionModal .modal-header,
.accessRequestModal .modal-header,
#auctionRegisterModal .modal-header,
#bidModal .modal-header,
#autobidModal .modal-header,
#bidModalLoading .modal-header {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
#sessionModal .modal-title,
.accessRequestModal .modal-title,
#auctionRegisterModal .modal-title,
#incorrect-bid-value-modal .modal-title,
#bidModal .modal-title,
#autobidModal .modal-title,
#bidModal_submit .modal-title,
#bidModalLoading .modal-title {
    font-style: normal;
    font-weight: 700;
    font-size: 21px !important;
    line-height: 32px !important;
    color: #ffffff !important;
}
.accessRequestModal .modal-body,
#auctionRegisterModal .modal-body {
    padding: 45px 24px;
}
#bidModal .modal-body {
    padding: 32px 21px 19px 16px;
}
#incorrect-bid-value-modal .modal-body,
#autobidModal .modal-body,
#bidModal_submit .modal-body {
    padding-bottom: 0rem;
}
.accessRequestModal .modal-body h6,
#auctionRegisterModal .modal-body h6,
#incorrect-bid-value-modal .modal-body h6,
#bidModal .modal-body h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    color: var(--black75-color) !important;
}
#bidModal .modal-body .msg_number {
    color: var(--primary-color) !important;
    font-weight: 700;
}
#autobidModal form,
#bidModal_submit form {
    background-color: #ffffff;
}
#autobidModal .form-group {
    margin-bottom: 21px;
}
#bidModal_submit .form-group {
    margin: 24px 21px;
}
#bidModal .modal-footer {
    border: 0px;
    padding: 0px 20px 30px;
    gap: 8px;
    background-color: #ffffff;
}
.accessRequestModal .modal-footer,
#auctionRegisterModal .modal-footer,
#incorrect-bid-value-modal .modal-footer,
#autobidModal .modal-footer,
#bidModal_submit .modal-footer {
    border: 0px;
    padding: 0px 30px 17px;
    background-color: #ffffff;
}
#sessionModal .modal-footer {
    border: 0px;
    padding: 15px 25px;
    background-color: #ffffff;
}
#sessionModal .modal-footer button,
.accessRequestModal .modal-footer button,
#auctionRegisterModal .modal-footer button,
#incorrect-bid-value-modal .modal-footer button,
#bidModal .modal-footer button,
#bidModal_submit .modal-footer button,
#autobidModal .modal-footer button,
#autobidModal .modal-footer a {
    padding: 8px 17px;
    border-radius: 26px;
    width: auto;
    margin: 0px;
    border: 0px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    font-style: normal;
    line-height: 26px;
}
#autobidModal .modal-footer #disable {
    background-color: var(--red-color);
    color: #ffffff;
}
#bidModalLoading {
    top: 75px;
} /* End modals */ /* Start cart styles */
.cart-icon-container {
    position: relative;
}
.cart-icon-container .item-count {
    background-color: var(--primary-color);
    border-radius: 999px;
    font-size: 10px;
    position: absolute;
    top: -5px;
    right: -5px;
    color: white;
    height: 15px;
    width: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
}
.cart-drawer {
    background-color: var(--primary-backgroud-color);
    width: 100%;
    max-width: 444px;
    overflow-y: scroll;
}
.cart-drawer .cart-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    background: #fff;
}
.cart-drawer .cart-header h5 {
    color: var(--text-primary-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.cart-drawer .cart-body {
    background-color: white;
    padding: 24px 24px 64px 24px;
}
.cart-drawer .cart-collapse {
    border-radius: var(--borderRadius, 4px) var(--borderRadius, 4px) 0px 0px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(36, 40, 40, 0.12),
        0px 1px 1px 0px rgba(36, 40, 40, 0.14),
        0px 2px 1px -1px rgba(36, 40, 40, 0.2);
    box-shadow: 0px 1px 3px 0px rgba(36, 40, 40, 0.12),
        0px 1px 1px 0px rgba(36, 40, 40, 0.14),
        0px 2px 1px -1px rgba(36, 40, 40, 0.2);
}
.cart-drawer .collapse-link {
    padding: 12px 16px;
    text-transform: capitalize;
}
.cart-drawer .collapse-title {
    color: var(--text-primary-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.cart-drawer .num-of-items-widget {
    border-radius: 100px;
    background: var(--chips-color-background);
    padding: 3px 4px;
}
.cart-drawer .num-of-items-widget svg {
    fill: var(--main-svg-color);
}
.cart-drawer .num-of-items-widget .num-of-items {
    color: var(--chips-color-text);
    padding-left: 6px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
.cart-drawer .collapse-body {
    padding: 8px 16px 32px;
}
.cart-drawer .empty-cart {
    background-color: #f5f5f5;
    padding: 16px 24px;
    border-radius: 4px;
}
.cart-drawer .empty-cart h3 {
    color: var(--text-primary-color);
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    font-size: 16px;
}
.cart-drawer .empty-cart p {
    color: var(--text-primary-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-left: 36px;
}
.cart-drawer .cart-item {
    cursor: auto;
}
.cart-drawer .cart-item > div:first-child {
    width: 55%;
}
.cart-drawer .cart-item > div:last-child {
    width: 44%;
}
.cart-drawer .cart-item-image {
    width: 100%;
    height: 215px;
    border-radius: 4px;
    -o-object-fit: cover;
    object-fit: cover;
}
.cart-drawer .cart-item-property {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.cart-drawer .cart-item .cart-item-type {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
}
.cart-drawer .cart-item .cart-item-title {
    color: var(--text-primary-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.cart-drawer .cart-item .cart-item-subtitle {
    color: var(--text-primary-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.cart-drawer .cart-item .cart-item-price {
    color: var(--text-primary-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}
.cart-drawer .cart-item .cart-item-weight,
.cart-drawer .cart-item .cart-item-price-per-weight {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.cart-item-quantity h6 {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.input-spinner-cart .input-group .input-spinner:focus {
    background-color: transparent !important;
}
.input-spinner-cart .input-group .input-spinner {
    -webkit-box-flex: 0 !important;
    -ms-flex: none !important;
    flex: none !important;
    min-width: 48px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-left-width: 0px;
    border-right-width: 0px;
    margin: 0px;
    color: var(--text-primary-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.input-spinner-cart .input-group .btn-decrement:hover,
.input-spinner-cart .input-group .btn-increment:hover {
    background-color: #f5f5f5 !important;
}
.input-spinner-cart .input-group .btn-decrement {
    width: 32px !important;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-right-width: 0px;
    margin: 0px;
    color: rgba(36, 40, 40, 0.56);
}
.input-spinner-cart .input-group .btn-increment {
    width: 32px !important;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-left-width: 0px;
    margin: 0px;
    color: rgba(36, 40, 40, 0.56);
}
.cart-drawer .collapse-body hr {
    background-color: rgba(0, 0, 0, 0.12);
    border-color: rgba(0, 0, 0, 0.12);
}
.cart-drawer .collapse-body .subtotal {
    padding: 8px;
    background-color: #f5f5f5;
    color: var(--text-primary-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.cart-drawer .collapse-body .subtotal span:first-child {
    width: 40%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.cart-drawer .collapse-body .subtotal span:last-child {
    width: 60%;
    text-align: right;
}
.cart-drawer .collapse-body .checkout-link {
    border-radius: var(--button-contained-radius);
    background: var(--button-contained-background);
    font-family: "buttonFont", sans-serif !important;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.12),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.12),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2);
    color: var(--button-contained-color) !important;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom: 8px;
    border: none;
    outline: none;
    padding: 8px 22px;
}
.cart-drawer .collapse-body .checkout-link:hover {
    background-color: var(--button-contained-hover);
}
.cart-drawer .grand-total hr {
    background-color: var(--text-primary-color);
    border-color: var(--text-primary-color);
    margin-top: 48px;
}
.cart-drawer .grand-total span {
    color: var(--text-primary-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}
.cart-drawer .grand-total span:first-child {
    width: 40%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.cart-drawer .grand-total span {
    width: 60%;
    text-align: right;
} /* End cart styles */
