@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
:root {
    --primary-color: #008f8f;
    --secondary-color: #ff8749;
    --ACE-secondary-color: #dbaa00;
    --red-color: #bd0b00;
    --black-color: #292a2b;
    --black75-color: rgba(41, 42, 42, 0.75);
    --black50-color: rgba(95, 95, 95, 0.5);
    --black25-color: rgba(95, 95, 95, 0.25);
    --black10-color: rgba(95, 95, 95, 0.1);
    --black5-color: rgba(95, 95, 95, 0.05);
    --light-grey-color: rgb(247, 247, 247);
    --rounded: 8px;
    --small-shadow: 0px 13px 5px rgba(0, 0, 0, 0.02),
        0px 7px 4px rgba(0, 0, 0, 0.08), 0px 3px 3px rgba(0, 0, 0, 0.13),
        0px 1px 2px rgba(0, 0, 0, 0.15), 0px 0px 0px rgba(0, 0, 0, 0.15);
    --medium-shadow: 0px 71px 28px rgba(120, 129, 130, 0.01),
        0px 40px 24px rgba(120, 129, 130, 0.05),
        0px 18px 18px rgba(120, 129, 130, 0.09),
        0px 4px 10px rgba(120, 129, 130, 0.1),
        0px 0px 0px rgba(120, 129, 130, 0.1);
    --high-shadow: 0px 100px 80px rgba(120, 129, 130, 0.07),
        0px 41.7776px 33.4221px rgba(120, 129, 130, 0.0503198),
        0px 22.3363px 17.869px rgba(120, 129, 130, 0.0417275),
        0px 12.5216px 10.0172px rgba(120, 129, 130, 0.035),
        0px 6.6501px 5.32008px rgba(120, 129, 130, 0.0282725),
        0px 2.76726px 2.21381px rgba(120, 129, 130, 0.0196802);
}
*::-moz-selection {
    color: #fff;
}
*::selection {
    color: #fff;
}
html {
    font-size: 16px;
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #a4bdce;
    line-height: 26px;
    overflow-x: hidden;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    min-height: 100vh;
    background-color: #fff !important;
    color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
    color: #dcf3ff;
    font-family: sans-serif;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #dcf3ff;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    color: #c151cc;
}
h1 {
    font-size: 42px;
}
h2 {
    font-size: 36px;
    line-height: 46px;
    margin-top: -16px;
}
h3 {
    font-size: 28px;
    line-height: 38px;
    margin-top: -14px;
}
h4 {
    font-size: 24px;
    line-height: 28px;
    margin-top: -9px;
}
h5 {
    font-size: 20px;
    line-height: 26px;
    margin-top: -9px;
    font-weight: 600;
}
h6 {
    font-size: 18px;
    margin-top: -7px;
    font-weight: 500;
}
p {
    margin-top: -12px;
}
p:last-child {
    margin-bottom: -7px !important;
}
p a {
    color: #c151cc;
}
p a:hover {
    color: #c151cc;
}
@media (max-width: 575px) {
    p {
        font-size: 16px;
    }
}
@media (min-width: 768px) {
    h1 {
        font-size: 80px;
    }
    h2 {
        font-size: 54px;
        line-height: 64px;
        margin-top: -20px;
    }
    h3 {
        font-size: 36px;
        line-height: 46px;
        margin-top: -16px;
    }
    h4 {
        font-size: 28px;
        line-height: 38px;
        margin-top: -14px;
    }
    h5 {
        font-size: 24px;
        line-height: 28px;
        margin-top: -9px;
    }
    h6 {
        font-size: 20px;
        line-height: 26px;
        margin-top: -9px;
    }
}
a {
    display: inline-block;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
    padding: 5px 0;
}
.bg_img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.right_center {
    background-position: right center;
}
.left_center {
    background-position: left center;
}
.bottom_center {
    background-position: bottom center;
}
.bottom_left {
    background-position: bottom left;
}
.bottom_right {
    background-position: bottom right;
}
.top_center {
    background-position: top center;
}
.top_left {
    background-position: top left;
}
.top_right {
    background-position: top right;
}
.bg_contain {
    background-size: contain;
}
.bg_fixed {
    background-attachment: fixed;
}
.loader-frame,
.social__icons,
.vendor__single__author .title__area,
.review-item .content .entry-meta,
.review-item,
.product__single-item .meta-post,
.deposit-preview,
.dashboard__header-top,
.profile-wrapper,
.reply-item,
.dashboard__item,
.dashboard__item .dashboard__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.loader-frame {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    content: "";
}
.pt-60 {
    padding-top: 40px;
}
.pb-60 {
    padding-bottom: 40px;
}
.pt-120 {
    padding-top: 80px;
}
.pb-120 {
    padding-bottom: 80px;
}
.pt-80 {
    padding-top: 80px;
}
.pb-80 {
    padding-bottom: 80px;
}
@media (min-width: 992px) {
    .pt-60 {
        padding-top: 60px;
    }
    .pb-60 {
        padding-bottom: 60px;
    }
    .pt-120 {
        padding-top: 120px;
    }
    .pb-120 {
        padding-bottom: 120px;
    }
}
.overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 22, 49, 0.8);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.overlay.active {
    visibility: visible;
    opacity: 1;
}
a {
    text-decoration: none;
}
strong,
b {
    font-family: sans-serif;
}
.section__header {
    margin-bottom: 30px;
}
.section__header:not(.text-start) {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.section__header:not(.text-start) .progress--bar {
    margin-left: auto;
    margin-right: auto;
}
.section__header .section__txt {
    margin: 0;
    margin-top: 10px;
    padding-bottom: 10px;
}
@media (min-width: 768px) {
    .section__header {
        max-width: 640px;
        margin-bottom: 40px;
    }
    .section__header .section__txt {
        font-size: 18px;
    }
}
.section__header .progress--bar {
    height: 5px;
    margin: 15px 0 0;
    display: block;
    background: rgba(193, 81, 204, 0.3);
    max-width: 200px;
    position: relative;
}
.section__header .progress--bar .progress-bar {
    width: 34%;
    height: 5px;
    background-image: -o-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.3) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.3) 50%,
        rgba(255, 255, 255, 0.3) 75%,
        transparent 75%,
        transparent
    );
    background-image: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.3) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.3) 50%,
        rgba(255, 255, 255, 0.3) 75%,
        transparent 75%,
        transparent
    );
    background-size: 6px 6px;
    left: 33%;
    position: absolute;
}
.section__header.icon__contain .section__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.2;
}
.section__header.icon__contain .section__title .icon {
    width: 40px;
    color: #c151cc;
    font-size: 40px;
    line-height: 1;
}
.section__header.icon__contain .section__title .cont {
    max-width: calc(100% - 40px);
    -ms-flex-item-align: center;
    align-self: center;
    padding-left: 10px;
}
@media (min-width: 576px) {
    .section__header.icon__contain .section__title .cont {
        font-size: 30px;
    }
}
@media (max-width: 575px) {
    .section__header.icon__contain .section__title {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .section__header.icon__contain .progress--bar {
        margin-left: auto;
        margin-right: auto;
    }
}
.btn--primary,
.badge--primary,
.bg--primary {
    background-color: #7367f0 !important;
}
.btn--success,
.badge--success,
.bg--success {
    background-color: #28c76f !important;
}
.btn--danger,
.badge--danger,
.bg--danger {
    background-color: #ea5455 !important;
}
.btn--warning,
.badge--warning,
.bg--warning {
    background-color: #f99f0b !important;
}
.btn--warning {
    color: #192a56 !important;
}
.btn--info,
.badge--info,
.bg--info {
    background-color: #1e9ff2 !important;
}
.btn--dark,
.badge--dark,
.bg--dark {
    background-color: #192a56 !important;
}
.bg--white {
    background-color: #fff !important;
}
[class*="btn--"] {
    color: #fff;
    font-weight: 500;
}
[class*="btn--"]:hover {
    color: #fff;
}
.btn--warning,
.badge--warning {
    color: #dcf3ff;
}
.btn--warning:hover,
.badge--warning:hover {
    color: #dcf3ff;
}
.text--primary {
    color: #7367f0 !important;
}
.text--success {
    color: #28c76f !important;
}
.text--danger {
    color: #ea5455 !important;
}
.text--warning {
    color: #f99f0b !important;
}
.text--info {
    color: #1e9ff2 !important;
}
.text--white {
    color: #fff !important;
}
.text--white p,
.text--white ul li,
.text--white ul li a,
.text--white span {
    color: #ddd;
}
.text--black {
    color: #000 !important;
}
.text--body,
.text--title {
    color: #333 !important;
}
.bg--section {
    position: relative;
    background: url(./icons/noise-bg.png);
    background-size: 12px 12px;
    background-position: top center;
}
.bg--section > * {
    position: relative;
    z-index: 1;
}
.bg--section::before {
    position: absolute;
    content: "";
    inset: 0;
    background-color: #fff !important;
    border-radius: inherit;
}
@media (max-width: 575px) {
    .bg--section {
        background-size: 8px;
    }
}
body,
.bg--body {
    position: relative;
    background-image: url(./icons/noise-bg.png);
    background-size: 12px 12px;
    background-position: top center;
}
body .main-body,
body > *,
.bg--body .main-body,
.bg--body > * {
    position: relative;
}
.bg--body::before {
    position: absolute;
    content: "";
    inset: 0;
    background-color: #fff !important;
    border-radius: inherit;
}
@media (max-width: 575px) {
    body,
    .bg--body {
        background-size: 8px;
    }
}
.header-bar {
    position: relative;
    cursor: pointer;
    width: 25px;
    height: 20px;
}
.header-bar span {
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 100%;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    background-color: var(--nav-icons-color);
    left: 0;
}
.header-bar:hover span {
    background-color: #008e8f;
}
.header-bar span:first-child {
    top: 0;
}
.header-bar span:nth-child(2) {
    top: 52%;
    -webkit-transform: translateY(-65%);
    -ms-transform: translateY(-65%);
    transform: translateY(-65%);
}
.header-bar span:last-child {
    bottom: 0;
}
.header-bar.active span:first-child {
    -webkit-transform: rotate(45deg) translate(3px, 9px);
    -ms-transform: rotate(45deg) translate(3px, 9px);
    transform: rotate(45deg) translate(3px, 9px);
}
.header-bar.active span:nth-child(2) {
    opacity: 0;
}
.header-bar.active span:last-child {
    -webkit-transform: rotate(-45deg) translate(3px, -9px);
    -ms-transform: rotate(-45deg) translate(3px, -9px);
    transform: rotate(-45deg) translate(3px, -9px);
}
@media (max-width: 575px) {
    .header-bar {
        width: 22px;
        height: 16px;
    }
    .header-bar span {
        height: 2px;
        width: 20px;
    }
    .header-bar.active span:first-child {
        -webkit-transform: rotate(45deg) translate(4px, 6px);
        -ms-transform: rotate(45deg) translate(4px, 6px);
        transform: rotate(45deg) translate(4px, 6px);
    }
    .header-bar.active span:nth-child(2) {
        opacity: 0;
    }
    .header-bar.active span:last-child {
        -webkit-transform: rotate(-45deg) translate(4px, -6px);
        -ms-transform: rotate(-45deg) translate(4px, -6px);
        transform: rotate(-45deg) translate(4px, -6px);
    }
}
.form-control:focus {
    background: #001329;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    color: #fff;
}
.dark-bg {
    background: transparent;
    border-color: rgba(250, 240, 249, 0.1);
}
.dashboard__item {
    padding: 30px;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    text-align: center;
    -webkit-box-shadow: 0 0 10px rgba(193, 81, 204, 0.1);
    box-shadow: 0 0 10px rgba(193, 81, 204, 0.1);
    border: 1px dashed rgba(193, 81, 204, 0.3);
    height: 100%;
    color: #a4bdce;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
}
.dashboard__item .dashboard__title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.dashboard__item .dashboard__title .title {
    margin: 0;
}
.dashboard__item .dashboard__icon {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    color: #dcf3ff;
    background: #c151cc;
    display: block;
    color: #fff;
    border-radius: 10px;
    margin: 0 auto 10px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.dashboard__item a {
    margin: 0;
    color: rgba(220, 243, 255, 0.9);
}
@media (max-width: 575px) {
    .dashboard__item {
        max-width: 350px;
    }
}
.dashboard__item * {
    position: relative;
}
.dashboard__item .dashboard__icon {
    margin: 0;
}
.dashboard__item .cont {
    max-width: calc(100% - 60px);
    padding-left: 20px;
}
.dashboard__item .cont .dashboard-header {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.dashboard__item .cont .dashboard-header .title {
    font-size: 28px;
    line-height: 1;
}
.dashboard__item:hover .dashboard__icon {
    background: #fff !important;
    color: #c151cc;
}
.cmn--card {
    height: 100%;
    border: none;
    background-color: transparent !important;
}
.cmn--card .card-header {
    background: rgba(255, 255, 255, 0.051);
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: -1px;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
.cmn--card .card-header .card-title {
    text-align: center;
    margin: 0;
    color: #fff;
    font-size: 18px;
}
.cmn--card .card-body {
    background: rgba(255, 255, 255, 0.03);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.cmn--card .card-body:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0 0 5px 5px;
}
.cmn--card .card-footer {
    text-align: center;
    background: rgba(255, 255, 255, 0.051);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
@media (min-width: 992px) and (max-width: 1199px) {
    .cmn--card .card-footer .cmn--btn {
        font-size: 14px;
        padding: 8px 20px;
    }
}
.form-control:disabled,
.form-control[readonly] {
    background: transparent;
}
.cmn--card .form--control[readonly] {
    background: #001329;
}
.cmn--card img {
    width: 100%;
}
.cmn--table {
    color: #a4bdce;
    text-align: center;
}
.cmn--table thead {
    background: rgba(255, 255, 255, 0.1);
}
.cmn--table thead th {
    font-family: sans-serif;
    text-align: center;
    border: none;
    color: #fff;
    padding: 1.1rem 1rem 0.93rem;
    font-weight: 500;
    text-transform: capitalize;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.cmn--table thead th:first-child {
    text-align: left;
}
.cmn--table thead th:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.cmn--table .thumb img {
    width: 25px;
    height: 25px;
    -o-object-fit: contain;
    object-fit: contain;
}
.cmn--table tbody {
    font-size: 14px;
}
.cmn--table tbody tr td {
    vertical-align: middle;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 12px;
}
.cmn--table tbody tr:nth-of-type(even) {
    background: #001631;
}
@media (max-width: 1199px) {
    .cmn--table thead {
        display: none;
    }
    .cmn--table tbody tr {
        display: block;
    }
    .cmn--table tbody tr td {
        text-align: right;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        border-bottom: none;
    }
    .cmn--table tbody tr td::before {
        font-weight: 700;
        font-family: sans-serif;
        color: #dcf3ff;
        text-align: left;
        content: attr(data-label);
    }
    .cmn--table tbody tr:last-child {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .cmn--table tbody tr:nth-of-type(odd) {
        background: rgba(255, 255, 255, 0.051);
    }
}
@media (min-width: 1200px) {
    .cmn--table .details {
        max-width: 250px;
        margin: 0 auto;
    }
}
.cmn--table .badge {
    padding: 6px 10px;
    min-width: 65px;
}
.form--group {
    margin-bottom: 20px;
}
.form--control-2 {
    height: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    background: #001631;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
}
.form--control-2:focus {
    color: #fff;
    background: #001631;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(193, 81, 204, 0.4);
}
.form--control-2:-webkit-autofill,
.form--control-2:-webkit-autofill:hover,
.form--control-2:-webkit-autofill:focus,
.form--control-2:-webkit-autofill:active {
    -webkit-transition: background-color 5000s;
    transition: background-color 5000s;
    -webkit-text-fill-color: #fff !important;
}
.form--control-2[type="file"] {
    padding: 15px 20px;
    height: unset;
}
.form--control-2[readonly] {
    background: #001329;
}
textarea.form--control-2 {
    height: 140px;
}
.form--label-2 {
    text-transform: capitalize;
    font-family: sans-serif;
    margin-bottom: 10px;
}
.ticket__wrapper {
    border-radius: 5px;
    padding: 30px;
    -webkit-box-shadow: 0 0 10px rgba(193, 81, 204, 0.4);
    box-shadow: 0 0 10px rgba(193, 81, 204, 0.4);
}
.ticket__wrapper-title {
    margin: 0;
    margin-bottom: 25px;
}
.ticket__wrapper-title::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background: #c151cc;
}
.reply-item {
    padding: 20px 0;
    border: 1px dashed rgba(193, 81, 204, 0.2);
    border-radius: 5px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px;
}
.reply-item .name-area {
    padding: 20px;
    width: 220px;
    text-align: center;
}
.reply-item .name-area .title {
    margin: 0;
    font-size: 18px;
}
.reply-item .name-area .reply-thumb {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 15px;
}
.reply-item .name-area .reply-thumb img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.reply-item .content-area {
    width: calc(100% - 220px);
    padding: 20px;
    border-left: 1px solid rgba(220, 243, 255, 0.1);
}
.reply-item .content-area .meta-date {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
    display: block;
}
@media (max-width: 767px) {
    .reply-item {
        padding: 0;
    }
    .reply-item .name-area,
    .reply-item .content-area {
        width: 100%;
        border: none;
    }
    .reply-item .name-area {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
}
.reply-item::before {
    border-radius: 5px;
}
.reply-message-area {
    margin: -10px;
}
.reply-message-area li {
    padding: 0;
}
.reply-message-area li ul {
    padding-left: 20px;
}
@media (min-width: 768px) {
    .reply-message-area li ul {
        padding-left: 50px;
    }
}
.profile-wrapper {
    padding: 20px 0;
}
.profile-wrapper .profile-user {
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 0 auto 40px;
    position: relative;
}
.profile-wrapper .profile-user .thumb {
    width: 250px;
    height: 250px;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto 20px;
}
.profile-wrapper .profile-user .thumb img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.profile-wrapper .profile-form-area {
    width: calc(100% - 300px);
}
@media (min-width: 1200px) {
    .profile-wrapper .profile-form-area {
        padding-left: 60px;
    }
}
@media (max-width: 1199px) {
    .profile-wrapper .profile-form-area {
        width: 100%;
    }
}
.remove-image {
    display: none;
    font-size: 40px;
    color: #ea5455;
    right: 30px;
    top: 5px;
    position: absolute;
    cursor: pointer;
    line-height: 1;
}
@media screen and (max-width: 340px) {
    .remove-image {
        right: 10px;
    }
}
.two-factor-content {
    padding: 20px 0;
}
.two-factor-content .subtitle {
    padding-bottom: 30px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
    margin-bottom: 40px;
}
.two-factor-thumb {
    max-width: 150px;
    margin: 0 auto;
}
.two__fact__text {
    margin-bottom: 35px;
}
.counter-item {
    padding: 40px 20px;
    border-radius: 5px;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    overflow: hidden;
    border: 1px solid #333;
    position: relative;
}
.counter-item .counter-header .title {
    margin: 0;
    color: var(--black-color);
}
.counter-item .counter-header .title i {
    font-size: 80%;
    line-height: 1;
}
.counter-item .icon {
    font-size: 50px;
    line-height: 1;
    position: absolute;
    right: 20px;
    bottom: 20px;
    opacity: 0.2;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.counter-item:hover .icon {
    opacity: 0.4;
    -webkit-transform: scale(1.8);
    -ms-transform: scale(1.8);
    transform: scale(1.8);
}
@media screen and (min-width: 1800px) {
    .dashboard--item-width {
        width: 20%;
    }
}
.dashboard__sidebar .cmn--btn {
    padding: 8px 20px;
    text-transform: capitalize;
} /*Dashborad*/
.dashboard-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
}
.dashboard__sidebar {
    width: 100%;
    max-width: 299px;
    height: 100vh;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #0d223c;
}
.dashboard__sidebar .dashboard__logo {
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    background-color: #f9f9f9 !important;
}
.dashboard__sidebar .dashboard__logo a {
    height: 50px;
}
.dashboard__sidebar .dashboard__logo a img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.dashboard__sidebar .dashboard__logo .close-sidebar {
    color: #ea5455;
    font-size: 20px;
    line-height: 1;
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.dashboard__sidebar .dashboard__author {
    padding: 25px 15px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.dashboard__sidebar .dashboard__author .thumb {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    overflow: hidden;
}
.dashboard__sidebar .dashboard__author .thumb a {
    height: inherit;
    width: inherit;
}
.dashboard__sidebar .dashboard__author .thumb img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.dashboard__sidebar .dashboard__author .content {
    padding-left: 20px;
    width: calc(100% - 70px);
}
.dashboard__sidebar .dashboard__author .content .title {
    margin: 0;
}
.dashboard__sidebar .dashboard__author .content .title a {
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
}
.dashboard__sidebar .dashboard__author .content .cmn--btn {
    font-size: 14px;
    padding: 3px 10px;
}
.dashboard__sidebar .side__menu__footer {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.dashboard__sidebar .side__menu__footer .side__menu__footer__inner {
    padding: 20px 15px;
    text-align: center;
}
.dashboard__sidebar .side__menu__area {
    overflow: hidden;
}
.dashboard__sidebar .sidebar-container {
    overflow-y: auto;
    height: 100%;
}
.dashboard__sidebar .sidebar-container::-webkit-scrollbar {
    width: 3px;
}
.dashboard__sidebar .sidebar-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #fff;
    box-shadow: inset 0 0 6px #fff;
}
.side__menu {
    padding: 5px 0 20px;
}
.side__menu-title {
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px;
}
.side__menu li {
    padding: 0;
}
.side__menu li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 15px;
    color: rgba(255, 255, 255, 0.9);
    border-left: 4px solid transparent;
}
.side__menu li a:hover {
    border-color: #c151cc;
    background: rgba(255, 255, 255, 0.1);
}
.side__menu li a.active {
    background: rgba(255, 255, 255, 0.1);
    border-color: #c151cc;
}
.side__menu li a.active:hover {
    background: rgba(255, 255, 255, 0.2);
}
.side__menu li a i {
    width: 20px;
    font-size: 16px;
    text-align: center;
    line-height: 22px;
}
.side__menu li a .cont {
    padding-left: 8px;
}
.side__menu-select {
    height: 35px;
    background: transparent;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 14px;
    padding: 0 0 0 10px;
}
.side__menu-select:focus {
    outline: none;
}
.side__menu-select option {
    color: #dcf3ff;
    background: #001631;
}
.dashboard__article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% - 299px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
@media (max-width: 991px) {
    .dashboard__article {
        width: 100%;
    }
    .dashboard__sidebar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
    }
    .dashboard__sidebar.active {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
.dashboard-search {
    width: 100%;
    max-width: 300px;
}
.dashboard-search .form-control {
    height: 45px;
    background: rgba(255, 255, 255, 0.051);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    padding: 0 40px 0 15px;
}
.dashboard-search .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dashboard-search .form-control::-webkit-input-placeholder {
    color: #fff;
}
.dashboard-search .form-control::-moz-placeholder {
    color: #fff;
}
.dashboard-search .form-control:-ms-input-placeholder {
    color: #fff;
}
.dashboard-search .form-control::-ms-input-placeholder {
    color: #fff;
}
.dashboard-search .form-control::placeholder {
    color: #fff;
}
.dashboard-search .form-control:-webkit-autofill,
.dashboard-search .form-control:-webkit-autofill:hover,
.dashboard-search .form-control:-webkit-autofill:focus,
.dashboard-search .form-control:-webkit-autofill:active {
    -webkit-transition: background-color 5000s;
    transition: background-color 5000s;
    -webkit-text-fill-color: #fff !important;
}
.dashboard-search .submit-btn {
    position: absolute;
    line-height: 45px;
    right: 10px;
    top: 0;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dashboard__header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.dashboard__header-top {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    background: #001631;
}
@media (max-width: 575px) {
    .dashboard__header-top .dashboard-search {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
        width: 100%;
        max-width: 100%;
        margin-bottom: 18px;
    }
    .dashboard__header-top .dashboard__header__bar {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
}
.dashboard__header-bottom {
    background: #001329;
}
.dashboard__header-bottom ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.dashboard__header-bottom ul li {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0;
}
.dashboard__header-bottom ul li a {
    padding: 20px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    color: #dcf3ff;
}
.dashboard__header-bottom ul li a i {
    margin-left: auto;
}
.notify__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 15px;
    background: #001329;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}
.notify__item:not(:last-child) {
    margin-bottom: 5px;
}
.notify__item .notify__thumb {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.notify__item .notify__thumb i {
    color: #fff;
    font-size: 20px;
}
.notify__item .notify__thumb img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.notify__item .notify__content {
    width: calc(100% - 50px);
    padding-left: 15px;
    color: #a4bdce;
}
.notify__item .notify__content .title {
    font-size: 16px;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.notify__item .notify__content .info {
    font-size: 14px;
    line-height: 1.4;
    display: block;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.notify__item .notify__content .date {
    font-size: 12px;
    line-height: 1.5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.notify__item .notify__content .date i {
    color: #c151cc;
    font-size: 18px;
    margin-right: 5px;
}
.notify__item:hover {
    background: rgba(193, 81, 204, 0.2);
    border-color: #c151cc;
}
.modal {
    z-index: 9999;
}
.modal-close {
    border: 0px;
    padding: 0px;
    background-color: transparent;
    background-image: url(icons/times-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 17px;
    height: 17px;
    margin: 0 5px;
}
.modal .modal-header {
    background-color: var(--primary-color);
}
.modal .modal-body {
    background: white;
}
.modal .modal-body h6 {
    margin: 0;
    color: #000 !important;
}
.modal .modal-footer {
    background: #f9f9f9;
}
.modal .modal-header .modal-title {
    text-align: center;
    color: #fff;
    text-transform: capitalize;
}
input[type="checkbox"] {
    cursor: pointer;
}
.deposit-preview {
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px rgba(220, 243, 255, 0.2);
    box-shadow: 0 0 5px rgba(220, 243, 255, 0.2);
    max-width: 740px;
    margin: 0 auto;
}
.deposit-preview .deposit-thumb {
    width: 350px;
}
.deposit-preview .deposit-thumb img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.deposit-preview .deposit-content {
    width: calc(100% - 350px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-left: none;
    border-radius: 0 5px 5px 0;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.deposit-preview .deposit-content ul {
    width: 100%;
}
.deposit-preview .deposit-content ul li {
    padding: 10px 0;
    font-size: 14px;
}
.deposit-preview .deposit-content ul li:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 991px) {
    .deposit-preview .deposit-content,
    .deposit-preview .deposit-thumb {
        width: 50%;
    }
}
@media (max-width: 767px) {
    .deposit-preview {
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
    }
    .deposit-preview .deposit-thumb {
        width: 100%;
    }
    .deposit-preview .deposit-content {
        padding: 20px 25px;
        width: 100%;
        border-radius: 0 0 5px 5px;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
}
.dashboard__body {
    padding: 45px 15px 30px;
}
@media (max-width: 991px) {
    .dashboard__body {
        padding-left: 0;
        padding-right: 0;
    }
}
.dashboard__footer {
    padding: 0 15px;
    margin-top: auto;
}
.dashboard__footer .container-fluid {
    padding-top: 20px;
    padding-bottom: 15px;
    border-top: 1px dashed rgba(193, 81, 204, 0.3);
}
.price-range {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px;
}
.price-range label {
    margin: 0;
    font-weight: 500;
    color: var(--black-color);
}
.price-range input {
    height: unset;
    width: unset;
    padding: 7px;
    background: transparent;
    border: none;
    text-align: right;
    font-weight: 500;
    color: var(--black-color);
    padding-right: 0;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.filter-btn {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: var(--primary-color);
    color: #fff;
    border-radius: 3px;
}
.mb-20 {
    margin-bottom: 20px;
}
.account-section {
    height: 100vh;
    overflow-y: auto;
}
.account__section-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 100vh;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.account__section-wrapper .account__section-content {
    width: 100%;
    max-width: 500px;
    padding: 80px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px dashed rgba(255, 255, 255, 0.1);
}
.account__section-wrapper
    .account__section-content
    .section__header
    .section__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.account__section-wrapper
    .account__section-content
    .section__header
    .section__title::after {
    display: inline-block;
    content: "";
    height: 2px;
    width: 40px;
    background: #c151cc;
    margin-top: 10px;
}
@media screen and (max-width: 390px) {
    .account__section-wrapper .account__section-content {
        padding: 50px 20px;
    }
}
.account__section-wrapper
    .account__section-content.account__section-content-reg {
    max-width: 600px;
}
.account__section-wrapper .account__section-content .logo {
    max-width: 300px;
}
.account__section-wrapper .account__section-content .logo a {
    display: block;
    height: 60px;
}
.account__section-wrapper .account__section-content .logo a img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: left;
    object-position: left;
}
@media (max-width: 575px) {
    .account__section-wrapper .account__section-content .logo {
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}
.account__section-wrapper .account__section-thumb {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.account__section-wrapper .account__section-thumb .logo {
    margin: 0 auto;
    padding: 30px;
    max-width: 300px;
}
.account__section-wrapper .account__section-thumb .logo a {
    display: block;
    height: 60px;
}
.account__section-wrapper .account__section-thumb .logo a img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}
.form--label {
    font-family: "Lato";
    color: var(--black-color);
    display: block;
    cursor: pointer;
    margin-bottom: 0;
    text-transform: capitalize;
}
.form-group {
    margin-bottom: 28px;
}
.form--control {
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0;
    padding: 0;
    height: 35px;
    color: #fff;
}
.form--control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    color: #fff;
}
select.form--control option {
    color: #001329;
}
.input-group-text {
    padding: 0 15px;
}
textarea.form--control {
    height: 120px;
}
.form--control:-webkit-autofill,
.form--control:-webkit-autofill:hover,
.form--control:-webkit-autofill:focus,
.form--control:-webkit-autofill:active {
    -webkit-transition: background-color 5000s;
    transition: background-color 5000s;
    -webkit-text-fill-color: #333 !important;
}
.referral-group .form--control {
    height: 60px;
    background: transparent;
    border-radius: 5px 0 0 5px;
    padding: 0 20px;
    background: #001631;
}
.referral-group .cmn--btn {
    min-width: 60px;
    height: 60px;
}
.preloader {
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    text-align: center;
}
.preloader img {
    width: 70px;
    height: 70px;
    -o-object-fit: contain;
    object-fit: contain;
}
.loader-frame {
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px;
}
.circle {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
    background-color: #fff 0%;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
}
.loader1 {
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    -webkit-animation: clockwisespin 5s linear 3;
    animation: clockwisespin 5s linear 3;
}
@-webkit-keyframes clockwisespin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes clockwisespin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.scrollToTop {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    z-index: 9;
    bottom: 100px;
    right: 35px;
    font-size: 18px;
    position: fixed;
    border-radius: 5px;
    -webkit-transform: translateY(150px);
    -ms-transform: translateY(150px);
    transform: translateY(150px);
    display: block;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.scrollToTop:hover {
    color: #fff;
}
.scrollToTop.active {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    animation: bounceInDown 2s;
    -webkit-animation: bounceInDown 2s;
    -moz-animation: bounceInDown 2s;
}
.scrollToTop img {
    width: 100%;
}
.cmn--btn {
    color: #f9f9f9;
    border-radius: 25px;
    line-height: 24px;
    font-weight: 700;
    padding: 14px 30px 12px;
    background-color: var(--primary-color) !important;
    border: 1px solid rgba(193, 81, 204, 0.2);
    text-transform: uppercase;
    font-size: 16px;
    overflow: hidden;
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Lato", sans-serif;
    cursor: pointer;
}
.cmn--btn.active {
    border: 2px solid #c151cc;
    color: #c151cc;
    background: transparent !important;
}
.cmn--btn.active:hover {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}
.cmn--btn:hover {
    background: transparent !important;
    color: #dcf3ff;
}
.cmn--btn.btn--sm {
    padding: 5px 15px;
}
.cmn--btn.btn--md {
    padding: 10px 25px;
}
.cmn--btn.btn--lg {
    padding: 13px 35px;
}
.cmn--btn.btn--block {
    padding: 10px 25px;
    display: block;
}
button.cmn--btn {
    border-radius: 5px;
}
.pagination {
    margin: -3px;
    margin-top: 25px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.pagination .page-item {
    text-align: center;
    padding: 3px;
}
.pagination .page-item a,
.pagination .page-item span {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.1);
    color: #dcf3ff;
    padding: 0;
    line-height: 40px;
    display: block;
    margin: 0;
    border: 1px solid rgba(220, 243, 255, 0.2);
    background: #001631;
}
.pagination .page-item a.active,
.pagination .page-item span.active {
    background: #c151cc;
}
.pagination .page-item span {
    border: none;
}
.pagination .page-item.active span,
.pagination .page-item.active a,
.pagination .page-item:hover span,
.pagination .page-item:hover a {
    color: #fff;
    border-color: rgba(220, 243, 255, 0.2);
}
.pagination .page-item.disabled span {
    background: rgba(193, 81, 204, 0.3);
    border: none;
    color: #fff;
}
.search-result {
    position: relative;
}
.search-result.spinner::before {
    position: absolute;
    content: "";
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: calc(100vh - 250px);
    top: 0px;
    left: 0;
    z-index: 12;
    background: url(./spinner.gif) no-repeat center;
}
.search-result.spinner::after {
    position: absolute;
    content: "";
    left: -10px;
    right: -10px;
    top: 0;
    height: calc(100vh - 250px);
    background: #001329;
    z-index: 11;
}
