.custom-selection {
    background-color: transparent !important;
    border: 1px solid #ced4da !important;
    border-radius: 4px !important;
}
select.custom-select-element {
    bottom: 0;
    left: 50%;
}
.custom-select-option {
    color: var(--black75-color);
    font-size: 15px;
}
.select2-container--default
    .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: rgba(0, 142, 143, 0.1);
    border-radius: 4px;
}
.select2-container--default .select2-results__option--selected {
    border-radius: 4px;
    background-color: transparent;
}
.select2-container--default .select2-results > .select2-results__options {
    padding: 16px 13px;
}
.custom-select-option svg {
    padding-bottom: 2px;
    margin-right: 2px;
    opacity: 0;
}
.select2-results__option--selected .custom-select-option,
.select2-results__option--selected svg {
    color: #000000;
    opacity: 1;
}
.custom-dropdown {
    background: #f9f9f9;
    border: 1px solid #ced4da;
    border-radius: 4px;
    overflow: hidden;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__arrow
    b {
    border: none !important;
    height: 100% !important;
    width: 30px !important;
    margin: auto !important;
    top: auto !important;
    left: auto !important;
}
.custom-selection b::before {
    content: "";
    width: 10px;
    height: 1px;
    background: var(--black-color);
    display: block;
    position: absolute;
    top: 50%;
    left: -4px;
    -webkit-transform: translatey(-50%) rotate(35deg);
    -ms-transform: translatey(-50%) rotate(35deg);
    transform: translatey(-50%) rotate(35deg);
}
.custom-selection b::after {
    content: "";
    width: 10px;
    height: 1px;
    background: var(--black-color);
    display: block;
    position: absolute;
    top: 50%;
    left: 4px;
    -webkit-transform: translatey(-50%) rotate(-35deg);
    -ms-transform: translatey(-50%) rotate(-35deg);
    transform: translatey(-50%) rotate(-35deg);
}
.custom-selection[aria-expanded="true"] b::before {
    -webkit-transform: translatey(-50%) rotate(-35deg) !important;
    -ms-transform: translatey(-50%) rotate(-35deg) !important;
    transform: translatey(-50%) rotate(-35deg) !important;
}
.custom-selection[aria-expanded="true"] b::after {
    -webkit-transform: translatey(-50%) rotate(35deg) !important;
    -ms-transform: translatey(-50%) rotate(35deg) !important;
    transform: translatey(-50%) rotate(35deg) !important;
}
.div-bid-now {
    position: relative;
}
@media (max-width: 578px) {
    .hero__btns a {
        margin-bottom: 24px;
    }
    .hero__btns a:last-child {
        margin-bottom: 0px;
    }
}
/* Start event card */
.event-card .auction__item {
    background: #ffffff;
    border: 1px solid rgba(120, 129, 130, 0.1);
    -webkit-box-shadow: 0px 71px 28px rgba(120, 129, 130, 0.01),
        0px 40px 24px rgba(120, 129, 130, 0.05),
        0px 18px 18px rgba(120, 129, 130, 0.09),
        0px 4px 10px rgba(120, 129, 130, 0.1),
        0px 0px 0px rgba(120, 129, 130, 0.1);
    box-shadow: 0px 71px 28px rgba(120, 129, 130, 0.01),
        0px 40px 24px rgba(120, 129, 130, 0.05),
        0px 18px 18px rgba(120, 129, 130, 0.09),
        0px 4px 10px rgba(120, 129, 130, 0.1),
        0px 0px 0px rgba(120, 129, 130, 0.1);
    border-radius: 8px;
    height: 100%;
}
.event-card .auction__item-thumb {
    padding: 10px 8px 0px 8px;
}
.event-card .auction__item-thumb a {
    border-radius: 8px;
    background: #d9d9d9;
}
.event-card .auction__item-content {
    padding: 40px 15px 16px;
    height: calc(100% - 234px);
}
.event-card .auction__item-title {
    padding: 0px !important;
    border: 0px;
}
.event-card .auction__item-title a {
    font-weight: 700;
    font-size: 21px !important;
    line-height: 32px;
}
.event-card .auction__item-title a {
    color: #402020 !important;
    overflow: initial;
    -o-text-overflow: initial;
    text-overflow: initial;
    -webkit-line-clamp: unset;
}
.event-card .auction__item-title .practice-label {
    color: #dbaa00 !important;
    text-transform: capitalize;
    padding-left: 8px;
}
.event-card .auction__item-locationAndDate {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(64, 32, 32, 0.75);
    margin-top: 6px;
}
.event-card .auction__item-countdown {
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: var(--black75-color);
    margin-top: 24px;
    margin-bottom: 36px;
    border: 0px;
}
.event-card .auction__item-footer {
    padding: 0px;
}
.event-card .btn__area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 24px;
}
.event-card .btn__area div:nth-child(1) a,
.event-card .btn__area div:nth-child(2) a {
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    cursor: pointer;
    overflow: initial;
}
.event-card .btn__area div:nth-child(1) a {
    color: #402020;
    padding: 0px;
    background-color: transparent !important;
    border: 0px;
}
.event-card .btn__area div:nth-child(2) a {
    color: #ffffff;
    padding: 8px 16px;
    border: 0px;
    background-color: #402020 !important;
}
.event-card .btn__area div:nth-child(2) a:hover {
    background-color: #333 !important;
}
.event-card .btn__area div a.enter-event-btn {
    color: #ffffff;
    padding: 7px 15px;
    border: 0px;
    background-color: #402020 !important;
    font-weight: 700;
}
.event-card .btn__area div a.enter-event-btn:hover {
    background-color: #333 !important;
}
@media (min-width: 576px) {
    .event-card .auction__item-content {
        height: calc(100% - 255px);
    }
}
@media (min-width: 768px) {
    .event-card .auction__item-content {
        height: calc(100% - 224px);
    }
}
@media (min-width: 992px) {
    .event-card .auction__item-content {
        padding: 40px 32px 16px;
        height: calc(100% - 305px);
    }
    .event-card .auction__item-title a {
        font-size: 28px !important;
        line-height: 36px;
    }
    .event-card .auction__item-locationAndDate {
        font-size: 21px;
        line-height: 32px;
    }
    .event-card .auction__item-countdown {
        font-size: 16px;
        line-height: 24px;
    }
    .event-card .btn__area div:nth-child(1) a,
    .event-card .btn__area div:nth-child(2) a {
        font-size: 16px;
        line-height: 24px;
    }
    .event-card .btn__area div:nth-child(2) a {
        padding: 8px 16px;
        border: 0px;
    }
}
@media (min-width: 1200px) {
    .event-card .auction__item-content {
        height: calc(100% - 238px);
    }
    .event-card .btn__area div:nth-child(1) a,
    .event-card .btn__area div:nth-child(2) a {
        font-size: 13.5px;
        line-height: 24px;
    }
}
@media (min-width: 1400px) {
    .event-card .auction__item-content {
        height: calc(100% - 278px);
    }
    .event-card .btn__area div:nth-child(1) a,
    .event-card .btn__area div:nth-child(2) a {
        font-size: 16px;
        line-height: 24px;
    }
}
/* End event card */
/* Start events by category page */
.events-by-category section:not(:first-child) {
    margin: 102px auto;
}
.events-by-category .category-details {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 48px;
}
.events-by-category .category-details .category-logo {
    -o-object-fit: contain;
    object-fit: contain;
    width: 255px;
    height: 252px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.events-by-category .category-details .textual-details {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.events-by-category .category-details p {
    margin-top: 0px;
    margin-bottom: 0px !important;
    max-width: 815px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 24px !important;
    color: var(--black75-color) !important;
}
.events-by-category .category-details h1 {
    font-weight: 700;
    font-size: 31px;
    line-height: 40px;
    color: #402020;
    margin-bottom: 40px;
}
.events-by-category .non-practice-events h1,
.events-by-category .practice-events h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #402020;
    margin-bottom: 60px;
}
@media (min-width: 992px) {
    .events-by-category section:not(:first-child) {
        margin: 192px auto;
    }
    .events-by-category .category-details h1 {
        font-size: 60px;
        line-height: 78px;
    }
    .events-by-category .category-details p {
        font-size: 21px !important;
        line-height: 32px !important;
    }
    .events-by-category .non-practice-events h1,
    .events-by-category .practice-events h1 {
        font-size: 42px;
        line-height: 55px;
        margin-bottom: 80px;
    }
}
/* End events by category page */
/* Start Offer Sheet */
.highest-bidder {
    display: none;
    color: var(--secondary-color);
    font-weight: 600;
}
.bid-with-anim {
    padding: 3px 10px !important;
    z-index: 10;
}
.input-bid-with-anim {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.input-bid-with-anim .input-group-text {
    background-color: transparent !important;
    color: var(--primary-color) !important;
    padding: 0px;
}
.input-bid-with-anim .form-control {
    background-color: transparent;
    color: #000;
    border: none;
    padding: 3px 8px;
    height: 32px;
}
.input-bid-with-anim .form-control:focus {
    border: none;
}
#input-bid-with-anim {
    padding: 0px 2px !important;
    font-weight: 700 !important;

    font-size: 16px;
    line-height: 24px;
    width: 92px !important;
}
.auctions-nav:hover .dropdown-menu-auctions {
    display: block;
}
.auction__item-content_bid {
    -webkit-box-flex: 30%;
    -ms-flex: 30%;
    flex: 30%;
}
.auction__item-content_bid .btn__area {
    padding: 5px !important;
}
.auction__item-content_bid .custom_total .total-price {
    font-size: 1.1em !important;
}
.auction__item-content_bid .div-bid-now {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: end !important;
}
.msg_number {
    color: var(--primary-color) !important;
}
@media (max-width: 540px) {
    .product-list-view .auction__item {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .product-list-view .auction__item-content {
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%;
    }
    .auction__item-content_bid {
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%;
    }
}
@media (min-width: 1200px) {
    .auction__item-content_bid .custom_total {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        width: 100% !important;
    }
}
.auction__item__animate {
    -webkit-animation-name: bid_animate;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
}
@-webkit-keyframes bid_animate {
    0% {
        border: 3px solid transparent;
    }
    50% {
        border: 3px solid var(--primary-color);
    }
    100% {
        border: 3px solid transparent;
    }
}
.val__animate {
    -webkit-animation-name: bid_text_animate;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
}
@-webkit-keyframes bid_text_animate {
    0% {
        opacity: 0;
        color: var(--primary-color);
    }
    50% {
        opacity: 100%;
        color: var(--primary-color);
    }
    100% {
        opacity: 0;
        color: var(--primary-color);
    }
}
.run-trending-nimate {
    color: var(--secondary-color) !important;
    font-size: 34px !important;
    -webkit-animation: trendingMove 2s infinite;
    animation: trendingMove 2s infinite;
}
@-webkit-keyframes trendingMove {
    50% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
@keyframes trendingMove {
    50% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
#offer-sheet {
    background-color: var(--primary-backgroud-color);
    position: relative;
}
#offer-sheet.mc-event {
    padding-bottom: 192px;
}
#offer-sheet .custom_total {
    width: 100%;
}
#offer-sheet .highest-bidder {
    font-size: 16px;
    line-height: 14px;
}
#offer-sheet .products-table-container .highest-bidder {
    padding: 6px 0px;
}
#offer-sheet .highest-bidder img {
    width: 22px;
    height: 22px;
}
#offer-sheet .countdown-widget-container {
    cursor: move;
    position: -webkit-sticky;
    position: sticky;
    z-index: 16;
    left: 100%;
    top: 75px;
    width: 266px;
}
#offer-sheet .countdown-widget-container .countdown-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0px 89.7196px 71.7757px rgb(120 129 130 / 7%),
        0px 37.4827px 29.9862px rgb(120 129 130 / 5%),
        0px 20.0401px 16.032px rgb(120 129 130 / 4%),
        0px 11.2343px 8.98743px rgb(120 129 130 / 4%),
        0px 5.96645px 4.77316px rgb(120 129 130 / 3%),
        0px 2.48277px 1.98622px rgb(120 129 130 / 2%);
    box-shadow: 0px 89.7196px 71.7757px rgb(120 129 130 / 7%),
        0px 37.4827px 29.9862px rgb(120 129 130 / 5%),
        0px 20.0401px 16.032px rgb(120 129 130 / 4%),
        0px 11.2343px 8.98743px rgb(120 129 130 / 4%),
        0px 5.96645px 4.77316px rgb(120 129 130 / 3%),
        0px 2.48277px 1.98622px rgb(120 129 130 / 2%);
    border-radius: 45px;
    background-color: #ffffff;
    border: 3px solid transparent;
}
#offer-sheet .countdown-widget-container.collapsed {
    width: 54px;
}
#offer-sheet .countdown-widget-container .countdown-widget-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 9px 11px;
    background-color: #ffffff;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
}
#offer-sheet .countdown-widget-container .countdown-widget-btn.collapsed {
    border-radius: 45px;
}
#offer-sheet .countdown-widget-container .countdown-widget-btn:hover path {
    fill: #333;
}
#offer-sheet .countdown-widget-container .countdown-area {
    background: #ffffff;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
}
#offer-sheet .countdown-widget-container .sidebar-countdown {
    margin-bottom: 0px !important;
    padding: 9px 16px;
    gap: 12px;
    opacity: 1;
    -webkit-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}
#offer-sheet .countdown-widget-container .sidebar-countdown.collapsed {
    opacity: 0;
    width: 0px;
    padding: 0px !important;
    overflow: hidden;
    -webkit-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}
#offer-sheet .countdown-widget-container .countdown-area .sidebar-countdown li {
    width: 36px;
    height: 36px;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--black-color);
}
#offer-sheet .auction__item .input-group {
    padding: 9px 0 0 !important;
    border-bottom: 1px var(--primary-color) solid;
}
#offer-sheet .offer-sheet-hero-section {
    min-height: 484px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
#offer-sheet .hero-section-content {
    width: 77%;
    margin: 0 auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
#offer-sheet .hero-section-content h1 {
    color: #fff;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 40px;
}
#offer-sheet .event-description {
    margin-top: 24px;
    color: #fff;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 24px !important;
}
#product-details .auto_bid_now:disabled,
#product-details .auto_bid_now:hover:disabled,
#offer-sheet .auto_bid_now:disabled,
#offer-sheet .auto_bid_now:hover:disabled {
    color: rgb(0, 142, 143, 0.5) !important;
    border: 1px solid rgb(0, 142, 143, 0.5) !important;
    cursor: default;
}
#product-details .bid_now:disabled,
#offer-sheet .bid_now:disabled {
    background-color: rgb(0, 142, 143, 0.5) !important;
    cursor: default;
}
#offer-sheet .auction-data-overview p {
    margin-top: 0px;
    margin-bottom: 0px !important;
}
#offer-sheet .products-table-section {
    padding-top: 72px;
    padding-bottom: 120px;
}
#offer-sheet .products-table-section p {
    margin-top: 0px;
    margin-bottom: 0px !important;
}
#offer-sheet .products-table-section .products-table-toolbar span {
    color: var(--primary-color);
}
#offer-sheet .products-table-section svg {
    fill: var(--primary-color);
}
#offer-sheet .products-table-pagination .page-size label,
#offer-sheet .products-table-pagination .total-rows span {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
#offer-sheet .products-table-pagination .table-navigation-btns i,
#offer-sheet .products-table-pagination .page-size label {
    color: var(--text-secondary-color);
}
#offer-sheet .products-table-pagination .total-rows span {
    color: var(--text-primary-color);
}
#offer-sheet .products-table-container {
    min-height: 600px;
}
#offer-sheet table.products-table {
    border-top: 1px solid var(--divider-color);
    border-bottom: 1px solid var(--divider-color);
    background: var(--grey-100-color);
}
#offer-sheet table.products-table th,
#offer-sheet table.products-table td {
    color: var(--text-primary-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    padding: 14px;
    width: 142px;
}
#offer-sheet table.products-table th:last-child,
#offer-sheet table.products-table td:last-child {
    width: 270px;
    padding: 16px 0px;
    position: sticky;
    right: 0;
    z-index: 1;
}
#offer-sheet table.products-table th:last-child {
    background: var(--grey-100-color);
}
#offer-sheet table.products-table td:last-child {
    background-color: #ffffff;
}
#offer-sheet table.products-table tbody tr {
    background-color: #ffffff;
    border-bottom: 1px solid var(--divider-color) !important;
    display: flex;
}
#offer-sheet table.products-table tbody td {
    font-weight: 400;
    line-height: 10px;
}

#offer-sheet .auction-data-list .owl-stage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 6px;
    -moz-column-gap: 6px;
    column-gap: 6px;
    padding: 64px 0px;
}
#offer-sheet .auction-data-list .owl-item > li {
    min-width: 210px;
    padding: 43px 6px 33px;
    background-color: #ffffff;
    border: 0.47px solid rgba(120, 129, 130, 0.1);
    border-radius: 4px;
}
#offer-sheet .auction-data-list .owl-stage .owl-item:first-child > li {
    width: 260px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
#offer-sheet .auction-data-list .auction-data-card-title {
    font-size: 38px !important;
}
#offer-sheet .countdown-area {
    padding: 0px;
    background-color: transparent;
}
#offer-sheet .countdown-area .sidebar-countdown {
    margin: 0px;
    margin-bottom: 5px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
#offer-sheet .auction-data-list .countdown-area .sidebar-countdown {
    gap: 12px;
}
#offer-sheet .countdown-area .sidebar-countdown li {
    margin: 0px;
    width: 50px;
    height: 50px;
    border-color: var(--primary-color) !important;
}
.auction-data-overview .clock-icon,
.auction-data-overview .gavel-icon,
.auction-data-overview .dollar-icon,
.auction-data-overview .weight-icon,
.auction-data-overview .star-icon {
    position: relative;
    bottom: 11px;
}
#offer-sheet .clock-icon {
    background-image: url(icons/clock.svg);
    width: 50px;
    height: 55px;
    background-size: 50px 55px;
}
#offer-sheet .gavel-icon {
    background-image: url(icons/gavel.svg);
    width: 56px;
    height: 56px;
    background-size: 56px 56px;
}
#offer-sheet .dollar-icon {
    background-image: url(icons/dollar-sign.svg);
    width: 33px;
    height: 56px;
    background-size: 33px 56px;
}
#offer-sheet .weight-icon {
    background-image: url(icons/weight.svg);
    width: 65px;
    height: 56px;
    background-size: 65px 56px;
}
#offer-sheet .star-icon {
    background-image: url(icons/star.svg);
    width: 62px;
    height: 58px;
    background-size: 62px 58px;
}
#offer-sheet #tabs-content {
    margin: 0px;
}
#offer-sheet .event-details-tabs {
    position: relative;
}
#offer-sheet .event-details-tabs::after {
    content: "";
    background-color: transparent;
    width: 100%;
    height: 0px;
    border: 1px solid rgba(95, 95, 95, 0.05);
    -webkit-box-shadow: 0px 13px 5px rgba(0, 0, 0, 0.02),
        0px 7px 4px rgba(0, 0, 0, 0.08), 0px 3px 3px rgba(0, 0, 0, 0.13),
        0px 1px 2px rgba(0, 0, 0, 0.15), 0px 0px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 13px 5px rgba(0, 0, 0, 0.02),
        0px 7px 4px rgba(0, 0, 0, 0.08), 0px 3px 3px rgba(0, 0, 0, 0.13),
        0px 1px 2px rgba(0, 0, 0, 0.15), 0px 0px 0px rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 0;
    bottom: 1px;
}
#offer-sheet .event-details-tabs > li {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
}
#offer-sheet .event-details-tabs > li a {
    width: 100%;
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 16px 8px;
    color: var(--black75-color) !important;
    border-width: 0px;
    position: relative;
}
#offer-sheet .event-details-tabs > li a:active {
    color: var(--black-color);
}
#offer-sheet .event-details-tabs > li a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0px;
    background-image: -o-linear-gradient(
        left,
        #008cbd,
        var(--primary-color),
        #008c64
    );
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#008cbd),
        color-stop(var(--primary-color)),
        to(#008c64)
    );
    background-image: linear-gradient(
        to right,
        #008cbd,
        var(--primary-color),
        #008c64
    );
}
#offer-sheet .event-details-tabs > li a[class="active"]:after {
    height: 3px;
}
#offer-sheet #tabs-content .countdown {
    gap: 16px;
}
#offer-sheet .autobid-settings {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
#offer-sheet .tab-loader {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: var(--light-grey-color);
}
#offer-sheet .tab-loader div {
    border: 10px solid #d1d0d0;
    border-radius: 50%;
    border-top: 10px solid var(--primary-color);
    width: 75px;
    height: 75px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#offer-sheet #auction-view button.product-fav-btn,
#offer-sheet #dashboard button.product-fav-btn,
#offer-sheet button.autobid-settings {
    border: 0px;
    padding: 0px;
    background-color: transparent;
    line-height: 1;
}
button.autobid-settings {
    position: relative;
    z-index: 10;
}
button.autobid-settings i {
    font-size: 20px;
    color: var(--primary-color);
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
button.autobid-settings i:hover {
    color: var(--black-color);
}
button.autobid-settings span {
    display: none;
    position: absolute;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    left: -55px;
    top: 25px;
    background: #ffffff;
    -webkit-box-shadow: 7px 10px 5px rgb(41 42 43 / 1%),
        4px 5px 4px rgb(41 42 43 / 5%), 2px 2px 3px rgb(41 42 43 / 9%),
        0px 1px 2px rgb(41 42 43 / 10%), 0px 0px 0px rgb(41 42 43 / 10%);
    box-shadow: 7px 10px 5px rgb(41 42 43 / 1%), 4px 5px 4px rgb(41 42 43 / 5%),
        2px 2px 3px rgb(41 42 43 / 9%), 0px 1px 2px rgb(41 42 43 / 10%),
        0px 0px 0px rgb(41 42 43 / 10%);
    border-radius: 4px;
    padding: 0px 8px;
    font-size: 12px;
    line-height: 24px;
    color: var(--black-color);
}
button.autobid-settings:hover span {
    display: block;
}
#offer-sheet .heart-icon {
    font-size: 20px;
    display: block;
    position: relative;
    top: 1px;
}
#offer-sheet .total-value {
    margin: 7px 0px !important;
}
#offer-sheet .table-card {
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0px 2px 4px -1px rgba(36, 40, 40, 0.2),
        0px 4px 5px 0px rgba(36, 40, 40, 0.14),
        0px 1px 10px 0px rgba(36, 40, 40, 0.12);
}
#offer-sheet .table-actions {
    border-radius: 8px 8px 0px 0px;
    background: var(--grey-100-color);
    padding: 12px;
}
#offer-sheet .table-actions .table-search-btn i {
    color: var(--text-secondary-color);
}
#offer-sheet .table-actions .table-serach-input::placeholder {
    color: var(--text-disabled-color);
}
#offer-sheet .table-actions .table-serach-input,
#offer-sheet .table-actions .table-serach-input:focus,
#offer-sheet .table-actions .table-serach-input:focus-visible {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-primary-color);
    font-weight: 400;
    line-height: 24px;
}

#offer-sheet .table-card .products-table-container .auction__item {
    padding: 0px 20px;
    border-radius: 0px;
    border: 3px solid transparent;
    -webkit-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    border-bottom: 1px solid rgba(95, 95, 95, 0.15);
    max-width: 100%;
}
#offer-sheet .table-card .products-table-container .auction__item:hover {
    background-color: var(--black5-color);
}
#offer-sheet .auction__item.bg-ace-brown {
    background-color: #f8e8e3 !important;
}
#offer-sheet .auction__item.bg-ace-brown:hover {
    background-color: #dfc8c3 !important;
}
#offer-sheet .auction__item.bg-coe-green {
    background-color: #e7eae1 !important;
}
#offer-sheet .auction__item.bg-coe-green:hover {
    background-color: #c4ccb6 !important;
}
#offer-sheet .auction__item.bg-coe-black {
    background-color: #f9f3f5 !important;
}
#offer-sheet .auction__item.bg-coe-black:hover {
    background-color: #f2eced !important;
}
#offer-sheet .auction__item.bg-mc-blue {
    background-color: #e4f2fa !important;
}
#offer-sheet .auction__item.bg-mc-blue:hover {
    background-color: #bcdff4 !important;
}
#offer-sheet .auction__item.bg-mc-red1 {
    background-color: #ffeaed !important;
}
#offer-sheet .auction__item.bg-mc-red1:hover {
    background-color: #ffcacf !important;
}
#offer-sheet .auction__item.bg-mc-red2 {
    background-color: #ffe7e6 !important;
}
#offer-sheet .auction__item.bg-mc-red2:hover {
    background-color: #ffc7b8 !important;
}
#offer-sheet .auction__item.bg-mc-green {
    background-color: #e7f4e8 !important;
}
#offer-sheet .auction__item.bg-mc-green:hover {
    background-color: #c5e3c6 !important;
}
#offer-sheet .auction__item.bg-mc-yellow {
    background-color: #fffee6 !important;
}
#offer-sheet .auction__item.bg-mc-yellow:hover {
    background-color: #fffac0 !important;
}
#offer-sheet .auction__item.bg-mc-purple {
    background-color: #f3e5f5 !important;
}
#offer-sheet .auction__item.bg-mc-purple:hover {
    background-color: #e1bee7 !important;
}
#offer-sheet .auction__item.bg-mc-indigo {
    background-color: #e8eaf6 !important;
}
#offer-sheet .auction__item.bg-mc-indigo:hover {
    background-color: #c5cae9 !important;
}
#offer-sheet .table-card .products-table-container .auction__item-content {
    padding: 12px 0px;
    position: relative;
    row-gap: 16px;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;
}
#offer-sheet .products-table-container .auction__item-content > div {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--black75-color);
    border: 0px;
}
/* Start inner product card */
#offer-sheet .table-card .inner-product-container > div {
    max-width: 100%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
#offer-sheet .table-card .inner-product-container .inner-product-card {
    position: absolute;
    top: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #ffffff;
    border: 0px;
    padding: 0px;
    line-height: 1;
    z-index: 12;
    width: 285px;
    background-color: #ffffff;
    background: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 13px 5px rgba(0, 0, 0, 0.02),
        0px 7px 4px rgba(0, 0, 0, 0.08), 0px 3px 3px rgba(0, 0, 0, 0.13),
        0px 1px 2px rgba(0, 0, 0, 0.15), 0px 0px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 13px 5px rgba(0, 0, 0, 0.02),
        0px 7px 4px rgba(0, 0, 0, 0.08), 0px 3px 3px rgba(0, 0, 0, 0.13),
        0px 1px 2px rgba(0, 0, 0, 0.15), 0px 0px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    overflow: hidden;
}
#offer-sheet
    .table-card
    .inner-product-container
    .inner-product-card-body
    .inner-product-card-image {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
#offer-sheet .table-card .inner-product-card .details {
    padding: 14px;
    background-color: #ffffff;
    border-bottom: 1px solid var(--black25-color);
    width: 100%;
}
#offer-sheet .inner-product-card .details h2 {
    width: calc(100% - 36px);
}
#offer-sheet .inner-product-card .user-score-value-container span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--black50-color);
}
#offer-sheet .inner-product-card .show-user-score-modal-btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--primary-color);
}
#offer-sheet
    .inner-product-card
    .show-user-score-modal-btn:hover
    .custom-tooltip {
    display: block;
}
#offer-sheet .inner-product-card .show-user-score-modal-btn i {
    font-size: 13px;
}
#offer-sheet
    .inner-product-card
    .show-user-score-modal-btn
    i[class="fas fa-plus"] {
    font-size: 8px;
    padding: 3px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
}
#offer-sheet .inner-product-card .details .properties {
    margin-top: 17px;
}
#offer-sheet .inner-product-card .details .score-property {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--primary-color);
    margin: 0px 8px;
}
#offer-sheet .inner-product-card .user-score-modal {
    position: absolute;
    left: 0;
    top: calc(100% + 3px);
    width: 153px;
    padding: 8px 16px;
    background: #ffffff;
    -webkit-box-shadow: 0px 13px 5px rgba(0, 0, 0, 0.02),
        0px 7px 4px rgba(0, 0, 0, 0.08), 0px 3px 3px rgba(0, 0, 0, 0.13),
        0px 1px 2px rgba(0, 0, 0, 0.15), 0px 0px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 13px 5px rgba(0, 0, 0, 0.02),
        0px 7px 4px rgba(0, 0, 0, 0.08), 0px 3px 3px rgba(0, 0, 0, 0.13),
        0px 1px 2px rgba(0, 0, 0, 0.15), 0px 0px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
#offer-sheet .inner-product-card .user-score-modal .score-progress {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.85);
    color: var(--black-color);
}
#offer-sheet .inner-product-card .user-score-modal h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--black75-color);
    margin-top: 0px;
}
#offer-sheet .inner-product-card .user-score-modal input[type="number"],
#offer-sheet
    .inner-product-card
    .user-score-modal
    input[type="number"]:focus-visible {
    background: #f9f9f9;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 4px 6px;
    margin: 8px 0px;
    width: 100%;
    color: var(--black-color);
    outline: none;
}
#offer-sheet .inner-product-card .user-score-modal .invalid-score-value {
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 1;
    color: var(--red-color);
}
#offer-sheet .inner-product-card .user-score-modal .user-score-cancel-btn,
#offer-sheet .inner-product-card .user-score-modal .user-score-save-btn {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--primary-color);
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0px;
}
#offer-sheet .inner-product-card .user-score-modal .user-score-cancel-btn {
    color: var(--black50-color);
}
#offer-sheet .inner-product-card .details .notes-property,
#offer-sheet .inner-product-card .details .property span {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
}
#offer-sheet .inner-product-card .details .notes-property span {
    font-weight: 400;
    color: var(--black75-color);
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
#offer-sheet .inner-product-card .details .notes-property b {
    color: var(--primary-color);
    padding-right: 4px;
}
#offer-sheet .inner-product-card .details .property span:first-child {
    font-weight: 700;
    color: var(--black75-color);
}
#offer-sheet .inner-product-card .details .property span:last-child {
    font-weight: 400;
    color: var(--black75-color);
    padding: 0px 4px;
}
#offer-sheet .table-card .inner-product-container .auction__item-title {
    color: var(--primary-color);
    text-decoration: underline;
    text-underline-offset: 3px;
    border: 0px;
    font-size: inherit;
}
#offer-sheet .table-card .inner-product-card .summary {
    gap: 19px;
}
#offer-sheet .table-card .inner-product-card .inner-product-card-footer {
    padding: 12px;
}
#offer-sheet .table-card .inner-product-card .highest-info,
#offer-sheet .table-card .inner-product-card .bid-info {
    width: 100%;
}
#offer-sheet .table-card .inner-product-card .highest-info img {
    width: 18px;
    height: 24px;
    margin-right: 8px;
}
#offer-sheet .table-card .inner-product-card .highest-info span,
#offer-sheet .table-card .inner-product-card .bid-info span {
    width: calc(100% - 24px);
}
#offer-sheet .table-card .inner-product-card .bid-info img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
#offer-sheet .table-card .inner-product-card .summary span {
    font-size: 16px;
    line-height: 24px;
    color: var(--black75-color);
}
#offer-sheet .table-card .inner-product-card .card-profile-button a {
    padding: 6px 13px;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
}
#offer-sheet .table-card .inner-product-card .card-profile-button a:hover {
    background-color: var(--black-color);
}
/* End - inner product card */
#offer-sheet .table-card .auction__item {
    -webkit-box-shadow: none;
    box-shadow: none;
}
#offer-sheet .table-card .auction__item-content_bid {
    padding: 0px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
}
#offer-sheet .table-card .btn__area {
    padding: 0px !important;
}
#offer-sheet .table-card .auction__item-content > div:first-child {
    width: 100%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-weight: bold;
}
#offer-sheet .table-card .auction__item-content > div:nth-child(2) {
    width: 100%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
#offer-sheet .table-card .auction__item-content > div:nth-child(3) {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    row-gap: 16px;
    -webkit-column-gap: 2px;
    -moz-column-gap: 2px;
    column-gap: 2px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
#offer-sheet .table-card .auction__item-content > div:nth-child(3) img.gavel {
    width: 16px;
    height: 16px;
}
#offer-sheet
    .table-card
    .auction__item-content
    > div:nth-child(3)
    .product-weight,
#offer-sheet
    .table-card
    .auction__item-content
    > div:nth-child(3)
    .final-total-price {
    width: calc(50% - 8px);
}
#offer-sheet
    .table-card
    .auction__item-content
    > div:nth-child(3)
    .total-price {
    width: 100%;
}
#offer-sheet .table-card .auction__item-content > div:nth-child(3) .btn__area {
    width: 84%;
}
#offer-sheet .table-card .auction__item-content > div:last-child {
    width: 26px;
    position: absolute;
    right: 0px;
    bottom: 15px;
}
#offer-sheet .table-card .auction__item-content > div:last-child i {
    font-size: 24px;
}
#offer-sheet #dashboard {
    margin-top: 40px;
}
#offer-sheet .weight-card-title .select2-container {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
}
#offer-sheet .liability-card-title .select2-container {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
}
#offer-sheet .dashboard-custom-selection {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0px;
    height: 20px;
}
#offer-sheet
    .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 20px;
    position: absolute;
    top: 3px;
    right: -20px;
}
#offer-sheet .dashboard-custom-selection .select2-selection__rendered {
    font-size: 16px;
    line-height: 24px;
    padding: 0px 0px 0px 4px;
    color: var(--black-color);
}
#offer-sheet
    .select2-container--default
    .select2-selection--single
    .select2-selection__arrow
    b {
    border: none !important;
    height: 100% !important;
    width: 100% !important;
    margin: auto !important;
    top: auto !important;
    left: auto !important;
}
.dashboard-custom-selection b::before {
    content: "";
    width: 8px;
    height: 1px;
    background: var(--black-color);
    display: block;
    position: absolute;
    top: 50%;
    left: 5px;
    -webkit-transform: translatey(-50%) rotate(35deg);
    -ms-transform: translatey(-50%) rotate(35deg);
    transform: translatey(-50%) rotate(35deg);
}
.dashboard-custom-selection b::after {
    content: "";
    width: 8px;
    height: 1px;
    background: var(--black-color);
    display: block;
    position: absolute;
    top: 50%;
    left: 11px;
    -webkit-transform: translatey(-50%) rotate(-35deg);
    -ms-transform: translatey(-50%) rotate(-35deg);
    transform: translatey(-50%) rotate(-35deg);
}
.dashboard-custom-selection[aria-expanded="true"] b::before {
    -webkit-transform: translatey(-50%) rotate(-35deg) !important;
    -ms-transform: translatey(-50%) rotate(-35deg) !important;
    transform: translatey(-50%) rotate(-35deg) !important;
}
.dashboard-custom-selection[aria-expanded="true"] b::after {
    -webkit-transform: translatey(-50%) rotate(35deg) !important;
    -ms-transform: translatey(-50%) rotate(35deg) !important;
    transform: translatey(-50%) rotate(35deg) !important;
}
.dashboard-custom-dropdown {
    width: 102px !important;
    background: #ffffff;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    -webkit-box-shadow: 0px 71px 28px rgba(120, 129, 130, 0.01),
        0px 40px 24px rgba(120, 129, 130, 0.05),
        0px 18px 18px rgba(120, 129, 130, 0.09),
        0px 4px 10px rgba(120, 129, 130, 0.1),
        0px 0px 0px rgba(120, 129, 130, 0.1);
    box-shadow: 0px 71px 28px rgba(120, 129, 130, 0.01),
        0px 40px 24px rgba(120, 129, 130, 0.05),
        0px 18px 18px rgba(120, 129, 130, 0.09),
        0px 4px 10px rgba(120, 129, 130, 0.1),
        0px 0px 0px rgba(120, 129, 130, 0.1);
}
.dashboard-custom-dropdown input[type="search"] {
    line-height: 18px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 4px;
}
.dashboard-custom-dropdown .select2-results__option {
    padding: 2px;
}
.dashboard-custom-dropdown li.select2-results__option--highlighted {
    background-color: rgba(64, 32, 32, 0.05) !important;
    border-radius: 4px;
}
.select2-container--default .select2-results > ul.select2-results__options {
    padding: 8px 4px 8px 4px;
}
.dashboard-custom-dropdown .custom-select-option,
.dashboard-custom-dropdown
    .select2-results__option--selected
    .custom-select-option,
.select2-results__option--selected svg {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: var(--black75-color);
}
#offer-sheet .winning-lots-total h3 {
    font-style: normal;
    font-size: 21px !important;
    line-height: 27px !important;
    color: var(--black-color) !important;
}
#offer-sheet .winning-lots-total-list {
    margin-top: 40px;
}
#offer-sheet .winning-lots-total-list .owl-stage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px;
    column-gap: 8px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 24px;
}
#offer-sheet .winning-lots-total-list .owl-item > li {
    min-width: 212px;
    padding: 24px 8px;
    background-color: #ffffff;
    border: 0.47px solid rgba(120, 129, 130, 0.1);
    border-radius: 4px;
}
#offer-sheet .usd-icon {
    background-image: url(icons/USD.svg);
    width: 57px;
    height: 57px;
    background-size: 57px 57px;
}
#offer-sheet .total-budget,
#offer-sheet .current-winning-lots {
    margin: 0px auto 24px auto;
}
#offer-sheet .current-winning-lots .current-winning-carousel {
    width: 100%;
    padding: 30px 55px;
    height: 194px;
}
#offer-sheet
    .current-winning-lots
    .current-winning-carousel
    .owl-nav:not([class~="disabled"]) {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#offer-sheet .current-winning-carousel .owl-nav .owl-prev i,
#offer-sheet .current-winning-carousel .owl-nav .owl-next i {
    font-size: 27px;
    color: var(--black-color);
}
#offer-sheet .current-winning-carousel .owl-nav .owl-prev.disabled,
#offer-sheet .current-winning-carousel .owl-nav .owl-next.disabled {
    pointer-events: none;
    cursor: default;
}
#offer-sheet .current-winning-carousel .owl-nav .owl-prev {
    padding-left: 25px;
}
#offer-sheet .current-winning-carousel .owl-nav .owl-next {
    padding-right: 25px;
}
#offer-sheet .current-winning-carousel .owl-nav .owl-prev.disabled i,
#offer-sheet .current-winning-carousel .owl-nav .owl-next.disabled i {
    color: var(--black25-color) !important;
}
#offer-sheet .current-winning-lots .current-winning-slide {
    padding-right: 30px;
}
#offer-sheet .current-winning-lots .current-winning-slide img {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    margin-bottom: 12px;
}
#offer-sheet .current-winning-lots .current-winning-slide p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--primary-color);
    margin: 0px !important;
    max-width: 90px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
#offer-sheet .total-budget,
#offer-sheet .current-winning-lots {
    width: 100%;
}
#offer-sheet .total-budget .total-budget-content {
    padding: 40px 32px 48px;
}
#offer-sheet .total-budget .budget-control {
    margin-bottom: 34px;
}
#offer-sheet .total-budget .budget-control > div {
    width: 74%;
}
#offer-sheet .total-budget .budget-control input:focus,
#offer-sheet .total-budget .budget-control input:focus-visible {
    outline: none;
}
#offer-sheet .total-budget .budget-control input {
    width: 100%;
    background-color: transparent;
    border: none;

    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: var(--primary-color);
    padding: 0px 4px 0px;
    border-bottom: 1px dashed var(--black25-color);
    margin-right: 2px;
}
#offer-sheet .total-budget .budget-control input::-webkit-input-placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black50-color);
}
#offer-sheet .total-budget .budget-control input::-moz-placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black50-color);
}
#offer-sheet .total-budget .budget-control input:-ms-input-placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black50-color);
}
#offer-sheet .total-budget .budget-control input::-ms-input-placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black50-color);
}
#offer-sheet .total-budget .budget-control input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black50-color);
}
#offer-sheet .total-budget .budget-control label {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 31px;
    color: var(--primary-color);
    border-bottom: 1px dashed var(--black25-color);
}
#offer-sheet .total-budget #save-budget-btn {
    padding: 5px 18px;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 5px;
    margin-left: 16px;
    border: none;
}
#offer-sheet .total-budget #save-budget-btn:hover {
    background-color: var(--black-color);
}
#offer-sheet .total-budget .budget-progress {
    width: 100%;
    height: 16px;
    background: var(--black10-color);
    border-radius: 8px;
}
#offer-sheet .total-budget .budget-progress .remaining-budget {
    position: absolute;
    right: 0;
    bottom: calc(100% + 5px);

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black75-color);
}
#offer-sheet .total-budget .budget-progress-bar {
    height: 100%;
    background: -o-linear-gradient(
        top,
        rgba(0, 143, 143, 0.17) 0%,
        #008e8f 100%
    );
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 143, 143, 0.17)),
        to(#008e8f)
    );
    background: linear-gradient(
        180deg,
        rgba(0, 143, 143, 0.17) 0%,
        #008e8f 100%
    );
    border-radius: 8px;
}
#offer-sheet .total-budget .budget-progress-bar.alert-color {
    background: -o-linear-gradient(
        top,
        rgba(189, 11, 0, 0.17) 0%,
        #bd0b00 100%
    ) !important;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(189, 11, 0, 0.17)),
        to(#bd0b00)
    ) !important;
    background: linear-gradient(
        180deg,
        rgba(189, 11, 0, 0.17) 0%,
        #bd0b00 100%
    ) !important;
}
#offer-sheet .total-budget .budget-progress-bar .spent-budget {
    position: absolute;
    top: calc(100% + 12px);
    left: 0;
    right: unset;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black-color);
}
#offer-sheet .total-budget .budget-progress-bar.alert-color .spent-budget {
    color: var(--red-color) !important;
}
#offer-sheet .total-budget .budget-progress-bar::after {
    content: "";
    display: block;
    width: 2px;
    height: calc(100% + 8px);
    background-color: #008e8f;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#offer-sheet .total-budget .budget-progress-bar.alert-color::after {
    background-color: var(--red-color) !important;
}

.contact-info {
    background: #111;
    padding: 50px 0px;
}
.contact-info a.support-email {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
}
.contact-info svg {
    height: 24px;
}
.contact-info .instagram-icon svg,
.contact-info .linkedin-icon svg {
    width: 18px;
}
.contact-info .instagram-icon path,
.contact-info .linkedin-icon path {
    fill: #ffffff;
}
@media (min-width: 576px) {
    #offer-sheet .offer-sheet-hero-section {
        padding-top: 155px;
        padding-bottom: 155px;
    }
}
@media (min-width: 768px) {
    #offer-sheet .winning-lots-total-list .owl-item > li {
        min-width: 220px;
    }
    #offer-sheet .table-card .inner-product-container .inner-product-card {
        top: 32px;
        left: -16px;
        width: 679px;
        -webkit-transform: initial;
        -ms-transform: initial;
        transform: initial;
    }
    #offer-sheet
        .table-card
        .inner-product-container
        .inner-product-card-body
        .inner-product-card-image {
        width: 210px;
    }
    #offer-sheet .table-card .inner-product-card .details {
        padding: 24px;
        width: calc(100% - 210px);
    }
    #offer-sheet .inner-product-card .details .notes-property,
    #offer-sheet .inner-product-card .details .property span {
        font-size: 16px;
    }
    #offer-sheet .table-card .inner-product-card .highest-info,
    #offer-sheet .table-card .inner-product-card .bid-info {
        width: auto;
    }
    #offer-sheet .table-card .inner-product-card .highest-info span {
        width: 162px;
    }
    #offer-sheet .table-card .inner-product-card .bid-info span {
        width: 262px;
    }
    #offer-sheet .table-card .inner-product-card .inner-product-card-footer {
        padding: 12px 24px;
    }
    #offer-sheet .total-budget .budget-control > div {
        width: 65%;
    }
    #offer-sheet .total-budget .budget-control input {
        font-size: 42px;
        line-height: 55px;
        color: var(--primary-color);
        padding: 0px 10px 0px;
    }
    #offer-sheet .total-budget .budget-control label {
        font-size: 21px;
        line-height: 40px;
    }
    button.autobid-settings span {
        left: calc(100% + 10px);
        top: -2px;
    }
}
@media (min-width: 992px) {
    #offer-sheet .total-budget,
    #offer-sheet .current-winning-lots {
        width: 50%;
    }
    #offer-sheet .table-card .inner-product-container > div {
        position: relative;
    }
    #offer-sheet .table-card .inner-product-container .inner-product-card {
        top: calc(100% + 2px);
        left: 0px;
    }
    #offer-sheet .winning-lots-total-list .owl-item > li {
        min-width: 290px;
    }
    /* Start Offer Sheet */
    #offer-sheet .custom_total {
        width: auto;
    }
    #offer-sheet .hero-section-content h1 {
        font-size: 48px;
        line-height: 56px;
    }
    #offer-sheet .event-description {
        font-size: 21px !important;
        line-height: 32px !important;
    }
    /* End Offer Sheet */
    /* Start owl */
    #offer-sheet .auction-data-list .owl-stage {
        padding: 120px 0px 80px;
    }
    /* End owl */
    #offer-sheet .event-details-tabs > li a {
        font-size: 28px;
        line-height: 36px;
    }
    #offer-sheet .table-card .products-table-container .auction__item {
        padding: 0px 15px;
    }
    #offer-sheet .products-table-container .auction__item-content > div {
        font-size: 16px;
        line-height: 24px;
    }
    #offer-sheet .table-card .auction__item-content > div:first-child {
        width: 15%;
    }
    #offer-sheet .table-card .auction__item-content > div:nth-child(2) {
        width: 20%;
    }
    #offer-sheet .table-card .auction__item-content > div:nth-child(3) {
        width: calc(63% - 32px);
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    #offer-sheet
        .table-card
        .auction__item-content
        > div:nth-child(3)
        .product-weight {
        width: 13%;
    }
    #offer-sheet
        .table-card
        .auction__item-content
        > div:nth-child(3)
        .total-price,
    #offer-sheet
        .table-card
        .auction__item-content
        > div:nth-child(3)
        .final-total-price {
        width: 27%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    #offer-sheet
        .table-card
        .auction__item-content
        > div:nth-child(3)
        .btn__area {
        width: 33%;
    }
    #offer-sheet .table-card .auction__item-content > div:last-child {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        position: relative;
        right: unset;
        bottom: unset;
    }
    #offer-sheet .winning-lots-total h3 {
        font-size: 30px !important;
        line-height: 39px !important;
    }
    button.autobid-settings span {
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        left: 50%;
        top: -35px;
    }
    #offer-sheet .total-budget .budget-control > div {
        width: 80%;
    }
}
@media (min-width: 1200px) {
    #offer-sheet .hero-section-content {
        width: 70%;
    }
    #offer-sheet .winning-lots-total-list .owl-item > li {
        min-width: 300px;
    }
    #offer-sheet .total-budget .budget-control > div {
        width: 84%;
    }
    #offer-sheet .table-card .auction__item-content > div:first-child {
        width: 12%;
    }
    #offer-sheet .table-card .auction__item-content > div:nth-child(2) {
        width: 23%;
    }
    #offer-sheet .table-card .auction__item-content > div:nth-child(3) {
        width: calc(65% - 60px);
    }
    #offer-sheet
        .table-card
        .auction__item-content
        > div:nth-child(3)
        .product-weight {
        width: 16%;
    }
    #offer-sheet
        .table-card
        .auction__item-content
        > div:nth-child(3)
        .btn__area {
        width: 28%;
    }
}
@media (min-width: 1400px) {
    #offer-sheet .hero-section-content {
        width: 60%;
    }
    #offer-sheet .winning-lots-total-list .owl-stage {
        -webkit-column-gap: 10px;
        -moz-column-gap: 10px;
        column-gap: 10px;
    }
    #offer-sheet .winning-lots-total-list .owl-item > li {
        min-width: 316px;
    }
    button.autobid-settings span {
        left: calc(100% + 10px);
        top: -2px;
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset;
    }
    #offer-sheet .auction-data-list .owl-stage .owl-item:first-child > li {
        width: 312px;
    }
    #offer-sheet .auction-data-list .owl-item > li {
        min-width: 240px;
    }
    #offer-sheet .total-budget .budget-control > div {
        width: 70%;
    }
}
/* End Offer Sheet */
/* Start auction products list */
.auction__item-custom {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 55px 21px 15px;
    background: #ffffff;
    border: 3px solid transparent;
    -webkit-box-shadow: 0px 13px 5px rgba(0, 0, 0, 0.02),
        0px 7px 4px rgba(0, 0, 0, 0.08), 0px 3px 3px rgba(0, 0, 0, 0.13),
        0px 1px 2px rgba(0, 0, 0, 0.15), 0px 0px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 13px 5px rgba(0, 0, 0, 0.02),
        0px 7px 4px rgba(0, 0, 0, 0.08), 0px 3px 3px rgba(0, 0, 0, 0.13),
        0px 1px 2px rgba(0, 0, 0, 0.15), 0px 0px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    max-width: 100%;
    gap: 22px;
    margin-top: 30px;
}
.highlighted__auction {
    border: 3px solid var(--primary-color) !important;
}
.auction__item-custom .product-fav-btn {
    position: absolute;
    bottom: -4px;
    right: -5px;
    width: 33px;
    height: 33px;
    border-radius: 100%;
    border: none;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #fffdfd;
    -webkit-box-shadow: 0px 11.2895px 4.3421px rgba(0, 0, 0, 0.02),
        0px 6.07895px 3.47368px rgba(0, 0, 0, 0.08),
        0px 2.60526px 2.60526px rgba(0, 0, 0, 0.13),
        0px 0.868421px 1.73684px rgba(0, 0, 0, 0.15),
        0px 0px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 11.2895px 4.3421px rgba(0, 0, 0, 0.02),
        0px 6.07895px 3.47368px rgba(0, 0, 0, 0.08),
        0px 2.60526px 2.60526px rgba(0, 0, 0, 0.13),
        0px 0.868421px 1.73684px rgba(0, 0, 0, 0.15),
        0px 0px 0px rgba(0, 0, 0, 0.15);
}
.auction__item-custom .product-fav-btn img {
    position: relative;
    top: 1px;
    width: 32px;
    height: 18px;
}
.auction__item-thumb-custom {
    padding: 0px !important;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: absolute;
    top: -40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.auction__item-thumb-custom a {
    border-radius: 0px !important;
}
.auction__item-thumb-custom img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
.auction__item-content-custom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0px !important;
    width: calc(100% - 102px);
}
.auction__item-countdown-custom {
    margin-bottom: 16px;
}
.auction__item-title-custom {
    padding: 0px !important;
}
.auction__item-title-custom a {
    display: initial;
    overflow: initial;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: var(--black-color) !important;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
.auction__item-title-custom a:hover {
    color: var(--primary-color) !important;
}
.acution__item-properties {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px;
    column-gap: 8px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    row-gap: 16px;
}
.acution__item-properties > div:first-child {
    width: calc(50% - 4px);
}
.acution__item-properties > div:nth-child(2) {
    width: calc(50% - 4px);
}
.acution__item-properties > div:nth-child(3) {
    width: calc(50% - 4px);
}
.acution__item-properties > div:nth-child(4) {
    width: calc(50% - 4px);
}
.acution__item-properties > div:last-child {
    width: 100%;
}
.acution__item-property {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#auction__item-total-bids {
    max-width: calc(100% - 32px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#auction__item-total-bids span {
    max-width: 100%;
}
.acution__item-property-value,
.auction__item-total-value,
.auction__item-total-title {
    line-height: 24px !important;
}
#offer-sheet .auction__item-total-title {
    color: var(--primary-color);
}
.auction__item-numOfBids {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
}
.auction__item-gavel-icon {
    background-image: url(icons/gavel.svg);
    width: 26px;
    height: 26px;
    margin: 0px 6px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.auction__item-attributes {
    width: 100%;
}
.auction__item-content_bid-custom {
    padding: 0px !important;
    -webkit-box-flex: initial !important;
    -ms-flex: initial !important;
    flex: initial !important;
    width: 100%;
}
.auction__item-total-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.total-price-custom {
    max-width: 100%;
    width: 50%;
    font-weight: 700;
    font-size: 16px !important;
    color: var(--primary-color);
}
.cmn--btn:hover {
    color: #ffffff;
    background-color: var(--primary-color) !important;
}
.cmn--btn.bid_now,
.cmn--btn.auto_bid_now,
.bid-paused-button {
    border-radius: 24px !important;

    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 16px;
    padding: 4px 10px !important;
}
.cmn--btn.bid_now {
    margin: 0px !important;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0px 3px 1px -2px rgba(36, 40, 40, 0.2),
        0px 2px 2px 0px rgba(36, 40, 40, 0.14),
        0px 1px 5px 0px rgba(36, 40, 40, 0.12);
    box-shadow: 0px 3px 1px -2px rgba(36, 40, 40, 0.2),
        0px 2px 2px 0px rgba(36, 40, 40, 0.14),
        0px 1px 5px 0px rgba(36, 40, 40, 0.12);
}
.cmn--btn.bid_now:not(:disabled),
.cmn--btn.auto_bid_now:not(:disabled) {
    margin: 0 2px !important;
}
.cmn--btn.auto_bid_now {
    background-color: transparent !important;
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color);
}
.cmn--btn.auto_bid_now:hover {
    background-color: transparent !important;
    color: var(--black-color) !important;
    border: 1px solid var(--black-color);
}
.product-single-sidebar {
    top: 145px;
}
.auction__item-content_bid-custom .btn__area {
    margin-top: 0px;
    padding: 0 !important;
}
.auction__item-content_bid-custom .custom_total,
.auction__item-content_bid-custom .div-bid-now {
    -webkit-box-flex: 0 !important;
    -ms-flex: none !important;
    flex: none !important;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
@media (min-width: 992px) {
    .auction__item-numOfBids {
        width: 100%;
    }
    .total-price-custom {
        width: 150px;
    }
    .cmn--btn.bid_now,
    .cmn--btn.auto_bid_now,
    .bid-paused-button {
        font-size: 13px !important;
        line-height: 20px;
    }
    .acution__item-properties > div:first-child {
        width: 80px;
    }
    .acution__item-properties > div:nth-child(2) {
        width: 152px;
    }
    .acution__item-properties > div:nth-child(3) {
        width: 131px;
    }
    .acution__item-properties > div:nth-child(4) {
        width: 110px;
    }
    .acution__item-properties > div:last-child {
        width: 25%;
    }
    .auction__item-custom {
        padding: 15px 21px;
        margin-top: 0px;
    }
    .auction__item-thumb-custom {
        position: relative;
        top: unset;
        left: unset;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    .auction__item-content-custom {
        padding: 8px 0px 0px !important;
    }
}
@media (min-width: 1200px) {
    .total-price-custom {
        width: auto !important;
    }
    .auction__item-attributes {
        width: 85%;
    }
    .auction__item-content_bid-custom .btn__area {
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .auction__item-content_bid-custom {
        padding: 0px !important;
        -webkit-box-flex: initial !important;
        -ms-flex: initial !important;
        flex: initial !important;
        width: 15%;
    }
    .auction__item-content_bid-custom .winner-label {
        text-align: right;
    }
    .total-price-custom {
        max-width: 100%;
    }
    .auction__item-content-custom {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}
/* End auction products list */
/* Start product details */
.product-section {
    padding-top: 32px;
    padding-bottom: 100px;
}
.product-section *:not(i) {
}
.back-button {
    margin-bottom: 32px;
}
.back-button i {
    font-size: 21px;
}
.back-button span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 21px !important;
    color: var(--black75-color) !important;
}
.back-button span,
.back-button i {
    background: -o-linear-gradient(
        31.5deg,
        #008cbd 13.06%,
        var(--primary-color) 49.23%,
        #008c64 84.65%
    );
    background: linear-gradient(
        58.5deg,
        #008cbd 13.06%,
        var(--primary-color) 49.23%,
        #008c64 84.65%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.back-button span::-moz-selection {
    background: linear-gradient(
        58.5deg,
        #008cbd 13.06%,
        var(--primary-color) 49.23%,
        #008c64 84.65%
    );
    -webkit-text-fill-color: var(--primary-color);
}
.back-button span::selection {
    background: -o-linear-gradient(
        31.5deg,
        #008cbd 13.06%,
        var(--primary-color) 49.23%,
        #008c64 84.65%
    );
    background: linear-gradient(
        58.5deg,
        #008cbd 13.06%,
        var(--primary-color) 49.23%,
        #008c64 84.65%
    );
    -webkit-text-fill-color: var(--primary-color);
}
.product__single-item .product-thumb-area .product-thumb img {
    -webkit-box-shadow: 0px 100px 80px rgba(120, 129, 130, 0.07),
        0px 41.7776px 33.4221px rgba(120, 129, 130, 0.0503198),
        0px 22.3363px 17.869px rgba(120, 129, 130, 0.0417275),
        0px 12.5216px 10.0172px rgba(120, 129, 130, 0.035),
        0px 6.6501px 5.32008px rgba(120, 129, 130, 0.0282725),
        0px 2.76726px 2.21381px rgba(120, 129, 130, 0.0196802);
    box-shadow: 0px 100px 80px rgba(120, 129, 130, 0.07),
        0px 41.7776px 33.4221px rgba(120, 129, 130, 0.0503198),
        0px 22.3363px 17.869px rgba(120, 129, 130, 0.0417275),
        0px 12.5216px 10.0172px rgba(120, 129, 130, 0.035),
        0px 6.6501px 5.32008px rgba(120, 129, 130, 0.0282725),
        0px 2.76726px 2.21381px rgba(120, 129, 130, 0.0196802);
    border-radius: var(--rounded);
}
#product-details #highest-bidder {
    color: var(--black-color) !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 21px !important;
}
#product-details .highest-bidder-icon {
    background-image: url(icons/Highest-Bidder.svg);
    width: 32px;
    height: 45px;
    -webkit-transform: scale(0.65);
    -ms-transform: scale(0.65);
    transform: scale(0.65);
}
#product-details .product-thumb-area {
    margin-bottom: 64px;
}
#product-details .product-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
}
#product-details .product-thumb {
    width: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
#product-details .product-content {
    width: 100%;
}
#product-details .owl-stage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#product-details .owl-item {
    height: -1%;
}
#product-details .slide-item {
    height: 100%;
}
#product-details .slide-item .auction__item {
    height: 100%;
}
#product-details .auction__item-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: calc(100% - 205px);
}
#product-details .auction__item-properties {
    margin-top: 24px;
}
#product-details .auction__item-properties th {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: var(--black75-color);
}
#product-details .auction__item-properties td {
    font-size: 16px;
    line-height: 24px;
    color: var(--black75-color);
}
#product-details #bid_price {
    color: var(--text-secondary-color) !important;
    font-style: normal;
    font-weight: 400;
    font-size: 24px !important;
    line-height: 21px !important;
}

#product-details #total_price {
    font-style: normal;
    font-weight: 400;
    font-size: 24px !important;
    margin-top: 4px;
}
#product-details #total_bids {
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 21px !important;
    color: var(--black75-color) !important;
}

.product-details-price-container {
    width: 275px;
}

#weight-select {
    width: 275px;
    background-color: var(--primary-backgroud-color);
}

.input-spinner-container .input-group {
    width: 275px !important;
    background-color: var(--primary-backgroud-color);
    height: 48px;
}

.input-spinner-container .input-group .btn-decrement {
    min-width: 100px !important;
    border: 1px solid rgba(0, 0, 0, 0.23) !important;
}

.input-spinner-container .input-group .btn-increment {
    min-width: 100px !important;
    border: 1px solid rgba(0, 0, 0, 0.23) !important;
}

.btn__area .currency-icon {
    background: -o-linear-gradient(
        31.5deg,
        #008cbd 13.06%,
        var(--primary-color) 49.23%,
        #008c64 84.65%
    );
    background: linear-gradient(
        58.5deg,
        #008cbd 13.06%,
        var(--primary-color) 49.23%,
        #008c64 84.65%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-color: transparent;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    padding: 0px;
}
.product-content .btn__area .amount-input {
    background-color: var(--black10-color);
    border-radius: var(--rounded);
    width: 100%;
    padding: 5px 0px 5px 15px;
    margin: 8px 0px 16px 0px;
}
.product-content .btn__area .amount-input input {
    background-color: transparent;
    font-size: 21px;
    line-height: 32px;
    border: 0px;
    color: var(--black75-color);
}
.product-content .btn__area .amount-input input:focus {
    border-width: 0px;
}
.product-content .btn__area .amount-input input::-webkit-input-placeholder {
    color: var(--black50-color);
}
.product-content .btn__area .amount-input input::-moz-placeholder {
    color: var(--black50-color);
}
.product-content .btn__area .amount-input input:-ms-input-placeholder {
    color: var(--black50-color);
}
.product-content .btn__area .amount-input input::-ms-input-placeholder {
    color: var(--black50-color);
}
.product-content .btn__area .amount-input input::placeholder {
    color: var(--black50-color);
}
.product-content .btn__area {
    gap: 0px;
}
#highestbidder_name {
    color: var(--black75-color);
}
#product-details #tabs-content {
    margin-right: 13px;
}
#product-details #tabs-content #description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 24px !important;
    color: var(--black75-color) !important;
}
#product-details .nav--tabs li a {
    padding: 0px 0px 6px;
    color: var(--black-color);
    font-size: 15px !important;
    line-height: 21px !important;
    font-style: normal;
    font-weight: 400;
}
#product-details .nav--tabs li a.active {
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
}
#product-details .product__single-tabs .nav--tabs {
    margin-bottom: 40px;
}
.specification-table tr {
    display: block;
    margin-bottom: 32px;
}
.specification-table tr th {
    width: auto;
    padding: 0px;
}
.specification-table tr td {
    width: auto;
    padding: 0px 8px;
}
.specification-table tr th,
.specification-table tr td {
    border-top: 0px;
    border-right: 0px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black75-color);
    text-transform: capitalize;
}
.specification-table tr th {
    color: var(--primary-color);
}
#related-products .owl-dots {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    gap: 7px;
}
#related-products .owl-dot {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #d9d9d9;
}
#related-products .owl-dot.active {
    background: -o-linear-gradient(
        31.5deg,
        #008cbd 13.06%,
        var(--primary-color) 49.23%,
        #008c64 84.65%
    );
    background: linear-gradient(
        58.5deg,
        #008cbd 13.06%,
        var(--primary-color) 49.23%,
        #008c64 84.65%
    );
}
#related-products .slide-item {
    padding: 30px 12px 50px;
}
#related-products .auction__item {
    background: #ffffff;
    border: 1px solid rgba(120, 129, 130, 0.1);
    -webkit-box-shadow: 0px 71px 28px rgba(120, 129, 130, 0.01),
        0px 40px 24px rgba(120, 129, 130, 0.05),
        0px 18px 18px rgba(120, 129, 130, 0.09),
        0px 4px 10px rgba(120, 129, 130, 0.1),
        0px 0px 0px rgba(120, 129, 130, 0.1);
    box-shadow: 0px 71px 28px rgba(120, 129, 130, 0.01),
        0px 40px 24px rgba(120, 129, 130, 0.05),
        0px 18px 18px rgba(120, 129, 130, 0.09),
        0px 4px 10px rgba(120, 129, 130, 0.1),
        0px 0px 0px rgba(120, 129, 130, 0.1);
    border-radius: var(--rounded);
}
#related-products .auction__item-thumb {
    padding: 0px;
}
#related-products .auction__item-thumb img {
    width: 100%;
    height: 205px;
    -o-object-fit: cover;
    object-fit: cover;
}
#related-products .auction__item-content {
    padding: 34px 32px 16px;
}
#related-products .auction__item-title {
    padding: 0px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#related-products .auction__item-title a {
    width: calc(100% - 27px);
    font-size: 21px !important;
    line-height: 32px !important;
    display: block;
    font-style: normal;
    font-weight: 700;
}
#related-products .auction__item-title button {
    border: 0px;
    padding: 0px;
    background-color: transparent;
}
#related-products .auction__item-title i {
    font-size: 25px;
    line-height: 39px;
}
#related-products .total-bids > span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 24px !important;
    color: var(--black75-color) !important;
}
#related-products .total-price {
    color: var(--primary-color) !important;
    font-weight: 700;
}
#related-products .auction__item-footer {
    text-align: initial;
    padding: 0px;
}
#related-products .auction__item-countdown {
    margin-top: 24px;
    padding-top: 24px;
    padding-bottom: 40px;
    border: 0px;
    position: relative;
}
#related-products .auction__item-countdown::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: var(--black25-color);
}
#related-products .auction__item-countdown .inner__grp {
    padding: 0px;
}
#related-products .auction__item-footer .cmn--btn {
    font-size: 12px;
    padding: 8px 20px;
}
#product-details .sidebar-countdown li {
    margin: 0px;
    width: 50px;
    height: 50px;
    border: 1px dashed var(--primary-color) !important;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
#product-details .countdown-area {
    padding: 30px 20px;
    background: #ffffff;
    border: 0.47px solid rgba(120, 129, 130, 0.1);
    -webkit-box-shadow: 0px 47.0588px 37.6471px rgba(120, 129, 130, 0.07),
        0px 19.6601px 15.728px rgba(120, 129, 130, 0.0503198),
        0px 10.5112px 0.40896px rgba(120, 129, 130, 0.0417275),
        0px 5.8925px 4.714px rgba(120, 129, 130, 0.035),
        0px 3.12946px 2.50357px rgba(120, 129, 130, 0.0282725),
        0px 1.30224px 1.04179px rgba(120, 129, 130, 0.0196802);
    box-shadow: 0px 47.0588px 37.6471px rgba(120, 129, 130, 0.07),
        0px 19.6601px 15.728px rgba(120, 129, 130, 0.0503198),
        0px 10.5112px 0.40896px rgba(120, 129, 130, 0.0417275),
        0px 5.8925px 4.714px rgba(120, 129, 130, 0.035),
        0px 3.12946px 2.50357px rgba(120, 129, 130, 0.0282725),
        0px 1.30224px 1.04179px rgba(120, 129, 130, 0.0196802);
    border-radius: 3.76471px;
}
#product-details .about-seller {
    margin-top: 24px;
    margin-bottom: 16px;
}
#product-details .seller-area {
    padding: 22px 32px;
    background: #ffffff;
    border: 1px solid rgba(120, 129, 130, 0.1);
    -webkit-box-shadow: 0px 100px 80px rgba(120, 129, 130, 0.07),
        0px 41.7776px 33.4221px rgba(120, 129, 130, 0.0503198),
        0px 22.3363px 17.869px rgba(120, 129, 130, 0.0417275),
        0px 12.5216px 10.0172px rgba(120, 129, 130, 0.035),
        0px 6.6501px 5.32008px rgba(120, 129, 130, 0.0282725),
        0px 2.76726px 2.21381px rgba(120, 129, 130, 0.0196802);
    box-shadow: 0px 100px 80px rgba(120, 129, 130, 0.07),
        0px 41.7776px 33.4221px rgba(120, 129, 130, 0.0503198),
        0px 22.3363px 17.869px rgba(120, 129, 130, 0.0417275),
        0px 12.5216px 10.0172px rgba(120, 129, 130, 0.035),
        0px 6.6501px 5.32008px rgba(120, 129, 130, 0.0282725),
        0px 2.76726px 2.21381px rgba(120, 129, 130, 0.0196802);
    border-radius: 8px;
}
#product-details .total-bid-number {
    max-width: 90px;
}
@media (min-width: 576px) {
    #related-products .slide-item {
        padding: 30px 80px 50px 40px;
    }
}
@media (min-width: 768px) {
    #related-products .slide-item {
        padding: 30px 36px 40px;
    }
}
@media (min-width: 992px) {
    .product-section {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    #product-details .product-thumb-area {
        margin-bottom: 10px;
        gap: 100px;
    }
    #product-details .product-thumb {
        padding-right: 20px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
    .back-button {
        margin-bottom: 72px;
    }
    .back-button i {
        font-size: 32px;
    }
    .back-button span {
        font-size: 21px !important;
        line-height: 32px !important;
    }
    #product-details #highest-bidder {
        font-size: 21px !important;
        line-height: 32px !important;
    }
    #product-details .highest-bidder-icon {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    #product-details .product-content {
        width: 50%;
    }
    #product-details #bid_price {
        font-size: 21px !important;
        line-height: 32px !important;
    }
    #product-details #total_bids {
        font-size: 21px !important;
        line-height: 32px !important;
    }
    .product-content .btn__area .amount-input {
        width: 305px;
        margin: 8px 0px 24px 0px;
    }
    #product-details .about-seller {
        margin-top: 64px;
        margin-bottom: 40px;
    }
    #product-details .nav--tabs li a {
        padding: 0px 6px 12px;
        font-size: 14px !important;
        line-height: 24px !important;
    }
    #product-details #tabs-content #description {
        font-size: 21px !important;
        line-height: 32px !important;
    }
    .specification-table tr th,
    .specification-table tr td {
        font-size: 21px;
        line-height: 32px;
    }
    #related-products .auction__item-title a {
        font-size: 27px !important;
        line-height: 39px !important;
    }
    #related-products .total-bids > span {
        font-size: 21px !important;
        line-height: 32px !important;
    }
    #related-products .auction__item-footer .cmn--btn {
        font-size: 16px;
        padding: 12px 24px;
    }
    #related-products .slide-item {
        padding: 30px 74px 50px;
    }

    .image-gallery {
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        padding-top: 1rem;
        padding-bottom: 1rem;
        gap: 0.5rem;
    }

    .image-gallery .gallery-image {
        width: 100px !important;
        height: 100px !important;
    }

    #mainImage {
        max-height: 450px !important;
    }

    .tab-content .details-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .tab-content .details-row .item-title {
        font-size: 14px !important;
        font-weight: 600;
        flex: 0.5;
    }
    .tab-content .details-row .item-details {
        font-size: 14px !important;
        font-weight: 400;
        flex: 0.5;
        text-align: left;
    }
}
@media (min-width: 1200px) {
    #related-products .slide-item {
        padding: 30px 12px 50px;
    }
}
/* End product details */

.filter-block-window {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
}

.products-table-toolbar {
    z-index: 2;
}

.table-row-per-page {
    background-color: var(--grey-100-color);
    border: 0;
    font-size: 12px;
    color: var(--primary-color);
}
