/* Start terms and conditions page */
.terms-and-conditions {
    max-width: 843px;
    margin: 0 auto 40px auto;
}
.terms-and-conditions * {
    font-family: "Lato";
    font-style: normal;
}
.terms-and-conditions ul li {
    padding-left: 21px;
    position: relative;
}
.terms-and-conditions ul li::before {
    content: "";
    position: absolute;
    left: 3px;
    top: 16px;
    width: 8px;
    height: 8px;
    background-color: var(--black75-color);
    border-radius: 100%;
}
.terms-and-conditions ul li span {
    font-size: 21px !important;
    line-height: 32px !important;
    color: var(--black75-color) !important;
    font-weight: 400 !important;
}
.terms-and-conditions h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    color: var(--black-color);
    letter-spacing: 0.02em;
}
.terms-and-conditions h2 {
    margin: 0px;
}
.terms-and-conditions h2 font {
    font-size: 42px;
    line-height: 55px;
    font-weight: 700;
    color: var(--black-color);
    letter-spacing: 0.02em;
}
.terms-and-conditions h3 font {
    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
    color: var(--black-color);
    letter-spacing: 0.02em;
}
.terms-and-conditions p {
    margin: 0px !important;
}
.terms-and-conditions p font {
    font-size: 21px;
    line-height: 32px;
    color: var(--black75-color);
    font-weight: 400;
}
/* End terms and conditions page */