.btn:focus{
	outline:none;
  	box-shadow:none;
}
.btn-primary{
  	background-color: #000 !important;
  	border:none;
}
.btn-danger {
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}
.support-btn{
	height: 39px;
}
.support-input-group{
    margin-top: 15px;
}
.error{
	color: #dc3545;
}
.input-group label.error{
    top: 100%;
	position: absolute;
}
#overlay {
    position: absolute;
    top: 260px;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    z-index: 3;
    width: 100px;
    height: 100px;
}




.cv-spinner {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime .8s infinite linear;
}

@keyframes sp-anime {
	100% {
		transform: rotate(360deg)
	}
}

.overlay-2 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #001329;
    z-index: 2;
    display: none;
    opacity: .9;
	
}


.account__section-content .form-control {
    background-color: transparent;
    color: #fff;
    border-color: #28364a;
    height: 50px;
}
.account__section-content .form-control option {
    color: #001329;
}


.account__section-content .form-control:focus {
    border-color: #c151cc;
}

.account__section-content label {
    margin-bottom: 3px;
}
body{
  background-color:#fff !important;
  color:#333;
}
.cmn--btn{
  
  color:#f9f9f9;
}
.cmn--btn, .btn--base, .badge--base, .bg--base, .scrollToTop, .footer-wrapper .footer-widget .title::after, .about-seller::after, .filter-widget .sub-title::after, .form--check .form-check-input:checked, .pagination .page-item.active span, .pagination .page-item.active a, .pagination .page-item:hover span, .pagination .page-item:hover a, .ticket__wrapper-title::after, .video__btn, .video__btn::before, .video__btn::after, .about--list li::before, .account__section-wrapper .account__section-content .section__header .section__title::after, .filter-btn, .filter-widget .ui-slider-range, .cmn--btn.active:hover, .read-more:hover::before, .dashboard__item .dashboard__icon {
  background-color: #008e8f !important;
}
 .faq__item.open .faq__title .right--icon::before{
   background-color: #fff !important;
}

.menu-area .menu li a {
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
}
.menu-area .menu li a:hover {
  color: #008D78;
}
.header-bottom{
  background-color: #f9f9f9;
  box-shadow:none;
  border:none;
}

.text--base, .mega-menu-icon .mega-icon, .change-language span, .auction__item-thumb .total-bids i, .client__item::after, .footer-wrapper .footer-widget .links li a::before, .footer-wrapper .footer-widget .links li a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .nav--tabs li a.active, .product__single-item .meta-post .meta-item .social-share li a:hover, .filter-widget .title i, .price-range label, .vendor__item .read-more, .vendor__item .vendor__info li i, .author-icon, .contact-icon, .contact-area .contact-content .contact-content-botom .subtitle, .contact-area .contact-content .contact-content-botom .contact-info li .cont a, .contact-area .contact-content .contact-content-botom .contact-info li .icon, .side__menu-title, .counter-item .counter-header .title, .faq__item.open .faq__title .title, p a, .cookies-card__icon, .price-range input, .footer-contact li i, .recent-blog .blog__content .date, .blog-details-header .meta-1 li i, .section__header.icon__contain .section__title .icon {
  color: #333 !important;
}
.change-language .language {
  
  border: 1px solid #333;
 
  color: #333;
}
.change-language .language option {
  background: #f9f9f9;
}
.change-language a {
  color: #333;
}
.header-top .form-control {
  background-color: #f9f9f9;
}

div[class*="col"]:nth-of-type(4n+1) .feature__item-icon {
  background: #333 !important;
  border-color: #333 !important;
}

.feature__item-icon {
 
  background-color: #333;
  color: #fff;
 
}



.footer--section {
  background-color: #f9f9f9;
}
.feature__item {
  border: 1px solid #333;
  box-shadow:none;
}
.footer-wrapper .footer-widget .links li a {
  color: #333;
}
.footer-contact li a {
  color: #333;
}
h1, h2, h3, h4, h5, h6 {
  color: #333;
}


.bg--section .faq__item {
  background: #008e8f;
}
.faq__item h5.title {
 color:#fff; 
}

.faq__item .faq__title .right--icon::before, .faq__item .faq__title .right--icon::after {

    background: #fff;
    

}
.cart-plus-minus input {
 
  background: #f9f9f9;
  
  color: #fff;
  
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #333;
}
.auction__item {
  box-shadow: 0 0 5px #479EBA;;
}

.input--group .form-control {

  color: #333;
}

.categories__wrapper .category__item {
border: 1px solid #333;
box-shadow: none;
}
.text--title {
  color: #333 !important;
}
.text--body {
  color: #333 !important;
}
.counter-item {
  border: 1px solid #333;
}
.preloader {
  background-color: #fff;
}
::selection {
  background-color: #008CBD;
}
a.cmn--btn:hover {
  background-color: #333 !important;
  color:#f9f9f9;
}
button.cmn--btn:hover {
  background-color: #333 !important;
  color:#f9f9f9;
}
.text--white {
  color: #333 !important;
}
.form--label {
color: #333 !important;
}
.form-group .form-control{
  background-color: #f9f9f9 !important;
  color: #333 !important;
}
.contact-area .contact-wrapper {
  border: 1px solid #333;
}
.footer-wrapper .footer-widget .title::after {
  content: none;
  
}

.banner-section {
  width:auto;
  height:750px;
}
body::before, .bg--body::before {

background-color: #fff !important;

}
.bg--section::before {
    background-color: #fff !important;
  
}
 h2.banner__title{
  color:#fff !important;
}
p.banner__content-txt{
  color:#fff !important;
}
h3.hero-title{
 color:#fff !important;
}
.category__item-icon {
  
  color: #333;
 
}
p.faq__content{
     background-color: #333 !important;
}

.account__section-content .form-control{
  color: #28364a !important;
}
.modal .modal-body h6 {
  color: #f9f9f9 !important;
}