:root {
  --primary-color: #008e8f;
  --secondary-color: #ff8749;
  --black-color: #292a2b;
  --black75-color: rgba(41, 42, 42, 0.75);
  --black50-color: rgba(95, 95, 95, 0.5);
  --black25-color: rgba(95, 95, 95, 0.25);
  --black10-color: rgba(95, 95, 95, 0.1);
  --black5-color: rgba(95, 95, 95, 0.05);
}

.custom-link {
  color: var(--secondary-color);
  text-decoration: none;
  cursor: pointer;
}

.section-wrapper {
  width: 100%;
}

.presence-details,
.contact-info {
  max-width: 1400px;
  margin: 0 auto;
}

.title-level-1,
.title-level-2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  letter-spacing: 0.02em;
  color: var(--black-color);
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

.title-level-1 {
  font-size: 40px;
  line-height: 1.3;
}

.title-level-2 {
  font-size: 32px;
  line-height: 55px;
}

.custom-paragraph {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: var(--black75-color);
  margin: 0;
}

@media (min-width: 768px) {
  .title-level-1 {
    font-size: 50px;
  }

  .title-level-2 {
    font-size: 36px;
  }
}

@media (min-width: 1400px) {
  .title-level-1 {
    font-size: 60px;
    line-height: 78px;
  }

  .title-level-2 {
    font-size: 42px;
  }
}

/* End Golbal Rules */

/* Start Presence Details */
.presence-details {
  padding: 3.5rem 1.5rem;
  width: 100%;
}

.presence-details .title-level-1 {
  text-align: center;
}

.presence-details .title-level-2 {
  text-align: center;
}

.details-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 0.4rem;
     -moz-column-gap: 0.4rem;
          column-gap: 0.4rem;
  margin-bottom: 1.5rem;
  text-align: justify;
}

.details-list-item img {
  margin-top: 6px;
}

.global-presence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 1.5rem;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}

.global-presence-image {
  display: block;
  width: 90%;
  margin: 5rem auto 3rem;
}

.global-presence-item {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--black75-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.global-presence-item p {
  margin: 0;
}

.global-presence-item img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 16px;
}

@media (min-width: 576px) {
  .global-presence {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) {
  .details-list-item {
    -webkit-column-gap: 1.125rem;
       -moz-column-gap: 1.125rem;
            column-gap: 1.125rem;
    margin-bottom: 2rem;
  }

  .global-presence-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
  }

  .presence-details {
    padding: 4.5rem 4.75rem;
  }
}

@media (min-width: 992px) {
  .presence-details {
    padding: 5.5rem 10.75rem;
  }

  .global-presence-image {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .presence-details {
    -webkit-column-gap: 13rem;
       -moz-column-gap: 13rem;
            column-gap: 13rem;
  }
}

@media (min-width: 1400px) {
  .presence-details {
    padding: 7.5rem 1rem 14rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 118px;
       -moz-column-gap: 118px;
            column-gap: 118px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
  }

  .global-presence-image {
    width: 100%;
  }

  .details-list-item {
    text-align: left;
  }

  .global-presence {
    -webkit-column-gap: 100px;
       -moz-column-gap: 100px;
            column-gap: 100px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .presence-details .title-level-1 {
    text-align: left;
  }

  .presence-details > div:nth-child(1) {
    width: 418px;
  }

  .presence-details > div:nth-child(2) {
    width: 548px;
  }

  .global-presence-item:last-child {
    position: relative;
    left: -25px;
  }

  .global-presence-item:nth-child(1) p {
    width: 81px;
  }
  .global-presence-item:nth-child(2) p {
    width: 88px;
  }
  .global-presence-item:nth-child(3) p {
    width: 53px;
  }
  .global-presence-item:nth-child(4) p {
    width: 107px;
  }
  .global-presence-item:nth-child(5) p {
    width: 109px;
  }
}

/* End Presence Details */

/* Start Contact Info */

.contact-info-bg {
  background-color: var(--black5-color);
}

.contact-info {
  padding: 3.5rem 1.5rem;
  width: 100%;
}

.contact-info > div {
  width: 260px;
  margin: 2.75rem auto;
}

.contact-info-link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: var(--black75-color);
  text-decoration: none;
  margin-left: 1rem;
}

.contact-info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-info-item:nth-child(2) {
  margin-bottom: 2.75rem;
}

@media (min-width: 576px) {
  .contact-info {
    padding: 4.5rem 4.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 8rem;
       -moz-column-gap: 8rem;
            column-gap: 8rem;
  }
}

@media (min-width: 768px) {
  .contact-info > div {
    width: auto;
    margin: 0;
  }
}

@media (min-width: 992px) {
  .contact-info {
    padding: 5.5rem 10.75rem;
    -webkit-column-gap: 10rem;
       -moz-column-gap: 10rem;
            column-gap: 10rem;
  }
}

@media (min-width: 1200px) {
  .contact-info {
    -webkit-column-gap: 13rem;
       -moz-column-gap: 13rem;
            column-gap: 13rem;
  }
}

@media (min-width: 1400px) {
  .contact-info {
    padding: 8.5rem 1rem;
    -webkit-column-gap: 15.375rem;
       -moz-column-gap: 15.375rem;
            column-gap: 15.375rem;
  }
}
/* End Contact Info */
