/* Start Buyers page */
.buyers-carousel {
    width: 100%;
}
.buyers-carousel .slide-item {
    position: relative;
}
.buyers-carousel .slide-item .buyers-slide-text {
    position: absolute;
    top: 80px;
    left: 50%;
    -webkit-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    transform: translatex(-50%);
    font-family: "Lato";
    font-style: normal;
    text-align: center;
    width: 100%;
}
.buyers-carousel .slide-item h1.buyers-slide-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #ffffff;
    max-width: 90%;
    margin: 0px auto 28px;
}
.buyers-carousel .slide-item p.buyers-slide-description {
    font-weight: 400;
    font-size: 15px;
    line-height: 22.5px;
    color: #ffffff;
    max-width: 90%;
    margin: 0px auto;
}
.buyers-carousel .slide-item img {
    height: 748px;
    -o-object-fit: cover;
    object-fit: cover;
}
.buyers-auctions-section {
    margin-top: -320px;
}
.top-curve {
    width: 386px;
    height: 126.5px;
    -webkit-clip-path: path(
        "M170.3 49.35C152.49 52.6 134.16 61.44 109.07 78.73 52.65 117.86 44.33 122.02 11.7 127.09 9.88 127.48 92.69 127.61 195.65 127.61 298.61 127.61 381.42 127.48 379.6 127.22 344.37 122.02 331.5 115.91 280.8 80.03 255.19 61.96 235.04 52.34 215.8 49.22 202.8 47.14 182.13 47.14 170.3 49.35Z"
    );
    clip-path: path(
        "M170.3 49.35C152.49 52.6 134.16 61.44 109.07 78.73 52.65 117.86 44.33 122.02 11.7 127.09 9.88 127.48 92.69 127.61 195.65 127.61 298.61 127.61 381.42 127.48 379.6 127.22 344.37 122.02 331.5 115.91 280.8 80.03 255.19 61.96 235.04 52.34 215.8 49.22 202.8 47.14 182.13 47.14 170.3 49.35Z"
    );
    position: relative;
    z-index: 2;
    margin: 0px auto;
    background: -o-linear-gradient(
        top,
        rgba(255, 255, 255, 0.5) 100%,
        rgba(255, 255, 255, 0.1) 90.92%
    );
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(100%, rgba(255, 255, 255, 0.5)),
        color-stop(90.92%, rgba(255, 255, 255, 0.1))
    );
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.5) 100%,
        rgba(255, 255, 255, 0.1) 90.92%
    );
    -webkit-backdrop-filter: blur(29.6884px);
    backdrop-filter: blur(29.6884px);
}
.buyers-auctions-section .auctions-section-title {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0px);
    -ms-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
    z-index: 2;
    height: 114px;
    margin-bottom: 30px;
}
.buyers-auctions-section .auctions-section-title > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.buyers-auctions-section .auctions-section-title img {
    width: 51px;
    padding-top: 8px;
}
@-webkit-keyframes bounce {
    0%,
    100% {
        -webkit-transform: translateY(-15%);
        transform: translateY(-15%);
        -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}
@keyframes bounce {
    0%,
    100% {
        -webkit-transform: translateY(-15%);
        transform: translateY(-15%);
        -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}
.buyers-auctions-section .glass-card {
    background: -o-linear-gradient(
        top,
        rgba(255, 255, 255, 0.5) 24.31%,
        rgba(255, 255, 255, 0.1) 90.92%
    );
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(24.31%, rgba(255, 255, 255, 0.5)),
        color-stop(90.92%, rgba(255, 255, 255, 0.1))
    );
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.5) 24.31%,
        rgba(255, 255, 255, 0.1) 90.92%
    );
    -webkit-box-shadow: 0px 5.93768px 35.6261px -1.48442px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5.93768px 35.6261px -1.48442px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(29.6884px);
    backdrop-filter: blur(29.6884px);
    border-radius: 7px 7px 0px 0px;
    position: relative;
    z-index: 1;
    padding-top: 40px;
}
.buyers-auctions-section .auctions-section-cards {
    row-gap: 24px;
    padding: 0px 8px 192px;
}
.buyers-auction-card .auction__item {
    background: #ffffff;
    border: 1px solid rgba(120, 129, 130, 0.1);
    -webkit-box-shadow: 0px 71px 28px rgba(120, 129, 130, 0.01),
        0px 40px 24px rgba(120, 129, 130, 0.05),
        0px 18px 18px rgba(120, 129, 130, 0.09),
        0px 4px 10px rgba(120, 129, 130, 0.1),
        0px 0px 0px rgba(120, 129, 130, 0.1);
    box-shadow: 0px 71px 28px rgba(120, 129, 130, 0.01),
        0px 40px 24px rgba(120, 129, 130, 0.05),
        0px 18px 18px rgba(120, 129, 130, 0.09),
        0px 4px 10px rgba(120, 129, 130, 0.1),
        0px 0px 0px rgba(120, 129, 130, 0.1);
    border-radius: 8px;
    height: 100%;
}
.buyers-auction-card .auction__item-thumb {
    padding: 10px 8px 0px 8px;
}
.buyers-auction-card .auction__item-thumb a {
    border-radius: 8px;
}
.buyers-auction-card .auction__item-thumb img {
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    height: 252px;
}
.buyers-auction-card .auction__item-content {
    padding: 40px 15px 16px;
    height: calc(100% - 262px);
}
.buyers-auction-card .auction__item-title {
    padding: 0px !important;
    border: 0px;
}
.buyers-auction-card .auction__item-title a {
    font-weight: 700;
    font-size: 21px !important;
    line-height: 32px;
}
.buyers-auction-card .auction__item-title a {
    color: var(--black-color) !important;
}
.buyers-auction-card .auction__item-title .practice-label {
    color: #dbaa00 !important;
    text-transform: capitalize;
    padding-left: 8px;
}
.buyers-auction-card .auction__item-locationAndDate {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--black75-color);
    margin-top: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.buyers-auction-card .auction__item-locationAndDate > span {
    width: calc(100% - 112px);
}
.buyers-auction-card .auction__item-locationAndDate .auction-status {
    color: var(--primary-color);
}
.buyers-auction-card .auction__item-locationAndDate .auction-status span {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.buyers-auction-card .auction__item-countdown {
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: var(--black75-color);
    margin-top: 24px;
    margin-bottom: 36px;
    border: 0px;
    height: 120px;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.buyers-auction-card .auction__item-footer {
    padding: 0px;
}
.buyers-auction-card .btn__area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 22px;
}
.buyers-auction-card a.view-coffee-link,
.buyers-auction-card a.auction-card-btn {
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    cursor: pointer;
    overflow: initial;
}
.buyers-auction-card a.view-coffee-link {
    color: var(--primary-color);
    padding: 0px;
    background-color: transparent !important;
    border: 0px;
    -webkit-transition: color 0.3s ease-in;
    -o-transition: color 0.3s ease-in;
    transition: color 0.3s ease-in;
}
.buyers-auction-card a.view-coffee-link:hover {
    color: var(--black-color);
}
.buyers-auction-card a.auction-card-btn {
    color: #ffffff;
    padding: 8px 16px;
    border: 0px;
    background-color: var(--button-contained-background) !important;
    -webkit-transition: background-color 0.3s ease-in;
    -o-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
}
.buyers-auction-card a.auction-card-btn:hover {
    background-color: var(--button-contained-hover) !important;
}
.buyers-auction-card a.auction-card-btn:disabled {
    background-color: var(--button-contained-color) !important;
}
@media (min-width: 576px) {
    .buyers-carousel .slide-item .buyers-slide-text {
        top: 60px;
    }
    .buyers-carousel .slide-item h1.buyers-slide-title {
        font-size: 30px;
        line-height: 48px;
        max-width: 67%;
        margin: 0px auto 30px;
    }
    .buyers-carousel .slide-item p.buyers-slide-description {
        font-size: 16px;
        line-height: 28px;
        max-width: 70%;
    }
    .buyers-auctions-section .glass-card {
        padding-top: 90px;
    }
    .buyers-auctions-section .auctions-section-title {
        position: absolute;
        -webkit-transform: translate(-50%, -16px);
        -ms-transform: translate(-50%, -16px);
        transform: translate(-50%, -16px);
        height: auto;
        margin-bottom: 0px;
    }
}
.additional-support-section {
    background-image: -o-linear-gradient(
        left,
        #038d8d,
        #068f90,
        #0a9293,
        #0e9497,
        #11979a,
        #169a9d,
        #1b9ca1,
        #1f9fa4,
        #25a3a7,
        #2ba7ab,
        #30abae,
        #35afb2
    );
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#038d8d),
        color-stop(#068f90),
        color-stop(#0a9293),
        color-stop(#0e9497),
        color-stop(#11979a),
        color-stop(#169a9d),
        color-stop(#1b9ca1),
        color-stop(#1f9fa4),
        color-stop(#25a3a7),
        color-stop(#2ba7ab),
        color-stop(#30abae),
        to(#35afb2)
    );
    background-image: linear-gradient(
        to right,
        #038d8d,
        #068f90,
        #0a9293,
        #0e9497,
        #11979a,
        #169a9d,
        #1b9ca1,
        #1f9fa4,
        #25a3a7,
        #2ba7ab,
        #30abae,
        #35afb2
    );
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    z-index: 3;
}
.additional-support-section h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    color: #ffffff;
    margin: 0px;
}
.additional-support-section p {
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    color: #ffffff;
    margin: 0px !important;
}
.additional-support-section a {
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    border: 1px solid #ffffff;
    border-radius: 25px;
    padding: 14px 30px;
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.additional-support-section a:hover {
    background-color: var(--black-color);
}
@media (min-width: 768px) {
    .buyers-carousel .slide-item .buyers-slide-text {
        top: 100px;
    }
    .buyers-carousel .slide-item h1.buyers-slide-title {
        font-size: 40px;
        line-height: 58px;
        max-width: 68%;
        margin: 0px auto 48px;
    }
    .buyers-carousel .slide-item p.buyers-slide-description {
        font-size: 18px;
        line-height: 30px;
        max-width: 74%;
    }
    .buyers-auctions-section .auctions-section-cards {
        padding: 0px 14px 192px;
    }
}
@media (min-width: 992px) {
    .buyers-carousel .slide-item .buyers-slide-text {
        top: 120px;
    }
    .buyers-carousel .slide-item h1.buyers-slide-title {
        font-size: 60px;
        line-height: 78px;
        max-width: 888px;
        margin: 0px auto;
    }
    .buyers-carousel .slide-item p.buyers-slide-description {
        font-size: 21px;
        line-height: 32px;
        max-width: 775px;
    }
    .buyers-auction-card .auction__item-title a {
        font-size: 28px !important;
        line-height: 36px;
    }
    .buyers-auction-card .auction__item-locationAndDate {
        font-size: 21px;
        line-height: 32px;
    }
    .buyers-auction-card .auction__item-countdown {
        font-size: 16px;
        line-height: 24px;
    }
    .buyers-auction-card a.view-coffee-link,
    .buyers-auction-card a.auction-card-btn {
        font-size: 16px;
        line-height: 24px;
    }
    .buyers-auction-card a.auction-card-btn {
        padding: 8px 16px;
        border: 0px;
    }
    .buyers-auctions-section .auctions-section-cards {
        padding: 0px 30px 192px;
    }
}
@media (min-width: 1200px) {
    .buyers-auction-card a.view-coffee-link,
    .buyers-auction-card a.auction-card-btn {
        font-size: 13.5px;
        line-height: 24px;
    }
    .buyers-auction-card .auction__item-thumb img {
        width: 100%;
        -o-object-fit: contain;
        object-fit: contain;
        height: 272px;
    }
    .buyers-auction-card .auction__item-content {
        padding: 40px 15px 16px;
        height: calc(100% - 282px);
    }
}
@media (min-width: 1400px) {
    .buyers-auction-card a.view-coffee-link,
    .buyers-auction-card a.auction-card-btn {
        font-size: 16px;
        line-height: 24px;
    }
    .buyers-auctions-section .auctions-section-cards {
        padding: 0px 38px 192px;
    }
}
.footer-section {
    position: relative;
    z-index: 2;
}
/* End Buyers page */
