::-moz-selection {
    background-color: #008cbd;
}
::selection {
    background-color: #008cbd;
}
.primary-color {
    color: var(--primary-color) !important;
}
.btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-danger {
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}
.support-btn {
    height: 39px;
}
.error {
    color: #dc3545;
}
.input-group label.error {
    top: 100%;
    position: absolute;
}
.account__section-content .form-control {
    background-color: transparent;
    color: #fff;
    border-color: #28364a;
    height: 50px;
}
.account__section-content .form-control option {
    color: #001329;
}
.account__section-content .form-control:focus {
    border-color: #c151cc;
}
.account__section-content label {
    margin-bottom: 3px;
}
.btn--base,
.badge--base,
.bg--base,
.pagination .page-item.active span,
.pagination .page-item.active a,
.pagination .page-item:hover span,
.pagination .page-item:hover a,
.ticket__wrapper-title::after,
.account__section-wrapper
    .account__section-content
    .section__header
    .section__title::after,
.read-more:hover::before,
.dashboard__item .dashboard__icon {
    background-color: var(--primary-color) !important;
}
.header-bottom {
    background-color: var(--light-grey-color);
}
.header-bottom .login-link {
    color: var(--black75-color) !important;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.header-bottom .login-link:hover {
    color: var(--primary-color) !important;
}
.header-bottom .header-icons li {
    border: 0px;
    outline: 0px;
    position: relative;
}
.header-bottom .header-icons svg {
    fill: var(--black75-color);
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    cursor: pointer;
    outline: none;
}
.header-bottom .header-icons svg:hover {
    fill: var(--primary-color);
}
.header-bottom .header-icons .cart-icon:hover .dropdown-content {
    display: block;
}
.text--base,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
.product__single-item .meta-post .meta-item .social-share li a:hover,
.author-icon,
p a,
.cookies-card__icon,
.recent-blog .blog__content .date,
.blog-details-header .meta-1 li i,
.section__header.icon__contain .section__title .icon {
    color: var(--black-color) !important;
}
.side__menu-title {
    color: #fff !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #479eba;
}
.auction__item {
    -webkit-box-shadow: 0 0 5px #479eba;
    box-shadow: 0 0 5px #479eba;
}
a.cmn--btn:hover {
    background-color: var(--black-color) !important;
    color: #f9f9f9;
}
button.cmn--btn:hover {
    background-color: var(--black-color) !important;
    color: #f9f9f9;
}
.text--white {
    color: #333 !important;
}
.form-group .form-control {
    color: #333 !important;
    background: #f9f9f9 !important;
    border: 1px solid #ced4da;
    border-radius: 4px;
}
.form-group .form-control::-webkit-input-placeholder {
    color: var(--black50-color);
}
.form-group .form-control::-moz-placeholder {
    color: var(--black50-color);
}
.form-group .form-control:-ms-input-placeholder {
    color: var(--black50-color);
}
.form-group .form-control::-ms-input-placeholder {
    color: var(--black50-color);
}
.form-group .form-control::placeholder {
    color: var(--black50-color);
}
.account__section-content .form-control {
    color: #28364a !important;
}
.dashboard__header-top {
    position: relative;
    background: #ffffff;
    padding: 15px 30px;
    border-bottom: 1px solid #dee4ec;
    -webkit-box-shadow: 5px 7px 26px -5px #cdd4e7;
    box-shadow: 5px 7px 26px -5px #cdd4e7;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-transition: all 0.5s cubic-bezier(0.4, -0.25, 0.25, 1.1);
    -o-transition: all 0.5s cubic-bezier(0.4, -0.25, 0.25, 1.1);
    transition: all 0.5s cubic-bezier(0.4, -0.25, 0.25, 1.1);
}
.table_specific .small {
    font-weight: bold;
}
.modal-footer button {
    width: 80px;
}
.input-popup {
    color: #28c76f !important;
}
.visit-home-btn {
    color: #ffffff;
    background: var(--primary-color);
    padding: 4px 10px;
    border-radius: 8px;
}
.visit-home-btn:hover {
    background-color: #ffffff;
    color: var(--primary-color);
}
.visit-home-btn i {
    padding-right: 4px;
}
.cmn--table thead {
    background: var(--primary-color);
    font-weight: 400;
}
.cmn--table {
    color: var(--primary-color);
}
.cmn--table thead th {
    font-weight: bold;
}
.cmn--btn:hover {
    color: #ffffff;
    background-color: var(--primary-color) !important;
}