/* Start Home page */
.home-page {
    height: 400px;
    background: #292a2b;
    position: relative;
}
.home-page-mobile {
    width: 100%;
    height: 640px;
}
.home-page-mobile > div {
    height: 50%;
}
.home-page-mobile .mobile-producers {
    background-color: var(--black-color);
}
.home-page-mobile .mobile-buyers {
    background-color: var(--primary-color);
}
.home-page-mobile .mobile-producers .mobile-producers-link,
.home-page-mobile .mobile-buyers .mobile-buyers-link {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.home-page-mobile .mobile-producers .mobile-producers-link {
    left: 0;
}
.home-page-mobile .mobile-buyers .mobile-buyers-link {
    right: 0;
}
.home-page-mobile p {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    margin: 0px !important;
}
.home-page-mobile p > span {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: #ffffff;
    text-transform: uppercase;
}
.home-page-mobile .go-to-link {
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.46px;
    text-transform: uppercase;
    color: #ffffff;
}
.home-page-mobile .mobile-producers .mobile-producers-link p {
    width: 214px;
    top: 40px;
}
.home-page-mobile .mobile-buyers .mobile-buyers-link p {
    width: 146px;
    bottom: 40px;
}
.home-page-mobile .mobile-producers .mobile-producers-link img {
    position: absolute;
    right: -20px;
    bottom: 0px;
    width: 90%;
}
.home-page-mobile .mobile-buyers .mobile-buyers-link img {
    position: absolute;
    left: -20px;
    top: 0px;
    width: 90%;
}
@media (min-width: 400px) {
    .home-page-mobile .mobile-producers .mobile-producers-link img {
        right: 0px;
        width: 80%;
    }
    .home-page-mobile .mobile-buyers .mobile-buyers-link img {
        left: 0px;
        width: 79%;
    }
}
@media (min-width: 500px) {
    .home-page-mobile .mobile-producers .mobile-producers-link p {
        top: 30px;
        left: 15px;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    .home-page-mobile .mobile-buyers .mobile-buyers-link p {
        bottom: 30px;
        right: 22px;
        left: unset;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}
.home-page .layer1,
.home-page .layer2 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.home-page .layer1 {
    z-index: 1;
    display: none;
}
.home-page .layer2 {
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.home-page .layer3,
.home-page .layer4 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.home-page .layer3 {
    z-index: 3;
}
.home-page .layer4 {
    z-index: 4;
}
.home-page .layer1 .layer1-buyers,
.home-page .layer2 .layer2-buyers {
    width: 50%;
    background-color: var(--primary-backgroud-color);
    position: relative;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.home-page .layer1 .layer1-producers,
.home-page .layer2 .layer2-producers {
    width: 50%;
    background-color: var(--black-color);
    position: relative;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.home-page .layer1 .layer1-buyers img {
    position: absolute;
    right: -201px;
    bottom: 0;
    width: 402px;
}
.home-page .layer1 .layer1-producers img {
    position: absolute;
    left: -189px;
    top: 0;
    width: 380px;
}
.home-page .layer2 .layer2-producers img {
    position: absolute;
    right: -140px;
    top: 0;
    width: 280px;
}
.home-page .layer2 .layer2-buyers img {
    position: absolute;
    left: -151px;
    bottom: 0;
    width: 302px;
}
.home-page .layer3 .layer3-buyers,
.home-page .layer3 .layer3-producers {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    color: #ffffff;
    max-width: 273px;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.home-page .layer3 .layer3-producers {
    right: 0;
}
.home-page .layer3 .layer3-buyers {
    left: 0;
}
.home-page .layer4 .layer4-buyers,
.home-page .layer4 .layer4-producers {
    position: absolute;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 31px;
    line-height: 40px;
}
.home-page .layer4 .layer4-buyers p,
.home-page .layer4 .layer4-producers p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0px !important;
}
.home-page .layer4 .layer4-buyers .go-to-link,
.home-page .layer4 .layer4-producers .go-to-link {
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
}
.home-page .layer4 .go-to-link > span {
    margin-right: 16px;
}
.home-page .layer4 .go-to-link i:nth-of-type(2) {
    margin: 0 18px;
}
.home-page .layer4 .go-to-link i:not(:nth-of-type(1)) {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.home-page .layer4 .layer4-buyers:hover .go-to-link i:not(:nth-of-type(1)),
.home-page .layer4 .layer4-producers:hover .go-to-link i:not(:nth-of-type(1)) {
    opacity: 1;
}
.home-page .layer4 .layer4-producers {
    left: 48px;
    max-width: 252px;
    bottom: -16px;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.home-page .layer4 .layer4-buyers {
    right: 50px;
    max-width: 184px;
    top: -10px;
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    text-align: right;
}
@media (min-width: 992px) {
    .bounce-in-top2 {
        -webkit-animation: bounce-in-top2 1.5s ease-in-out 1;
        animation: bounce-in-top2 1.5s ease-in-out 1;
    }
    @-webkit-keyframes bounce-in-top2 {
        0% {
            top: -2000px;
        }
        70% {
            top: 53%;
        }
        100% {
            top: 50%;
        }
    }
    @keyframes bounce-in-top2 {
        0% {
            top: -2000px;
        }
        70% {
            top: 53%;
        }
        100% {
            top: 50%;
        }
    }
    .bounce-in-bottom2 {
        -webkit-animation: bounce-in-bottom2 1.5s ease-in-out 1;
        animation: bounce-in-bottom2 1.5s ease-in-out 1;
    }
    @-webkit-keyframes bounce-in-bottom2 {
        0% {
            top: 2000px;
        }
        70% {
            top: 47%;
        }
        100% {
            top: 50%;
        }
    }
    @keyframes bounce-in-bottom2 {
        0% {
            top: 2000px;
        }
        70% {
            top: 47%;
        }
        100% {
            top: 50%;
        }
    }
    .home-page .layer1 .layer1-buyers img {
        position: absolute;
        right: -304px;
        bottom: 0;
        width: auto;
    }
    .home-page .layer1 .layer1-producers img {
        position: absolute;
        left: -281px;
        top: 0;
        width: auto;
    }
}
.home-page .live-auction-notification {
    width: 251px;
    position: absolute;
    right: 0;
    top: 80px;
    padding: 16px;
    background: -o-linear-gradient(
        top,
        rgba(255, 255, 255, 0.5) 24.31%,
        rgba(255, 255, 255, 0.1) 90.92%
    );
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(24.31%, rgba(255, 255, 255, 0.5)),
        color-stop(90.92%, rgba(255, 255, 255, 0.1))
    );
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.5) 24.31%,
        rgba(255, 255, 255, 0.1) 90.92%
    );
    -webkit-box-shadow: 0px 5.93768px 35.6261px -1.48442px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5.93768px 35.6261px -1.48442px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(29.6884px);
    backdrop-filter: blur(29.6884px);
    border-radius: 8px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.home-page .live-auction-notification .notification-icon {
    padding: 10px;
    border-radius: 50%;
    background-color: var(--black-color);
}
.home-page .live-auction-notification .notification-text p {
    margin-top: 0px;
}
.home-page .live-auction-notification .notification-text p:first-child {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: var(--black-color);
    margin-bottom: 4px;
}
.home-page .live-auction-notification .notification-text p:last-child {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--black75-color);
    margin-bottom: 0px !important;
}
.show-element {
    opacity: 1 !important;
}
.hide-element {
    opacity: 0 !important;
}
@media (min-width: 576px) {
    .home-page {
        height: 540px;
    }
    .home-page .layer2 .layer2-producers img {
        right: -190px;
        top: 0;
        width: 380px;
    }
    .home-page .layer2 .layer2-buyers img {
        left: -201px;
        bottom: 0;
        width: 402px;
    }
    .home-page .layer4 .layer4-buyers,
    .home-page .layer4 .layer4-producers {
        font-size: 38px;
        line-height: 48px;
    }
}
@media (min-width: 768px) {
    .home-page .layer1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
@media (min-width: 992px) {
    .home-page {
        height: 800px;
    }
    .home-page .layer4 .layer4-buyers,
    .home-page .layer4 .layer4-producers {
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        font-size: 60px;
        line-height: 78px;
    }
    .home-page .layer4 .layer4-producers {
        left: 0;
        -webkit-transform-origin: initial;
        -ms-transform-origin: initial;
        transform-origin: initial;
        bottom: unset;
        max-width: 372px;
    }
    .home-page .layer4 .layer4-buyers {
        right: 0;
        -webkit-transform-origin: initial;
        -ms-transform-origin: initial;
        transform-origin: initial;
        max-width: 237px;
        text-align: left;
    }
    .home-page .layer2 .layer2-producers img {
        right: -281px;
        top: 0px;
        width: auto;
    }
    .home-page .layer2 .layer2-buyers img {
        left: -304px;
        width: auto;
    }
}
@media (min-width: 1400px) {
    .home-page .layer3 .layer3-buyers,
    .home-page .layer3 .layer3-producers {
        max-width: 310px;
    }
} /* End Home page */