/* You can use the following link to delete spaces: https://codebeautify.org/remove-extra-spaces */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
:root {
    --primary-color: var(--body-text-color);
    --secondary-color: #ff8749;
    --ACE-secondary-color: #dbaa00;
    --red-color: #bd0b00;
    --black-color: #292a2b;
    --black75-color: rgba(41, 42, 42, 0.75);
    --black50-color: rgba(95, 95, 95, 0.5);
    --black25-color: rgba(95, 95, 95, 0.25);
    --black10-color: rgba(95, 95, 95, 0.1);
    --black5-color: rgba(95, 95, 95, 0.05);
    --light-grey-color: rgb(247, 247, 247);
    --rounded: 8px;
    --small-shadow: 0px 13px 5px rgba(0, 0, 0, 0.02),
        0px 7px 4px rgba(0, 0, 0, 0.08), 0px 3px 3px rgba(0, 0, 0, 0.13),
        0px 1px 2px rgba(0, 0, 0, 0.15), 0px 0px 0px rgba(0, 0, 0, 0.15);
    --medium-shadow: 0px 71px 28px rgba(120, 129, 130, 0.01),
        0px 40px 24px rgba(120, 129, 130, 0.05),
        0px 18px 18px rgba(120, 129, 130, 0.09),
        0px 4px 10px rgba(120, 129, 130, 0.1),
        0px 0px 0px rgba(120, 129, 130, 0.1);
    --high-shadow: 0px 100px 80px rgba(120, 129, 130, 0.07),
        0px 41.7776px 33.4221px rgba(120, 129, 130, 0.0503198),
        0px 22.3363px 17.869px rgba(120, 129, 130, 0.0417275),
        0px 12.5216px 10.0172px rgba(120, 129, 130, 0.035),
        0px 6.6501px 5.32008px rgba(120, 129, 130, 0.0282725),
        0px 2.76726px 2.21381px rgba(120, 129, 130, 0.0196802);
}
html {
    font-size: 16px;
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    overflow-x: hidden;
    font-weight: 500;
    position: relative;
    min-height: 100vh;
    background-color: var(--primary-backgroud-color) !important;
    color: #333;
    font-family: "paragraphsFont", sans-serif;
}
a {
    display: inline-block;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    text-decoration: none;
    color: var(--text-links-color) !important;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
h1 {
    color: var(--text-h1-color) !important;
}
h2 {
    color: var(--text-h2-color) !important;
}
h3 {
    color: var(--text-h3-color) !important;
}
h4 {
    color: var(--text-h4-color) !important;
}
h5 {
    color: var(--text-h5-color) !important;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
.bg_img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.loader-frame {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    content: "";
}
.pt-60 {
    padding-top: 40px;
}
.pb-60 {
    padding-bottom: 40px;
}
.pt-120 {
    padding-top: 80px;
}
.pb-120 {
    padding-bottom: 80px;
}
@media (min-width: 992px) {
    .pt-60 {
        padding-top: 60px;
    }
    .pb-60 {
        padding-bottom: 60px;
    }
    .pt-120 {
        padding-top: 120px;
    }
    .pb-120 {
        padding-bottom: 120px;
    }
}
.overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 22, 49, 0.8);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.overlay.active {
    visibility: visible;
    opacity: 1;
}
.section__header {
    margin-bottom: 30px;
}
.section__header:not(.text-start) {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.section__header:not(.text-start) .progress--bar {
    margin-left: auto;
    margin-right: auto;
}
.section__header .section__txt {
    margin: 0;
    margin-top: 10px;
    padding-bottom: 10px;
}
@media (min-width: 768px) {
    .section__header {
        max-width: 640px;
        margin-bottom: 40px;
    }
    .section__header .section__txt {
        font-size: 18px;
    }
}
rect,
path {
    fill: var(--main-svg-color) !important;
    background-color: var(--hover-svg-background) !important;
}
rect,
path:hover {
    fill: var(--hover-svg-color) !important;
}
rect,
path:active {
    fill: var(--hover-svg-color) !important;
}
.section__header .progress--bar {
    height: 5px;
    margin: 15px 0 0;
    display: block;
    background: rgba(193, 81, 204, 0.3);
    max-width: 200px;
    position: relative;
}
.section__header .progress--bar .progress-bar {
    width: 34%;
    height: 5px;
    background-image: -o-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.3) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.3) 50%,
        rgba(255, 255, 255, 0.3) 75%,
        transparent 75%,
        transparent
    );
    background-image: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.3) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.3) 50%,
        rgba(255, 255, 255, 0.3) 75%,
        transparent 75%,
        transparent
    );
    background-size: 6px 6px;
    left: 33%;
    position: absolute;
}
.section__header.icon__contain .section__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.2;
}
.section__header.icon__contain .section__title .icon {
    width: 40px;
    color: #c151cc;
    font-size: 40px;
    line-height: 1;
}
.section__header.icon__contain .section__title .cont {
    max-width: calc(100% - 40px);
    -ms-flex-item-align: center;
    align-self: center;
    padding-left: 10px;
}
@media (min-width: 576px) {
    .section__header.icon__contain .section__title .cont {
        font-size: 30px;
    }
}
@media (max-width: 575px) {
    .section__header.icon__contain .section__title {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .section__header.icon__contain .progress--bar {
        margin-left: auto;
        margin-right: auto;
    }
}
.badge--primary,
.bg--primary {
    background-color: #7367f0 !important;
}
.badge--success,
.bg--success {
    background-color: #28c76f !important;
}
.btn--danger,
.badge--danger,
.bg--danger {
    background-color: #ea5455 !important;
}
.badge--warning,
.bg--warning {
    background-color: #f99f0b !important;
}
.badge--info,
.bg--info {
    background-color: #1e9ff2 !important;
}
.badge--dark,
.bg--dark {
    background-color: #192a56 !important;
}
[class*="btn--"] {
    color: #fff;
    font-weight: 500;
}
[class*="btn--"]:hover {
    color: #fff;
}
.text--success {
    color: #28c76f !important;
}
.text--danger {
    color: #ea5455 !important;
}
.text--black {
    color: #000 !important;
}
.text--body,
.text--title {
    color: #333 !important;
}
.bg--section {
    position: relative;
    background: url(./icons/noise-bg.png);
    background-size: 12px 12px;
    background-position: top center;
}
.bg--section > * {
    position: relative;
    z-index: 1;
}
.bg--section::before {
    position: absolute;
    content: "";
    inset: 0;
    background-color: #fff !important;
    border-radius: inherit;
}
@media (max-width: 575px) {
    .bg--section {
        background-size: 8px;
    }
}
.bg--body {
    position: relative;
    background-image: url(./icons/noise-bg.png);
    background-size: 12px 12px;
    background-position: top center;
}
body .main-body,
body > *,
.bg--body .main-body,
.bg--body > * {
    position: relative;
}
.bg--body::before {
    position: absolute;
    content: "";
    inset: 0;
    background-color: #fff !important;
    border-radius: inherit;
}
@media (max-width: 575px) {
    .bg--body {
        background-size: 8px;
    }
}
.footer-top {
    padding: 26px 0 64px;
}
.footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 24px;
}
.footer-wrapper .footer-widget {
    max-width: initial;
    width: 100%;
}
.footer-wrapper .footer-widget .title {
    margin-top: 0px;
    margin-bottom: 16px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: var(--footer-links-color) !important;
}
.footer-wrapper .footer-widget .title::after {
    background-color: var(--primary-color) !important;
}
.footer-wrapper .footer-widget .links {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}
.footer-wrapper .footer-widget .links li {
    padding: 0;
}
.footer-wrapper .footer-widget .links li a {
    color: var(--footer-links-color) !important;
}
.footer-wrapper .footer-widget .links li a:hover,
.footer-wrapper .footer-widget .links li a:hover::before {
    color: var(--footer-hover-color) !important;
}
.footer-wrapper .footer-widget .links li a::before {
    content: "\f101";
    font-family: "Line Awesome Free";
    font-weight: 600;
    margin-right: 10px;
    color: var(--footer-links-color) !important;
}
.footer-wrapper .footer-widget .links li:not(:last-child) {
    margin-bottom: 6px;
}
.footer-wrapper .footer-widget.widget-subscribe {
    max-width: 300px;
}
.footer-wrapper .footer-widget.widget-subscribe p {
    margin: 0;
    margin-bottom: 30px;
}
.footer-middle-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.footer-middle-wrapper .logo {
    width: 93px;
}
.footer-middle-wrapper .logo a {
    display: block;
}
.footer-middle-wrapper .logo a img {
    width: 100%;
}
.footer-middle-wrapper .cont {
    max-width: calc(100% - 200px);
    font-size: 14px;
    text-align: left;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    margin: 0px !important; /* border: 2px solid red; */
}
.footer-middle-wrapper .cont p {
    display: block;
    position: relative;
    top: 10px;
}
@media (max-width: 425px) {
    .footer-wrapper {
        flex-direction: column;
    }
    .footer-wrapper .footer__nav-links {
        display: flex;
        flex-direction: column;
    }
    .footer-wrapper .all-socials {
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        row-gap: 1rem;
    }

    .all-socials div {
        margin: 0px auto;
    }
    .footer-middle-wrapper {
        text-align: center;
        row-gap: 1rem;
    }
    .footer-middle-wrapper div:first-child {
        margin: 0px auto;
    }
    .footer-middle-wrapper .cont {
        display: flex;
        flex-direction: column;
    }
    .footer-wrapper {
        flex-direction: column;
    }
}
@media (min-width: 576px) {
    .footer-top {
        padding: 95px 0 49px;
    }
    .footer-wrapper {
        gap: 16px;
    }
    .footer-wrapper .footer-widget {
        max-width: 280px;
        width: auto;
    }
    .footer-wrapper .footer-widget .title {
        font-size: 22px;
        margin-bottom: 38px;
    }
    .footer-wrapper .footer-widget .links {
        font-size: 22px;
        line-height: 39px;
    }
    .footer-middle-wrapper .logo {
        width: 160px;
    }
}
@media (min-width: 767px) {
    .footer-wrapper {
        gap: 0px;
        flex-direction: row;
    }
}
@media (max-width: 768px) {
    .footer-middle-wrapper .logo {
        margin: 0 auto;
    }
    .footer-middle-wrapper .cont {
        max-width: 100%;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .footer-wrapper {
        row-gap: 20px;
        flex-direction: column;
    }
    .footer-wrapper .all-socials {
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
}
.header-bar {
    position: relative;
    cursor: pointer;
    width: 25px;
    height: 20px;
}
.header-bar span {
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 100%;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    background-color: var(--nav-icons-color);
    left: 0;
}
.header-bar:hover span {
    background-color: #008e8f;
}
.header-bar span:first-child {
    top: 0;
}
.header-bar span:nth-child(2) {
    top: 52%;
    -webkit-transform: translateY(-65%);
    -ms-transform: translateY(-65%);
    transform: translateY(-65%);
}
.header-bar span:last-child {
    bottom: 0;
}
.header-bar.active span:first-child {
    -webkit-transform: rotate(45deg) translate(3px, 9px);
    -ms-transform: rotate(45deg) translate(3px, 9px);
    transform: rotate(45deg) translate(3px, 9px);
}
.header-bar.active span:nth-child(2) {
    opacity: 0;
}
.header-bar.active span:last-child {
    -webkit-transform: rotate(-45deg) translate(3px, -9px);
    -ms-transform: rotate(-45deg) translate(3px, -9px);
    transform: rotate(-45deg) translate(3px, -9px);
}
@media (max-width: 575px) {
    .header-bar {
        width: 22px;
        height: 16px;
    }
    .header-bar span {
        height: 2px;
        width: 20px;
    }
    .header-bar.active span:first-child {
        -webkit-transform: rotate(45deg) translate(4px, 6px);
        -ms-transform: rotate(45deg) translate(4px, 6px);
        transform: rotate(45deg) translate(4px, 6px);
    }
    .header-bar.active span:nth-child(2) {
        opacity: 0;
    }
    .header-bar.active span:last-child {
        -webkit-transform: rotate(-45deg) translate(4px, -6px);
        -ms-transform: rotate(-45deg) translate(4px, -6px);
        transform: rotate(-45deg) translate(4px, -6px);
    }
}
.header-bottom {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    z-index: 1000;
}
@media (min-width: 1200px) {
    .header-bottom {
        padding-left: 0px;
        padding-right: 0px;
    }
}
.header-wrapper {
    -webkit-column-gap: 32px;
    -moz-column-gap: 32px;
    column-gap: 32px;
}
.menu-area {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    z-index: 99;
    width: 100%;
    max-width: 382px;
    height: 100vh;
    overflow-y: scroll;
    background-color: whitesmoke;
    padding: 22px 0px;
    -webkit-box-shadow: 0px 89.7196px 71.7757px rgba(120, 129, 130, 0.07),
        0px 37.4827px 29.9862px rgba(120, 129, 130, 0.0503198),
        0px 20.0401px 16.032px rgba(120, 129, 130, 0.0417275),
        0px 11.2343px 8.98743px rgba(120, 129, 130, 0.035),
        0px 5.96645px 4.77316px rgba(120, 129, 130, 0.0282725),
        0px 2.48277px 1.98622px rgba(120, 129, 130, 0.0196802);
    box-shadow: 0px 89.7196px 71.7757px rgba(120, 129, 130, 0.07),
        0px 37.4827px 29.9862px rgba(120, 129, 130, 0.0503198),
        0px 20.0401px 16.032px rgba(120, 129, 130, 0.0417275),
        0px 11.2343px 8.98743px rgba(120, 129, 130, 0.035),
        0px 5.96645px 4.77316px rgba(120, 129, 130, 0.0282725),
        0px 2.48277px 1.98622px rgba(120, 129, 130, 0.0196802);
}
.menu-area::-webkit-scrollbar {
    display: none;
}
.menu-area .menu li a {
    color: #fff;
    text-transform: capitalize;
    font-family: sans-serif;
}
.menu-area .menu-close {
    cursor: pointer;
    display: block;
    padding-left: 35px;
}
.menu-area .menu-close:hover path {
    fill: var(--primary-color);
}
.menu-area .menu-logo {
    padding-left: 32px;
    margin-top: 58px;
    margin-bottom: 40px;
}
.menu-area.active {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}
@media (min-width: 576px) {
    .menu-area .menu-close {
        padding-left: 75px;
    }
    .menu-area .menu-logo {
        padding-left: 72px;
        margin-top: 68px;
        margin-bottom: 58px;
    }
}
@media (max-width: 992px) {
    .menu-area {
        left: inherit;
        right: 0;
        -webkit-transform-origin: right;
        -ms-transform-origin: right;
        transform-origin: right;
    }
    .menu-area .menu-close {
        left: inherit;
        right: 40px;
    }
}
.form-control:focus {
    background: #001329;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    color: #fff;
} /*Banner Section Start Here*/
.banner__content {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
}
.banner__content .banner__title {
    margin: 0;
    margin-bottom: 30px;
}
.inner-hero {
    position: relative;
}
.inner-hero .container {
    position: relative;
    z-index: 1;
}
.inner-hero::before {
    position: absolute;
    content: "";
    position: absolute;
    width: 100%;
    height: 101%;
    left: 0;
    top: 0;
    background: #000a1690;
}
.hero-section {
    padding: 60px 0 60px;
    border-bottom: 1px dashed rgba(193, 81, 204, 0.1);
}
@media (max-width: 991px) {
    .hero-section {
        padding: 70px 0 60px;
    }
}
@media (max-width: 450px) {
    .hero-section {
        padding: 60px 0 50px;
    }
}
.hero-section .hero-title {
    margin: 0;
    color: #fff !important;
}
.form-control:disabled,
.form-control[readonly] {
    background: transparent;
}
.form--group {
    margin-bottom: 20px;
}
.form--control-2 {
    height: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    background: #001631;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
}
.form--control-2:focus {
    color: #fff;
    background: #001631;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(193, 81, 204, 0.4);
}
.form--control-2:-webkit-autofill,
.form--control-2:-webkit-autofill:hover,
.form--control-2:-webkit-autofill:focus,
.form--control-2:-webkit-autofill:active {
    -webkit-transition: background-color 5000s;
    transition: background-color 5000s;
    -webkit-text-fill-color: #fff !important;
}
.form--control-2[type="file"] {
    padding: 15px 20px;
    height: unset;
}
.form--control-2[readonly] {
    background: #001329;
}
textarea.form--control-2 {
    height: 140px;
}
.form--label-2 {
    text-transform: capitalize;
    margin-bottom: 10px;
}
.ticket__wrapper {
    border-radius: 5px;
    padding: 30px;
    -webkit-box-shadow: 0 0 10px rgba(193, 81, 204, 0.4);
    box-shadow: 0 0 10px rgba(193, 81, 204, 0.4);
}
.reply-item {
    padding: 20px 0;
    border: 1px dashed rgba(193, 81, 204, 0.2);
    border-radius: 5px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px;
}
.reply-item .name-area {
    padding: 20px;
    width: 220px;
    text-align: center;
}
.reply-item .name-area .title {
    margin: 0;
    font-size: 18px;
}
.reply-item .name-area .reply-thumb {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 15px;
}
.reply-item .name-area .reply-thumb img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.reply-item .content-area {
    width: calc(100% - 220px);
    padding: 20px;
    border-left: 1px solid rgba(220, 243, 255, 0.1);
}
.reply-item .content-area .meta-date {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
    display: block;
}
@media (max-width: 767px) {
    .reply-item {
        padding: 0;
    }
    .reply-item .name-area,
    .reply-item .content-area {
        width: 100%;
        border: none;
    }
    .reply-item .name-area {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
}
.reply-item::before {
    border-radius: 5px;
}
.reply-message-area {
    margin: -10px;
}
.reply-message-area li {
    padding: 0;
}
.reply-message-area li ul {
    padding-left: 20px;
}
@media (min-width: 768px) {
    .reply-message-area li ul {
        padding-left: 50px;
    }
}
.counter-item {
    padding: 40px 20px;
    border-radius: 5px;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    overflow: hidden;
    border: 1px solid #333;
    position: relative;
}
.counter-item .counter-header .title {
    margin: 0;
    color: var(--black-color);
}
.counter-item .counter-header .title i {
    font-size: 80%;
    line-height: 1;
}
.counter-item .icon {
    font-size: 50px;
    line-height: 1;
    position: absolute;
    right: 20px;
    bottom: 20px;
    opacity: 0.2;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.counter-item:hover .icon {
    opacity: 0.4;
    -webkit-transform: scale(1.8);
    -ms-transform: scale(1.8);
    transform: scale(1.8);
}
.faq__item {
    background: var(--primary-color);
    border: 1px dashed rgba(193, 81, 204, 0.35);
    border-radius: 5px;
}
.faq__item .faq__title {
    cursor: pointer;
    padding: 20px;
    padding-right: 45px;
    margin-right: 20px;
    position: relative;
}
.faq__item .faq__title .title {
    line-height: 1.2;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    color: #fff;
}
.faq__item.open .faq__title .title {
    color: var(--black-color);
}
.faq__item .faq__title .right--icon {
    position: absolute;
    top: 50%;
    right: 0;
}
.faq__item .faq__title .right--icon::before,
.faq__item .faq__title .right--icon::after {
    right: 0;
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background: #fff;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.faq__item .faq__title .right--icon::before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.faq__item:not(:last-child) {
    margin-bottom: 10px;
}
.faq__item .faq__content {
    display: none;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 30px;
}
.faq__item .faq__content p:not(:last-child) {
    margin-bottom: 20px;
}
.faq__item.open .faq__title .right--icon::before {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #fff;
    z-index: 1;
}
.faq__item.active .faq__content {
    display: block;
}
.modal {
    z-index: 9999;
}
.modal-close {
    border: 0px;
    padding: 0px;
    background-color: transparent;
    background-image: url(icons/times-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 17px;
    height: 17px;
    margin: 0 5px;
}
.modal .modal-header {
    background-color: var(--primary-color);
}
.modal .modal-body {
    background: white;
}
.modal .modal-body h6 {
    margin: 0;
    color: #000 !important;
}
.modal .modal-footer {
    background: #f9f9f9;
}
.modal .modal-header .modal-title {
    text-align: center;
    color: #fff;
    text-transform: capitalize;
}
input[type="checkbox"] {
    cursor: pointer;
}
.category__item {
    text-align: center;
    -webkit-box-shadow: 0 0 15px rgba(193, 81, 204, 0.3);
    box-shadow: 0 0 15px rgba(193, 81, 204, 0.3);
}
.category__item-icon {
    font-size: 40px;
    line-height: 1;
    color: #333;
    margin-bottom: 20px;
}
.category__item > * {
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.category__item:hover > * {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.categories__wrapper {
    overflow: hidden;
}
.categories__wrapper .inner__grp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    margin: -1px;
}
.categories__wrapper .category__item {
    width: 20%;
    display: block;
    border: 1px solid #333;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-right: none;
    border-bottom: none;
    padding: 40px 15px;
}
.categories__wrapper .category__item-title {
    font-size: 18px;
}
@media (max-width: 991px) {
    .categories__wrapper .category__item {
        width: 33.3333333333%;
    }
}
@media screen and (max-width: 499px) {
    .categories__wrapper .category__item {
        width: 50%;
    }
}
@media screen and (max-width: 34px) {
    .categories__wrapper .category__item {
        padding: 30px 15px;
    }
} /*Auction Starts Here*/
.auction__item {
    -webkit-box-shadow: 0 0 5px #479eba;
    box-shadow: 0 0 5px #479eba;
    border-radius: 5px 5px 0 0;
}
.auction__item-thumb {
    padding: 15px 15px 0px;
    position: relative;
}
.auction__item-thumb a {
    display: block;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
.auction__item-thumb img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.auction__item-thumb .total-bids {
    position: absolute;
    left: 10px;
    top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #000;
    font-weight: bold;
}
.auction__item-thumb .total-bids .las.la-gavel,
.custom_total .las.la-gavel {
    color: #479eba;
    font-size: 28px;
}
.custom_total .total-bids {
    color: #000;
    font-weight: bold;
    font-size: 0.9em !important;
}
.auction__item-thumb .total-bids i {
    font-size: 28px;
    color: var(--black-color);
}
.auction__item-content {
    padding: 0 15px;
}
.auction__item-title {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px dashed rgba(193, 81, 204, 0.3);
    font-size: 18px;
}
.auction__item-title a {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 1.1em !important;
}
.auction__item-footer {
    text-align: center;
    padding: 3px 0px;
}
.auction__item-footer .cmn--btn {
    font-size: 14px;
    padding: 5px 30px;
}
.auction__item-countdown {
    border-bottom: 1px dashed rgba(193, 81, 204, 0.3);
}
.auction__item-countdown .inner__grp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: sans-serif;
    margin: 0 -10px;
    padding: 0 15px;
}
.auction__item-countdown .inner__grp .countdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #ea5455;
    padding: 0px 5px;
}
.auction__item-countdown .inner__grp .countdown li {
    padding: 5px;
    font-size: 15px;
}
.auction__item-countdown .inner__grp .total-price,
.auction__item-countdown .total-price {
    padding: 0px 7px;
    color: #28c76f;
    font-size: 15px;
}
@media (max-width: 767px) {
    .auction__item-countdown .inner__grp .total-price,
    .auction__item-countdown .total-price {
        font-size: 14px;
    }
    .auction__item-countdown .inner__grp .countdown li {
        font-size: 14px;
    }
}
@media screen and (max-width: 767px) and (min-width: 525px) {
    .auction__item-countdown .inner__grp {
        font-size: 14px;
        margin: 0 -5px;
    }
    .auction__item-countdown .inner__grp .countdown {
        padding: 10px 0;
    }
    .auction__item-countdown .inner__grp .total-price,
    .auction__item-countdown .total-price {
        padding: 5px;
    }
}
@media (max-width: 575px) {
    .auction__item {
        max-width: 350px;
        margin: 0 auto;
    }
}
.auction__item:hover {
    -webkit-box-shadow: 0 0 10px var(--primary-backgroud-color);
    box-shadow: 0 0 10px var(--primary-backgroud-color);
}
.slide-wrapper {
    margin: -12px;
}
.slide-wrapper .slide-item {
    padding: 12px;
}
.owl-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
}
.owl-dots .owl-dot {
    width: 5px;
    height: 5px;
    background: rgba(193, 81, 204, 0.4);
    border-radius: 3px;
    margin: 0 3px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.owl-dots .owl-dot.active {
    width: 15px;
} /*Quick Banner Section*/
.quick-banner-item {
    position: relative;
}
.quick-banner-item a {
    position: relative;
    display: block;
    height: 100%;
}
.quick-banner-item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.quick-banner-item .border-shape,
.quick-banner-item .border-shape2 {
    position: absolute;
    inset: 15px;
}
.quick-banner-item .border-shape::before,
.quick-banner-item .border-shape::after,
.quick-banner-item .border-shape2::before,
.quick-banner-item .border-shape2::after {
    position: absolute;
    content: "";
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    width: 100%;
    height: 100%;
}
.quick-banner-item .border-shape::before,
.quick-banner-item .border-shape2::before {
    height: 0;
}
.quick-banner-item .border-shape::after,
.quick-banner-item .border-shape2::after {
    width: 0;
}
.quick-banner-item .border-shape::before {
    border-left: 1px solid rgba(255, 255, 255, 0.7);
    top: 0;
    left: 0;
}
.quick-banner-item .border-shape::after {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    top: 0;
    left: 0;
}
.quick-banner-item .border-shape2::before {
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    bottom: 0;
    right: 0;
}
.quick-banner-item .border-shape2::after {
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    bottom: 0;
    right: 0;
}
.quick-banner-item .border-shape::after,
.quick-banner-item .border-shape::before,
.quick-banner-item .border-shape2::after,
.quick-banner-item .border-shape2::before {
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
}
.quick-banner-item:hover .border-shape::after {
    width: 100%;
}
.quick-banner-item:hover .border-shape::before {
    height: 100%;
}
.quick-banner-item:hover .border-shape2::after {
    width: 100%;
}
.quick-banner-item:hover .border-shape2::before {
    height: 100%;
}
.quick-banner-item .quick-banner-content {
    position: absolute;
    z-index: 9;
    width: 100%;
    bottom: 30px;
    left: 30px;
}
.quick-banner-item .quick-banner-content .cmn--btn {
    background: #fff !important;
    color: #192a56;
    border-radius: 5px;
    margin-top: 20px;
}
.quick-banner-item {
    width: 50%;
    padding: 0 12px 24px;
}
.quick-banner-item:nth-of-type(4n + 1) a,
.quick-banner-item:nth-of-type(4n + 3) a {
    height: 480px;
}
.quick-banner-item:nth-of-type(4n + 2) a,
.quick-banner-item:nth-of-type(4n + 4) a {
    height: 360px;
}
@media (max-width: 1199px) {
    .quick-banner-item:nth-of-type(4n + 1) a,
    .quick-banner-item:nth-of-type(4n + 3) a {
        height: 400px;
    }
    .quick-banner-item:nth-of-type(4n + 2) a,
    .quick-banner-item:nth-of-type(4n + 4) a {
        height: 300px;
    }
}
@media (max-width: 991px) {
    .quick-banner-item:nth-of-type(4n + 1) a,
    .quick-banner-item:nth-of-type(4n + 3) a {
        height: 300px;
    }
    .quick-banner-item:nth-of-type(4n + 2) a,
    .quick-banner-item:nth-of-type(4n + 4) a {
        height: 210px;
    }
}
@media (max-width: 767px) {
    .quick-banner-item {
        width: 100%;
    }
    .quick-banner-item a {
        height: unset !important;
    }
}
.quick-banner-wrapper {
    margin: 0 -12px -24px;
} /*How Section*/
.how__item {
    text-align: center;
    position: relative;
}
.how__item-icon {
    width: 80px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    background: #001631;
    -webkit-box-shadow: 0 0 2px rgba(193, 81, 204, 0.2);
    box-shadow: 0 0 2px rgba(193, 81, 204, 0.2);
    font-size: 40px;
    margin: 0 auto 30px;
    -webkit-animation: pulseCustom 1.5s linear infinite;
    animation: pulseCustom 1.5s linear infinite;
    border: 1px dashed rgba(193, 81, 204, 0.4);
}
.how__item::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 40px;
    border-top: 2px dashed rgba(193, 81, 204, 0.3);
    z-index: -1;
}
.how__item:nth-child(2) .how__item-icon {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
}
.how__item:nth-child(3) .how__item-icon {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
}
@-webkit-keyframes pulseCustom {
    50% {
        -webkit-box-shadow: 0 0 5px rgba(193, 81, 204, 0.2),
            0 0 10px rgba(193, 81, 204, 0.4), 0 0 15px rgba(193, 81, 204, 0.6),
            0 0 20px #c151cc;
        box-shadow: 0 0 5px rgba(193, 81, 204, 0.2),
            0 0 10px rgba(193, 81, 204, 0.4), 0 0 15px rgba(193, 81, 204, 0.6),
            0 0 20px #c151cc;
    }
}
@keyframes pulseCustom {
    50% {
        -webkit-box-shadow: 0 0 5px rgba(193, 81, 204, 0.2),
            0 0 10px rgba(193, 81, 204, 0.4), 0 0 15px rgba(193, 81, 204, 0.6),
            0 0 20px #c151cc;
        box-shadow: 0 0 5px rgba(193, 81, 204, 0.2),
            0 0 10px rgba(193, 81, 204, 0.4), 0 0 15px rgba(193, 81, 204, 0.6),
            0 0 20px #c151cc;
    }
}
.how__wrapper {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin: 0 auto -30px;
    max-width: 920px;
}
.how__wrapper .how__item {
    padding: 0 12px 30px;
    width: 33.3333333333%;
}
.how__wrapper .how__item:nth-of-type(3n + 3)::before {
    display: none;
}
@media (max-width: 767px) {
    .how__wrapper .how__item {
        width: 100%;
    }
    .how__wrapper .how__item::before {
        display: none;
    }
} /*Latest Winner*/
.latest__winner-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.latest__winner-item .latest__winner-thumb {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.latest__winner-item .latest__winner-thumb a {
    display: block;
    height: 100%;
}
.latest__winner-item .latest__winner-thumb img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.latest__winner-item .latest__winner-content {
    width: calc(100% - 90px);
    -webkit-padding-start: 20px;
    padding-inline-start: 20px;
    text-align: left;
}
.latest__winner-item .latest__winner-content .title {
    margin-top: 0;
    font-size: 18px;
}
.latest__winner-item:not(:last-child) {
    margin-bottom: 20px;
}
.latest-winner-wrapper {
    max-height: 340px;
    overflow-y: auto;
} /*Clients Say*/
.client__item {
    position: relative;
}
.client__item::after {
    content: "\f10e";
    font-family: "Line Awesome Free";
    font-weight: 700;
    line-height: 1;
    font-size: 70px;
    color: var(--black-color);
    position: absolute;
    top: 15px;
    right: 0;
}
.client__item .client__thumb {
    width: 100px;
    height: 100px;
    border-radius: 50% 50% 0 0;
    overflow: hidden;
}
.client__item .client__thumb img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
}
.client__item .client__content {
    position: relative;
    padding: 30px;
    border: 1px dashed rgba(193, 81, 204, 0.2);
    border-radius: 0 7px 7px 7px;
}
.client__item .client__content .info {
    display: block;
}
.client__item .client__content-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 25px;
}
.client__item .client__content-header .rating {
    color: #e9ba17;
}
@media screen and (max-width: 470px) {
    .client__item .client__content-header {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}
.client__item .client__content .client__title {
    margin-bottom: 8px;
}
@media (max-width: 575px) {
    .client__item .client__content {
        padding: 30px 20px;
    }
} /*Partner Section*/
.partner-thumb {
    position: relative;
    height: 110px;
    overflow: hidden;
    display: block;
}
.partner-thumb img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-filter: grayscale(0);
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.partner-thumb img:nth-child(2) {
    position: absolute;
    left: 0;
    top: -110px;
    -webkit-filter: grayscale(100%);
}
@media (max-width: 575px) {
    .partner-thumb img {
        -webkit-filter: grayscale(0);
    }
}
.partner-thumb:hover img {
    -webkit-transform: translateY(110px);
    -ms-transform: translateY(110px);
    transform: translateY(110px);
}
.partner-thumb:hover img:nth-child(2) {
    top: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
} /*Product Single*/
.filter-widget {
    position: relative;
    padding: 30px;
}
.filter-widget .title {
    font-size: 24px;
    font-weight: 500;
}
.filter-widget .title i {
    color: var(--black-color);
    margin-right: 10px;
}
.filter-widget .form--check:not(:last-child) {
    margin-bottom: 10px;
}
.filter-widget .ui-state-default {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    border: none;
    border-radius: 50%;
    background-color: var(--primary-color);
    -webkit-box-shadow: 0px 9px 20px 0px rgba(22, 26, 57, 0.36);
    box-shadow: 0px 9px 20px 0px rgba(22, 26, 57, 0.36);
    outline: none;
    cursor: pointer;
    top: -9px;
    position: absolute;
    z-index: 1;
}
.filter-widget .ui-state-default::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fff;
    top: 3px;
    left: 3px;
    display: block;
}
.filter-widget .ui-widget.ui-widget-content {
    position: relative;
    height: 3px;
    border: none;
    margin-bottom: 15px;
    margin-top: 20px;
}
.filter-widget .ui-widget.ui-widget-content::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 3px;
    background: rgba(193, 81, 204, 0.2);
    width: 100%;
}
.filter-widget .ui-slider-range {
    height: 3px;
    background: var(--primary-color);
    position: relative;
    z-index: 1;
}
.filter-widget .sub-title {
    position: relative;
    margin-bottom: 15px;
    margin-left: -10px;
    font-weight: 500;
    display: inline-block;
}
.filter-widget .sub-title::after {
    content: "";
    width: 20px;
    height: 2px;
    background: var(--primary-color);
    display: inline-block;
}
.filter-widget:not(:last-child) {
    border-bottom: 1px dashed rgba(193, 81, 204, 0.2);
}
@media (max-width: 1199px) and (min-width: 992px) {
    .filter-widget {
        padding: 30px 20px;
    }
}
.search-filter {
    border-radius: 10px;
    border-bottom: 1px solid rgba(193, 81, 204, 0.4);
}
@media (max-width: 991px) {
    .search-filter {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 350px;
        height: 100vh;
        z-index: 999;
        overflow-y: auto;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
        border-right: 1px dashed rgba(193, 81, 204, 0.9);
    }
    .search-filter .bg--section {
        background: #001329;
    }
    .search-filter:not(.active) {
        -webkit-transform: translateX(-101%);
        -ms-transform: translateX(-101%);
        transform: translateX(-101%);
    }
}
.price-range {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px;
}
.price-range label {
    margin: 0;
    font-weight: 500;
    color: var(--black-color);
}
.price-range input {
    height: unset;
    width: unset;
    padding: 7px;
    background: transparent;
    border: none;
    text-align: right;
    font-weight: 500;
    color: var(--black-color);
    padding-right: 0;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.close-filter-bar {
    color: #ea5455;
    font-size: 24px;
    line-height: 1;
    position: absolute;
    right: 20px;
    top: 20px;
}
.filter-btn {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: var(--primary-color);
    color: #fff;
    border-radius: 3px;
}
.product__single-item .meta-post .meta-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 25px;
}
.product__single-item .title {
    margin-top: 10px;
    margin-bottom: 20px;
}
.product__single-item .product-price {
    font-size: 22px;
    margin-bottom: 30px;
}
.product__single-item .product-price i {
    color: #c151cc;
}
.product__single-item .nav--tabs {
    margin-bottom: 30px;
}
.product__single-item .product-thumb-area .product-content,
.product__single-item .product-thumb-area .product-thumb {
    width: 50%;
}
.product__single-item .product-thumb-area .product-content img,
.product__single-item .product-thumb-area .product-thumb img {
    border-radius: 5px;
    width: 100%;
}
@media (max-width: 767px) {
    .product__single-item .product-thumb-area .product-content,
    .product__single-item .product-thumb-area .product-thumb {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .product__single-item .product-thumb-area .product-thumb {
        margin-bottom: 40px;
    }
}
@media (max-width: 575px) {
    .product__single-item .product-thumb-area .product-thumb {
        margin-bottom: 20px;
    }
}
.product__single-item .btn__area,
.auction__item.bg--body .product-content .btn__area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px 15px;
}
.product__single-item .btn__area .cmn--btn {
    font-size: 14px;
    font-weight: 700;
}
.nav--tabs {
    border: none;
}
.nav--tabs li {
    padding: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.nav--tabs li a {
    padding: 10px 15px;
    color: #000 !important;
    opacity: 0.6;
    background: transparent;
    border-bottom: 2px solid transparent;
}
.nav--tabs li a.active {
    border-color: var(--tabs-active-color) !important;
    color: var(--tabs-active-color) !important;
    opacity: 1 !important;
}
.nav--tabs li a :hover {
    border-color: var(--tabs-active-color) !important;
    color: var(--tabs-active-color) !important;
}
.nav--tabs li:first-child {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}
@media (min-width: 768px) {
    .specification-table {
        width: 100%;
    }
}
.specification-table tr {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.specification-table tr:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.specification-table tr th {
    width: 35%;
}
.specification-table tr td {
    width: 65%;
}
.specification-table tr th,
.specification-table tr td {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding: 7px 20px;
    font-size: 14px;
    line-height: 24px;
}
.specification-table tr th {
    font-family: sans-serif;
    color: #008cbd;
}
.specification-wrapper .title {
    font-weight: 700;
    margin-bottom: 16px !important;
}
.table-wrapper {
    overflow-x: auto;
}
.review-item {
    padding: 30px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.review-item .thumb {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 !important;
}
.review-item .thumb img {
    width: 100%;
}
.review-item .content {
    padding-left: 30px;
    width: calc(100% - 70px);
}
.review-item .content .entry-meta {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 15px;
}
.review-item .content .entry-meta .ratings {
    width: 100px;
    font-size: 16px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
}
.review-item .content .entry-meta .posted-on {
    width: calc(100% - 100px);
}
.review-item .content .entry-meta .posted-on a {
    font-weight: 700;
}
.review-item .content .entry-meta .posted-on span {
    margin-left: 5px;
    font-size: 14px;
    color: #a4bdce;
}
@media (max-width: 767px) {
    .review-item .content {
        width: 100%;
        padding: 20px 0 0;
    }
}
@media (max-width: 575px) {
    .review-item {
        padding: 25px 0;
    }
    .review-item .content .entry-meta .posted-on {
        width: 100%;
    }
}
.review-item:first-child {
    padding-top: 0;
}
.rating .rating-form-group {
    position: relative;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 3px;
}
.rating .rating-form-group .star-label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}
.rating .rating-form-group .star-label:last-child {
    position: static;
}
.rating .rating-form-group .star-label:nth-child(1) {
    z-index: 5;
}
.rating .rating-form-group .star-label:nth-child(2) {
    z-index: 4;
}
.rating .rating-form-group .star-label:nth-child(3) {
    z-index: 3;
}
.rating .rating-form-group .star-label:nth-child(4) {
    z-index: 2;
}
.rating .rating-form-group .star-label:nth-child(5) {
    z-index: 1;
}
.rating .rating-form-group .star-label input {
    display: none;
}
.rating .rating-form-group .star-label .icon {
    float: left;
    color: transparent;
    margin-right: 4px;
}
.rating .rating-form-group .star-label:last-child .icon {
    color: #a4bdce;
}
.rating .rating-form-group:not(:hover) label input:checked ~ .icon,
.rating .rating-form-group:hover label:hover input ~ .icon {
    color: #e9ba17;
}
.rating .rating-form-group label input:focus:not(:checked) ~ .icon:last-child {
    color: rgba(255, 255, 255, 0.1);
    text-shadow: 0 0 5px #e9ba17;
}
.review-label {
    color: #dcf3ff;
}
.mb-20 {
    margin-bottom: 20px;
}
.seller .thumb {
    width: 57px;
    height: 57px;
    overflow: hidden;
    border-radius: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.seller .thumb img {
    width: 100%;
    height: 100%;
}
.seller .cont {
    width: 100%;
    text-transform: capitalize;
}
.seller .cont .title {
    margin: 0;
    font-size: 16px;
}
.seller-info li {
    padding: 4px 10px;
}
@media screen and (max-width: 450px) {
    .seller-info {
        font-size: 15px;
    }
}
.cart-plus-minus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.cart-plus-minus input {
    height: 40px;
    padding: 0 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-appearance: none;
    background: #001631;
    border-left: none;
    font-size: 14px;
    outline: none;
    color: #fff;
    width: unset;
}
.mini-banner {
    display: block;
}
.mini-banner:not(:last-child) {
    margin-bottom: 30px;
}
.mini-banner img {
    width: 100%;
}
@media (max-width: 991px) {
    .mini-banner {
        max-width: 400px;
    }
}
.max-banner {
    display: block;
}
.max-banner:not(:last-child) {
    margin-bottom: 30px;
}
.max-banner img {
    width: 100%;
}
.ratings {
    color: #e9ba17;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.2rem;
}
.account-section {
    height: 100vh;
    overflow-y: auto;
}
.account__section-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 100vh;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.account__section-wrapper .account__section-content {
    width: 100%;
    max-width: 500px;
    padding: 80px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px dashed rgba(255, 255, 255, 0.1);
}
.account__section-wrapper
    .account__section-content
    .section__header
    .section__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.account__section-wrapper
    .account__section-content
    .section__header
    .section__title::after {
    display: inline-block;
    content: "";
    height: 2px;
    width: 40px;
    background: #c151cc;
    margin-top: 10px;
}
@media screen and (max-width: 390px) {
    .account__section-wrapper .account__section-content {
        padding: 50px 20px;
    }
}
.account__section-wrapper
    .account__section-content.account__section-content-reg {
    max-width: 600px;
}
.account__section-wrapper .account__section-content .logo {
    max-width: 300px;
}
.account__section-wrapper .account__section-content .logo a {
    display: block;
    height: 60px;
}
.account__section-wrapper .account__section-content .logo a img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: left;
    object-position: left;
}
@media (max-width: 575px) {
    .account__section-wrapper .account__section-content .logo {
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}
.account__section-wrapper .account__section-thumb {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.account__section-wrapper .account__section-thumb .logo {
    margin: 0 auto;
    padding: 30px;
    max-width: 300px;
}
.account__section-wrapper .account__section-thumb .logo a {
    display: block;
    height: 60px;
}
.account__section-wrapper .account__section-thumb .logo a img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}
.form--label {
    font-family: "Lato";
    color: var(--black-color);
    display: block;
    cursor: pointer;
    margin-bottom: 0;
    text-transform: capitalize;
}
.form-group {
    margin-bottom: 28px;
}
.form--control {
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0;
    padding: 0;
    height: 35px;
    color: #fff;
}
.form--control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    color: #fff;
}
select.form--control option {
    color: #001329;
}
.input-group-text {
    padding: 0 15px;
}
textarea.form--control {
    height: 120px;
}
.form--check {
    margin: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.form--check label {
    padding-top: 1px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.form--check .form-check-input:checked {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color);
}
.form--check .form-check-input:checked:focus {
    -webkit-box-shadow: 0 0 0 0.25rem rgba(193, 81, 204, 0.25);
    box-shadow: 0 0 0 0.25rem rgba(193, 81, 204, 0.25);
}
.form--control:-webkit-autofill,
.form--control:-webkit-autofill:hover,
.form--control:-webkit-autofill:focus,
.form--control:-webkit-autofill:active {
    -webkit-transition: background-color 5000s;
    transition: background-color 5000s;
    -webkit-text-fill-color: #333 !important;
}
.sidebar-countdown {
    margin: -5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.sidebar-countdown li {
    margin: 5px;
    width: 60px;
    height: 60px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px dashed #008e8f !important;
    font-family: sans-serif;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 0px;
    letter-spacing: 0.02em;
}
@media (min-width: 1200px) {
    .sidebar-countdown li {
        margin: 0px;
        width: 55px;
        height: 55px;
    }
}
@media (min-width: 1400px) {
    .sidebar-countdown li {
        margin: 5px;
        width: 60px;
        height: 60px;
    }
} /*Vendor Section*/
.vendor__item {
    -webkit-box-shadow: 0 0 5px rgba(193, 81, 204, 0.4);
    box-shadow: 0 0 5px rgba(193, 81, 204, 0.4);
    border-radius: 5px;
    height: 100%;
}
.vendor__item .vendor__top {
    border-radius: 5px 5px 0 0;
    padding: 30px;
    padding-bottom: 50px;
    min-height: 250px;
}
.vendor__item .vendor__top .title {
    margin: 0;
    margin-bottom: 20px;
}
.vendor__item .vendor__top > * {
    position: relative;
    z-index: 1;
}
.vendor__item .vendor__top .ratings {
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.vendor__item .vendor__info li {
    color: #a4bdce;
}
.vendor__item .vendor__info li a {
    color: var(--black-color);
}
.vendor__item .vendor__info li i {
    color: #c151cc;
}
.vendor__item .vendor__bottom {
    background: rgba(220, 243, 255, 0.051);
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 0 0 5px 5px;
}
.vendor__item .vendor__bottom .vendor-author {
    border-radius: 50%;
    background: #001329;
    margin-top: -100px;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    padding: 5px;
    -webkit-box-shadow: 0 0 6px rgba(193, 81, 204, 0.9);
    box-shadow: 0 0 6px rgba(193, 81, 204, 0.9);
}
.vendor__item .vendor__bottom .vendor-author img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: inherit;
}
.vendor__item .read-more {
    color: var(--black-color);
}
.vendor__single__item-thumb {
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    height: 520px;
    position: relative;
}
.vendor__single__item-thumb::before {
    inset: 0;
    position: absolute;
    content: "";
    background: rgba(25, 42, 86, 0.4);
    background: -o-linear-gradient(
        bottom,
        rgba(25, 42, 86, 0.6) 0%,
        rgba(0, 0, 0, 0) 50%,
        rgba(25, 42, 86, 0.7) 100%
    );
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgba(25, 42, 86, 0.6)),
        color-stop(50%, rgba(0, 0, 0, 0)),
        to(rgba(25, 42, 86, 0.7))
    );
    background: linear-gradient(
        0deg,
        rgba(25, 42, 86, 0.6) 0%,
        rgba(0, 0, 0, 0) 50%,
        rgba(25, 42, 86, 0.7) 100%
    );
}
.vendor__single__item-thumb img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
@media (max-width: 1399px) {
    .vendor__single__item-thumb {
        height: 450px;
    }
}
@media (max-width: 991px) {
    .vendor__single__item-thumb {
        height: 350px;
    }
}
.vendor__single__item .content {
    width: calc(100% - 220px);
    padding: 0 0 0 15px;
}
@media (max-width: 767px) {
    .vendor__single__item .content {
        width: 100%;
        padding: 20px 0 0;
    }
    .vendor__single__item .content .title__area {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .vendor__single__item .content .title__area .title {
        display: block;
        color: #dcf3ff;
    }
}
@media (max-width: 575px) {
    .vendor__single__item-thumb {
        height: 300px;
    }
    .vendor__single__item .content {
        width: 100%;
        padding: 20px 0 0;
    }
    .vendor__single__item .content .title__area {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .vendor__single__item .content .title__area .title {
        display: block;
        color: #dcf3ff;
    }
}
.vendor__single__author .thumb {
    padding: 10px;
    background: #001329;
    -webkit-box-shadow: rgba(25, 42, 86, 0.2);
    box-shadow: rgba(25, 42, 86, 0.2);
    width: 100%;
    max-width: 220px;
    -webkit-box-shadow: 0 0 5px rgba(220, 243, 255, 0.15);
    box-shadow: 0 0 5px rgba(220, 243, 255, 0.15);
    margin-top: -60px;
}
.vendor__single__author .thumb img {
    width: 100%;
}
@media (max-width: 575px) {
    .vendor__single__author .thumb {
        width: 160px;
    }
    .vendor__single__author .social__icons li a i {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
}
.vendor__single__author .title__area .title {
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #fff;
}
.vendor-profile {
    padding-top: 30px;
}
.social__icons {
    margin: -5px;
}
.social__icons li {
    padding: 5px;
}
.social__icons li a i {
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border-radius: 3px;
    background: #c151cc;
    color: #fff;
}
.social__icons li a i[class*="whatsapp"] {
    background: #25d366;
}
.social__icons li a i[class*="twitter"] {
    background: #55acee;
}
.social__icons li a i[class*="linkedin"] {
    background: #007bb5;
}
.social__icons li a i[class*="facebook"] {
    background: #3b5998;
}
.social__icons li a i[class*="pinterest"] {
    background: #007bb5;
}
.social__icons li a i[class*="instagram"] {
    background: #e4405f;
}
.vendor__single__author {
    margin-top: -50px;
    position: relative;
    z-index: 1;
}
.vendor__single__item-content {
    padding: 0 15px 15px;
}
.preloader {
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    text-align: center;
}
.preloader img {
    width: 70px;
    height: 70px;
    -o-object-fit: contain;
    object-fit: contain;
}
.loader-frame {
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px;
}
.circle {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
    background-color: #fff 0%;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
}
.loader1 {
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    -webkit-animation: clockwisespin 5s linear 3;
    animation: clockwisespin 5s linear 3;
}
@-webkit-keyframes clockwisespin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes clockwisespin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.scrollToTop {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    z-index: 9;
    bottom: 100px;
    right: 35px;
    font-size: 18px;
    position: fixed;
    border-radius: 5px;
    -webkit-transform: translateY(150px);
    -ms-transform: translateY(150px);
    transform: translateY(150px);
    display: block;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: var(--primary-color) !important;
}
.scrollToTop:hover {
    color: #fff;
}
.scrollToTop.active {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    animation: bounceInDown 2s;
    -webkit-animation: bounceInDown 2s;
    -moz-animation: bounceInDown 2s;
}
.scrollToTop img {
    width: 100%;
}
.cmn--btn {
    color: var(--button-contained-color) !important;
    border-radius: var(--button-contained-radius) !important;
    font-family: "buttonFont", sans-serif !important;
    line-height: 24px;
    font-weight: 700;
    padding: 14px 30px 12px;
    background-color: var(--button-contained-background) !important;
    border: 1px solid rgba(193, 81, 204, 0.2);
    text-transform: var(--button-contained-text_transform) !important;
    font-size: 16px;
    overflow: hidden;
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    font-style: var(--button-contained-style) !important;
    letter-spacing: var(--button-contained-letter_spacing) !important;
}
.cmn--btn.active {
    border: 2px solid #c151cc;
    color: #c151cc;
    background: transparent !important;
}
.cmn--btn.active:hover {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}
.cmn--btn:hover {
    background: var(--button-contained-hover) !important;
}
.cmn--btn.btn--sm {
    padding: 5px 15px;
}
.cmn--btn.btn--md {
    padding: 10px 25px;
}
.cmn--btn.btn--lg {
    padding: 13px 35px;
}
.cmn--btn.btn--block {
    padding: 10px 25px;
    display: block;
}
button.cmn--btn {
    border-radius: 5px;
} /* New Added Css */
.text--btn {
    color: var(--button-text-color) !important;
    border-radius: var(--button-text-radius);
    font-family: "textButtonFont", sans-serif !important;
    line-height: 24px;
    font-weight: 700;
    padding: 14px 30px 12px;
    background-color: transparent !important;
    text-transform: var(--button-text-text_transform) !important;
    font-size: 16px;
    overflow: hidden;
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    font-style: var(--button-text-style) !important;
    letter-spacing: var(--button-text-letter_spacing) !important;
}
.text--btn.active {
    border: 2px solid #c151cc;
    color: #c151cc;
    background: transparent !important;
}
.text--btn.active:hover {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}
.text--btn:hover {
    color: var(--button-text-hover) !important;
}
.text--btn.btn--sm {
    padding: 5px 15px;
}
.text--btn.btn--md {
    padding: 10px 25px;
}
.text--btn.btn--lg {
    padding: 13px 35px;
}
.text--btn.btn--block {
    padding: 10px 25px;
    display: block;
}
.post-item .post-thumb {
    width: 100%;
    height: 270px;
}
.post-item .post-thumb img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 7px 7px 0 0;
}
.post-item .post-content {
    padding: 25px;
    background-color: #011c3de6;
    border-radius: 0 0 7px 7px;
}
@media (max-width: 1199px) {
    .post-item .post-content {
        padding: 20px;
    }
}
.post-item .post-content .title {
    margin-bottom: 25px;
}
.post-item .post-content .title a {
    display: -webkit-box;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.post-item .post-content p {
    display: -webkit-box;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.post-item .post-content .meta-post {
    margin-bottom: 20px;
    font-size: 14px;
}
.post-item .post-content .meta-post a {
    color: #fff;
}
.post-item .post-content .meta-post i {
    margin-right: 5px;
}
.read-more {
    position: relative;
    color: #fff;
}
.read-more:hover::before {
    background: #c9cc2e;
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}
.read-more::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 2px;
    background: #fff;
    top: 48%;
    left: 110%;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.blog-details-content p {
    margin-bottom: 25px;
    margin-top: 0;
}
.blog-details-header {
    margin-top: 25px;
}
.blog-details-header .tag i {
    margin-right: 4px;
    font-size: 14px;
}
.blog-details-header .meta-1 {
    margin: 10px 0;
}
.blog-details-header .meta-1 li {
    margin-right: 25px;
    font-size: 14px;
}
.blog-details-header .meta-1 li a {
    color: #c9cc2e;
}
.blog-details-header .meta-1 li i {
    color: #c9cc2e;
    font-size: 13px;
    margin-right: 4px;
}
.blog-details-header .meta-2 {
    margin: 10px 0;
}
.blog-details-header .meta-2 li {
    margin-right: 20px;
}
.blog-details-header .meta-2 li i {
    font-size: 18px;
    margin-right: 5px;
    color: #c9cc2e;
}
.recent-blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 15px;
}
.recent-blog:last-child {
    margin-bottom: 0;
}
.recent-blog .blog__thumb {
    width: 100px;
    height: 80px;
}
.recent-blog .blog__thumb img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.recent-blog .blog__content {
    width: calc(100% - 100px);
    padding: 0;
    padding-left: 15px;
    border: none;
}
.recent-blog .blog__content .title {
    margin-top: 0;
}
.recent-blog .blog__content .date {
    font-size: 14px;
    font-weight: 500;
    color: #c9cc2e;
}
.text-right {
    text-align: right;
} /* Cookie */
.cookies-card {
    width: 520px;
    padding: 30px;
    color: #002046;
    position: fixed;
    left: 10px;
    bottom: 10px;
    z-index: 19;
}
.radius--10px {
    border-radius: 10px;
}
.cookies-card.bg--default {
    background-color: #eadfd8;
}
.cookies-card__icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #ded4cd;
    font-size: 32px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.cookies-btn {
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
    margin: 3px 5px;
    display: inline-block;
    border-radius: 45px;
    border: none;
}
.cookies-btn:hover {
    background-color: #fff;
    color: #363636;
}
.cookies-card.cookies--dark {
    color: #eadfd8;
    background-color: #fff;
}
.cookies-card.cookies--dark .cookies-btn {
    color: #fff;
}
.cookies-card.cookies--dark .cookies-btn:hover {
    background-color: #343a50;
    color: #fff;
}
.cookies-card.cookies--dark .cookies-card__icon {
    background-color: #10163a;
    color: #fff;
}
@media (max-width: 1399px) {
    .cookies-card {
        width: 100%;
    }
}
.search-result {
    position: relative;
}
.search-result.spinner::before {
    position: absolute;
    content: "";
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: calc(100vh - 250px);
    top: 0px;
    left: 0;
    z-index: 12;
    background: url(./spinner.gif) no-repeat center;
}
.search-result.spinner::after {
    position: absolute;
    content: "";
    left: -10px;
    right: -10px;
    top: 0;
    height: calc(100vh - 250px);
    background: #001329;
    z-index: 11;
}
.row-view-mode {
    margin-bottom: 15px;
}
.view-type-mode i {
    color: #fff;
    font-size: 1.2rem;
}
.view-type-mode {
    width: 45%;
    border: none;
    background-color: #008cbd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.25em 0.15em;
    margin: 0 2.5%;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.product-list-view .col-xl-4 {
    width: 100%;
}
.product-list-view .auction__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.auction__item-content_bid {
    padding: 0 15px;
}
.product-list-view .auction__item .btn__area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-items: center;
}
.product-list-view .auction__item .input-group,
.product-list-view .auction__item .div-bid-now {
    padding: 18px 0 15px;
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.product-list-view .auction__item .auction__item-countdown,
.product-list-view .auction__item .auction__item-title {
    border-bottom: none;
}
.table_specific td {
    color: #448e8f;
}
.custom_total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
}
.countdown-container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 78px;
}
.custom-dropdown-container {
    position: relative;
    display: inline-block;
}
.custom-dropdown-toggle {
    padding: 10px;
    background-color: #ddd;
    border: 1px solid #999;
    cursor: pointer;
}
.custom-dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #999;
    z-index: 1;
    margin-top: 5px;
}
.custom-dropdown-item {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}
.custom-dropdown-item:hover {
    background-color: #f0f0f0;
}
.tawk-button {
    background-color: var(--button-contained-background) !important;
}
.form-check-input:checked {
    background-color: var(--radio-and-checkbox) !important;
    border-color: var(--radio-and-checkbox) !important;
}
.outline-btn {
    background-color: var(--button-outline-background) !important;
    color: var(--button-outline-color) !important;
    border: 1px solid var(--button-outline-color) !important;
    border-radius: var(--button-outlined-radius) !important;
    font-family: "buttonFont", sans-serif !important;
    text-transform: var(--button-outlined-text_transform) !important;
    font-style: var(--button-outline-style) !important;
    letter-spacing: var(--button-outline-letter_spacing) !important;
}
.outline-btn:hover {
    color: var(--button-outline-hover) !important;
    border: 1px solid var(--button-outline-hover) !important;
}
div#eventModalContainer .modal {
    height: auto;
}
