/* Start Producers page */
.producers-page .producers-link-btn {
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    color: #ffffff;
    border-radius: 25px;
    padding: 14px 30px;
    text-transform: uppercase;
}
.producers-page .producers-link-btn:hover {
    background-color: var(--black-color) !important;
}
.producers-page .producers-hero-section {
    width: 100%;
    height: 506px;
    background-image: url("../../../images/frontend/producers/Ethiopia-farmers-for-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: 0px 3.725px 22.35px -0.931249px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3.725px 22.35px -0.931249px rgba(0, 0, 0, 0.2);
}
.producers-page .producers-hero-content {
    max-width: 200px;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.producers-page .producers-hero-content h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 40px;
    color: var(--black-color);
    text-transform: uppercase;
}
.producers-page .producers-hero-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black75-color);
    margin-top: 8px;
    margin-bottom: 24px;
}
.producers-page .image-owner-link {
    position: absolute;
    right: 24px;
    bottom: 14px;
}
.producers-page .image-owner-link span,
.producers-page .image-owner-link a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
.producers-page .image-owner-link span {
    color: var(--black75-color);
}
.producers-page .image-owner-link a {
    color: var(--primary-color);
    text-decoration: underline;
    text-underline-offset: 3px;
}
.producers-page .producers-services-section {
    padding-top: 64px;
    padding-bottom: 80px;
    background-color: var(--black5-color);
}
.producers-page .producers-services-section > h2 {
    font-style: normal;
    font-weight: 700;
    color: var(--black75-color);
    text-align: center;
    max-width: 310px;
    margin: 0 auto 56px auto;
    font-size: 21px;
    line-height: 32px;
}
.producers-page .producers-services-section .producers-services-nav {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.producers-page
    .producers-services-section
    .producers-services-nav::-webkit-scrollbar {
    display: none;
}
.producers-page .producers-services-section .producers-services-nav a {
    height: 180px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.producers-page .producers-services-section .m-cultivo-app-link {
    width: 254px;
    position: relative;
}
.producers-page .producers-services-section .cultivo-capital-link,
.producers-page .producers-services-section .market-access-link {
    width: 268px;
    position: relative;
}
.producers-page .producers-services-section .m-cultivo-app-link img:first-child,
.producers-page
    .producers-services-section
    .m-cultivo-app-link
    img:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.producers-page
    .producers-services-section
    .cultivo-capital-link
    img:first-child,
.producers-page
    .producers-services-section
    .cultivo-capital-link
    img:nth-child(2) {
    position: absolute;
    left: -65px;
    top: 0;
    width: 326px;
}
.producers-page .producers-services-section .market-access-link img:first-child,
.producers-page
    .producers-services-section
    .market-access-link
    img:nth-child(2) {
    position: absolute;
    left: -75px;
    top: 0;
    width: 326px;
}
.producers-page
    .producers-services-section
    .producers-services-nav
    a
    img:first-child {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.producers-page
    .producers-services-section
    .producers-services-nav
    a
    img:nth-child(2) {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.producers-page
    .producers-services-section
    .m-cultivo-app-link:hover
    img:first-child,
.producers-page
    .producers-services-section
    .cultivo-capital-link:hover
    img:first-child,
.producers-page
    .producers-services-section
    .market-access-link:hover
    img:first-child {
    opacity: 1;
}
.producers-page
    .producers-services-section
    .m-cultivo-app-link:hover
    img:nth-child(2),
.producers-page
    .producers-services-section
    .cultivo-capital-link:hover
    img:nth-child(2),
.producers-page
    .producers-services-section
    .market-access-link:hover
    img:nth-child(2) {
    opacity: 0;
}
.producers-page .producers-services-section .service-link-icon {
    position: absolute;
    top: 12px;
    z-index: 3;
}
.producers-page
    .producers-services-section
    .m-cultivo-app-link
    .service-link-icon {
    right: 16px;
}
.producers-page
    .producers-services-section
    .cultivo-capital-link
    .service-link-icon,
.producers-page
    .producers-services-section
    .market-access-link
    .service-link-icon {
    right: 35px;
}
.producers-page .producers-services-section .producers-services-nav div {
    position: absolute;
    bottom: 24px;
    left: 24px;
    width: 85%;
    z-index: 3;
}
.producers-page .producers-services-section .m-cultivo-app-link div {
    left: 17px;
}
.producers-page .producers-services-section .nav-link-title {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 8px;
}
.producers-page .producers-services-section .nav-link-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.producers-page .producers-service {
    padding: 80px 16px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 56px;
}
.producers-page .producers-service:nth-of-type(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.producers-page .producers-service img {
    border-radius: 8px;
    max-width: none;
    width: 100%;
}
.producers-page .producers-service-details {
    width: 90%;
    text-align: center;
}
.producers-page .producers-service-details .producers-service-title h2 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    color: var(--black-color);
    margin: 0px;
    font-size: 30px;
    line-height: 39px;
}
.producers-page .producers-service-details .producers-service-points {
    margin: 40px 0px;
    text-align: left;
}
.producers-page
    .producers-service-details
    .producers-service-points
    li:not(:last-child) {
    margin-bottom: 40px;
}
.producers-page .producers-service-details .producers-service-points i {
    color: #008c64;
    padding-top: 9px;
}
.producers-page .producers-service-details .producers-service-points p {
    margin: 0px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    color: var(--black75-color);
    font-size: 16px;
    line-height: 21px;
}
#m-cultivo-app svg {
    fill: #008c64;
}
#m-cultivo-app .producers-link-btn {
    background-color: #008c64;
}
#cultivo-capital svg {
    fill: var(--primary-color);
}
#cultivo-capital .producers-link-btn {
    background-color: var(--primary-color);
}
#market-access svg {
    fill: #008cbd;
}
#market-access .producers-link-btn {
    background-color: #008cbd;
}
.producers-page .producers-case-studies {
    background-color: var(--primary-color);
    padding: 40px 0px 56px;
    position: relative;
}
.producers-page .producers-case-studies .case-studies-carousel {
    width: 100%;
    padding: 0px;
}
.producers-page .producers-case-studies .case-studies-carousel .slide-item {
    width: 100%;
}
.producers-page .case-studies-carousel .slide-item .slide-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 1px;
    gap: 40px;
}
.producers-page .case-studies-carousel .slide-item .slide-title h2 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;
    color: #ffffff;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-top: 0px;
    text-transform: uppercase;
}
.producers-page
    .case-studies-carousel
    .slide-item
    .slide-title
    img:not(.long-image) {
    width: 135px;
}
.producers-page .case-studies-carousel .slide-item .slide-title img.long-image {
    width: auto;
}
.producers-page .case-studies-carousel .slide-item .slide-milestones {
    margin: 36px 0px;
    min-height: 312px;
    gap: 40px;
}
.producers-page .case-studies-carousel .slide-item .milestone {
    width: 90%;
    gap: 38px;
}
.producers-page .case-studies-carousel .slide-item .milestone-icon {
    margin-bottom: 0px;
}
.producers-page .case-studies-carousel .slide-item .milestone-icon::before {
    content: "";
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ffffff;
}
.producers-page
    .case-studies-carousel
    .slide-item
    .milestone:first-child
    .milestone-icon::after,
.producers-page
    .case-studies-carousel
    .slide-item
    .milestone:nth-child(2)
    .milestone-icon::after {
    content: "";
    width: 1px;
    height: calc(100% + 40px);
    background-color: #ffffff;
    position: absolute;
    top: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.producers-page .case-studies-carousel .slide-item .milestone svg {
    fill: var(--primary-color);
    position: absolute;
    top: 8px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 1;
}
.producers-page .case-studies-carousel .slide-item .milestone:first-child svg {
    width: 19px;
    height: 18px;
}
.producers-page .case-studies-carousel .slide-item .milestone:nth-child(2) svg {
    width: 10px;
    height: 17px;
}
.producers-page .case-studies-carousel .slide-item .milestone:nth-child(3) svg {
    width: 17px;
    height: 16px;
}
.producers-page
    .case-studies-carousel
    .slide-item
    .milestone-description
    strong,
.producers-page .case-studies-carousel .slide-item .milestone-description h3,
.producers-page .case-studies-carousel .slide-item .milestone-description p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: "Lato";
    font-style: normal;
    color: #ffffff;
    margin-bottom: 0px !important;
}
.producers-page
    .case-studies-carousel
    .slide-item
    .milestone-description
    strong {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.producers-page .next-slide-btn {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-decoration: underline;
    text-underline-offset: 3px;
    color: #ffffff;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.producers-page .case-studies-carousel .owl-dots {
    gap: 8px;
    margin-top: 0px;
    margin-bottom: 16px;
}
.producers-page .case-studies-carousel .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0px;
    background-color: var(--black75-color) !important;
}
.producers-page .case-studies-carousel .owl-dots .owl-dot.active {
    background-color: #ffffff !important;
}
@media (min-width: 576px) {
    .producers-page .producers-hero-section {
        background-image: url("../../../images/frontend/producers/Ethiopia-farmers.jpg");
    }
}
@media (min-width: 992px) {
    .producers-page .producers-hero-section {
        height: 920px;
    }
    .producers-page .producers-hero-content h1 {
        font-size: 60px;
        line-height: 78px;
    }
    .producers-page .producers-hero-content p {
        font-size: 21px;
        line-height: 32px;
        margin-top: 16px;
        margin-bottom: 40px;
    }
    .producers-page .producers-hero-content {
        max-width: 527px;
        right: 0;
    }
    .producers-page .image-owner-link {
        position: absolute;
        right: 0;
        bottom: 24px;
    }
    .producers-page .producers-link-btn {
        font-size: 21px;
    }
    .producers-page .producers-services-section {
        padding-top: 192px;
        padding-bottom: 0px;
        background-color: transparent;
    }
    .producers-page .producers-services-section h2 {
        max-width: 854px;
        font-size: 42px;
        line-height: 55px;
        margin: 0 auto 80px auto;
    }
    .producers-page .producers-services-section .producers-services-nav a {
        height: 251px;
    }
    .producers-page .producers-services-section .m-cultivo-app-link {
        width: 354px;
    }
    .producers-page .producers-services-section .cultivo-capital-link,
    .producers-page .producers-services-section .market-access-link {
        width: 368px;
    }
    .producers-page
        .producers-services-section
        .m-cultivo-app-link
        img:first-child,
    .producers-page
        .producers-services-section
        .m-cultivo-app-link
        img:nth-child(2) {
        width: auto;
    }
    .producers-page
        .producers-services-section
        .cultivo-capital-link
        img:first-child,
    .producers-page
        .producers-services-section
        .cultivo-capital-link
        img:nth-child(2) {
        position: absolute;
        left: -90px;
        top: 0;
        width: auto;
    }
    .producers-page
        .producers-services-section
        .market-access-link
        img:first-child,
    .producers-page
        .producers-services-section
        .market-access-link
        img:nth-child(2) {
        position: absolute;
        left: -97px;
        top: 0;
        width: auto;
    }
    .producers-page .producers-services-section .nav-link-title {
        font-size: 28px;
        line-height: 36px;
    }
    .producers-page .producers-services-section .nav-link-description {
        font-size: 16px;
        line-height: 24px;
    }
    .producers-page .producers-services-section .service-link-icon {
        top: 24px;
    }
    .producers-page
        .producers-services-section
        .m-cultivo-app-link
        .service-link-icon,
    .producers-page
        .producers-services-section
        .cultivo-capital-link
        .service-link-icon,
    .producers-page
        .producers-services-section
        .market-access-link
        .service-link-icon {
        right: 24px;
    }
    .producers-page .producers-services-section .producers-services-nav div {
        bottom: 32px;
        left: 38px;
        width: 80%;
    }
    .producers-page .producers-services-section .m-cultivo-app-link div {
        left: 28px;
    }
    .producers-page .producers-service img {
        max-width: 527px;
        width: auto;
    }
    .producers-page .producers-service-details {
        max-width: 427px;
        width: auto;
        text-align: left;
    }
    .producers-page .producers-service-details .producers-service-points {
        margin: 40px 0px 48px;
    }
    .producers-page #cultivo-capital {
        background-color: var(--black5-color);
    }
    .producers-page #market-access {
        background-color: var(--black10-color);
    }
    .producers-page .producers-service-details .producers-service-title h2 {
        font-size: 42px;
        line-height: 55px;
    }
    .producers-page .producers-service-details .producers-service-points p {
        font-size: 21px;
        line-height: 32px;
    }
    .producers-page .producers-case-studies {
        padding: 192px 44px 120px;
    }
    .producers-page .producers-case-studies .case-studies-carousel {
        padding: 0px 110px;
    }
    .producers-page .case-studies-carousel .slide-item .slide-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        min-height: 160px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        gap: 10px;
    }
    .producers-page .case-studies-carousel .slide-item .slide-title h2 {
        font-size: 42px;
        line-height: 55px;
    }
    .producers-page
        .case-studies-carousel
        .slide-item
        .slide-title
        img:not(.long-image) {
        width: auto;
    }
    .producers-page .case-studies-carousel .slide-item .slide-milestones {
        margin: 80px 0px;
        min-height: 312px;
        gap: 0px;
    }
    .producers-page
        .case-studies-carousel
        .slide-item
        .slide-milestones::before {
        content: "";
        width: 80%;
        height: 1px;
        position: absolute;
        top: 28px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: #ffffff;
    }
    .producers-page
        .case-studies-carousel
        .slide-item
        .milestone:first-child
        .milestone-icon::after,
    .producers-page
        .case-studies-carousel
        .slide-item
        .milestone:nth-child(2)
        .milestone-icon::after {
        width: 0px;
        height: 0px;
    }
    .producers-page .producers-service {
        padding: 192px 44px 120px;
        gap: 120px;
    }
    .producers-page .case-studies-carousel .slide-item .milestone-icon {
        margin-bottom: 40px;
    }
    .producers-page .case-studies-carousel .slide-item .milestone-icon::before {
        content: "";
        width: 56px;
        height: 56px;
    }
    .producers-page .case-studies-carousel .slide-item .milestone svg {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .producers-page
        .case-studies-carousel
        .slide-item
        .milestone:first-child
        svg {
        width: 35px;
        height: 27px;
    }
    .producers-page
        .case-studies-carousel
        .slide-item
        .milestone:nth-child(2)
        svg {
        width: 19px;
        height: 32px;
    }
    .producers-page
        .case-studies-carousel
        .slide-item
        .milestone:nth-child(3)
        svg {
        width: 34px;
        height: 32px;
    }
    .producers-page
        .case-studies-carousel
        .slide-item
        .milestone-description
        strong {
        font-size: 21px;
        line-height: 32px;
    }
    .producers-page .case-studies-carousel .slide-item .milestone {
        width: 192px;
        gap: 0px;
    }
    .producers-page .case-studies-carousel .owl-dots {
        margin-bottom: 24px;
    }
    .producers-page .next-slide-btn {
        font-size: 21px;
        line-height: 32px;
        text-underline-offset: 6px;
    }
}
@media (min-width: 1200px) {
    .producers-page .producers-services-section .producers-services-nav {
        overflow-x: unset;
    }
} 
/* End Producers page */