:root {
    --primary-color: #008e8f;
    --secondary-color: #ff8749;
    --black-color: #292a2b;
    --black75-color: rgba(41, 42, 42, 0.75);
    --black50-color: rgba(95, 95, 95, 0.5);
    --black25-color: rgba(95, 95, 95, 0.25);
    --black10-color: rgba(95, 95, 95, 0.1);
    --black5-color: rgba(95, 95, 95, 0.05);
    --rounded: 0.5rem;
    --main-title-size: 1.7rem;
    --paragraph-text-size: 1.25rem;
}
@media (min-width: 768px) {
    :root {
        --main-title-size: 2rem;
    }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
    :root {
        --main-title-size: 2.75rem;
    }
}
@media (min-width: 1400px) {
    :root {
        --main-title-size: 3.75rem;
    }
}
.custom-link {
    color: var(--secondary-color) !important;
    text-decoration: none;
    border-bottom: 1.5px solid var(--secondary-color);
    cursor: pointer;
    line-height: 25px !important;
}
.section-wrapper {
    width: 100%;
}
.about-us,
.our-history,
.partnerships,
.news,
.b-corporation,
.sd-goals {
    max-width: 1400px;
    margin: 0 auto;
}
.about-us *,
.our-history *,
.partnerships *,
.news *,
.b-corporation *,
.sd-goals * {
    font-family: Lato !important;
}
/* End Golbal Rules */
/* Start About Us */
.about-us-bg {
    background-color: var(--black5-color);
}
.about-us {
    padding: 3.5rem 1.5rem;
}
.about-us-team {
    width: 100%;
}
.team-cards-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    row-gap: 1.5rem;
    margin-bottom: 1.8rem;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
}
.team-cards-row:nth-child(1) .team-member-card:nth-child(1) {
    background: url("../images/team/David-Paparelli.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.team-cards-row:nth-child(1) .team-member-card:nth-child(2) {
    background: url("../images/team/Amanda-Paparelli.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.team-cards-row:nth-child(1) .team-member-card:nth-child(3) {
    background: url("../images/team/Melanie-Robb.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.team-cards-row:nth-child(1) .team-member-card:nth-child(4) {
    background: url("../images/team/Jamie-White.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.team-cards-row:nth-child(1) .team-member-card:nth-child(5) {
    background: url("../images/team/O-Tyler-Pearson.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.team-cards-row:nth-child(2) .team-member-card:nth-child(1) {
    background: url("../images/team/Laura-Gomez.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.team-cards-row:nth-child(2) .team-member-card:nth-child(2) {
    background: url("../images/team/Pablo-Vasquez.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.team-cards-row:nth-child(2) .team-member-card:nth-child(3) {
    background: url("../images/team/Paulo-Henrique.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.team-cards-row:nth-child(2) .team-member-card:nth-child(4) {
    background: url("../images/team/Amanda-Eastwood.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.team-member-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 200px;
    height: 262px;
    -webkit-filter: drop-shadow(0px 13px 5px rgba(0, 0, 0, 0.02))
        drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.08))
        drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.13))
        drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.15))
        drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.15));
    filter: drop-shadow(0px 13px 5px rgba(0, 0, 0, 0.02))
        drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.08))
        drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.13))
        drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.15))
        drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.15));
    border-radius: var(--rounded);
    overflow: hidden;
    position: relative;
}
.team-member-overlay {
    background: -o-linear-gradient(
        bottom,
        rgba(0, 142, 143, 0.73) 0.12%,
        rgba(0, 142, 143, 0) 40.53%
    );
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.12%, rgba(0, 142, 143, 0.73)),
        color-stop(40.53%, rgba(0, 142, 143, 0))
    );
    background: linear-gradient(
        360deg,
        rgba(0, 142, 143, 0.73) 0.12%,
        rgba(0, 142, 143, 0) 40.53%
    );
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.team-member-info {
    text-align: center;
    position: relative;
    z-index: 1;
}
.member-name,
p.member-role {
    margin: 0px;
}
.member-name {
    color: white;
    font-size: 1.25rem;
}
p.member-role {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
    margin-bottom: 16px !important;
}
.about-us-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 4rem;
}
.about-us-text h1 {
    font-size: var(--main-title-size);
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 2rem 0 !important;
}
.about-us-text p {
    font-size: var(--paragraph-text-size);
    line-height: 32px;
    color: var(--black75-color);
    margin: 0px !important;
}
@media (min-width: 768px) {
    .about-us {
        padding: 4.5rem 4.75rem;
    }
}
@media (min-width: 992px) {
    .about-us {
        padding: 5.5rem 10.75rem;
    }
}
@media (min-width: 1200px) {
    .about-us {
        padding: 7.5rem 0 10rem;
        width: 1074px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .about-us-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: space-between;
        -ms-flex-pack: space-between;
        justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-bottom: 135px;
    }
    .about-us-text h1 {
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin: 0 !important;
        font-size: 60px;
        line-height: 68px;
    }
    .about-us-text p {
        width: 645px;
    }
    .team-member-card:nth-child(even) {
        position: relative;
        top: 3rem;
    }
}
/* End About Us */
/* Start Our History & Partnerships */
.our-history,
.partnerships {
    padding: 3rem 1.5rem;
}
.our-histroy-image,
.partnerships-image {
    width: 75%;
    -webkit-filter: drop-shadow(0px 100px 80px rgba(120, 129, 130, 0.07))
        drop-shadow(0px 41.7776px 33.4221px rgba(120, 129, 130, 0.0503198))
        drop-shadow(0px 22.3363px 17.869px rgba(120, 129, 130, 0.0417275))
        drop-shadow(0px 12.5216px 10.0172px rgba(120, 129, 130, 0.035))
        drop-shadow(0px 6.6501px 5.32008px rgba(120, 129, 130, 0.0282725))
        drop-shadow(0px 2.76726px 2.21381px rgba(120, 129, 130, 0.0196802));
    filter: drop-shadow(0px 100px 80px rgba(120, 129, 130, 0.07))
        drop-shadow(0px 41.7776px 33.4221px rgba(120, 129, 130, 0.0503198))
        drop-shadow(0px 22.3363px 17.869px rgba(120, 129, 130, 0.0417275))
        drop-shadow(0px 12.5216px 10.0172px rgba(120, 129, 130, 0.035))
        drop-shadow(0px 6.6501px 5.32008px rgba(120, 129, 130, 0.0282725))
        drop-shadow(0px 2.76726px 2.21381px rgba(120, 129, 130, 0.0196802));
    margin: 3.5rem auto;
}
.our-histroy-image img,
.partnerships-image img {
    width: 100%;
    border-radius: var(--rounded);
}
.our-history-text h1,
.partnerships-text h1 {
    text-align: center;
    font-size: var(--main-title-size);
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 2rem 0;
}
.our-history-text p,
.partnerships-text p {
    font-size: var(--paragraph-text-size);
    line-height: 32px;
    color: var(--black75-color);
    margin: 0px !important;
}
.our-history-text p:nth-child(even) {
    margin: 1.5rem 0;
}
@media (min-width: 768px) {
    .our-history,
    .partnerships {
        padding: 4.5rem 4.75rem;
    }
}
@media (min-width: 992px) {
    .our-histroy-image,
    .partnerships-image {
        width: 60%;
    }
}
@media (min-width: 1200px) {
    .our-history,
    .partnerships {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-column-gap: 50px;
        -moz-column-gap: 50px;
        column-gap: 50px;
    }
    .our-histroy-image,
    .partnerships-image {
        width: 525px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin: 0px;
    }
    .our-history-text div,
    .partnerships-text div {
        width: 604px;
    }
    .our-history-text h1,
    .partnerships-text h1 {
        text-align: left;
        font-size: 42px;
        line-height: 55px;
    }
    .our-history {
        padding: 12rem 0rem;
    }
    .partnerships {
        padding: 0rem 0rem 12rem;
    }
}
@media (min-width: 1400px) {
    .our-history,
    .partnerships {
        -webkit-column-gap: 129px;
        -moz-column-gap: 129px;
        column-gap: 129px;
    }
}
/* End Our History & Partnerships */
/* Start NEWS AND NOTEWORTHY */
.news-bg {
    background-color: var(--black5-color);
}
.news {
    padding: 3rem 1.5rem;
}
.news h1 {
    text-align: center;
    font-size: var(--main-title-size);
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0px;
}
.awards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 2rem;
    margin: 3rem 0;
}
.awards img {
    width: 50%;
}
.divider {
    width: 70%;
    height: 5px;
    border-radius: var(--rounded);
    margin: 2rem auto;
    background-color: var(--black50-color);
}
.news-agencies {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 1.5rem;
}
.news-agencies a {
    width: 50%;
}
.news-agencies img {
    width: 100%;
}
@media (min-width: 768px) {
    .news {
        padding: 4.5rem 4.75rem;
    }
    .awards img,
    .news-agencies a {
        width: 40%;
    }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
    .news {
        padding: 7.5rem 3rem;
    }
    .news h1 {
        font-size: 42px;
        line-height: 55px;
    }
    .awards {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        row-gap: 3rem;
        -webkit-column-gap: 3rem;
        -moz-column-gap: 3rem;
        column-gap: 3rem;
    }
    .awards img {
        width: auto;
    }
    .divider {
        display: none;
    }
    .news-agencies {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-column-gap: 1rem;
        -moz-column-gap: 1rem;
        column-gap: 1rem;
    }
    .news-agencies a,
    .news-agencies img {
        width: auto;
    }
}
@media (min-width: 1400px) {
    .news {
        padding: 8.5rem 4.75rem 8.75rem;
    }
    .awards {
        -webkit-column-gap: 4rem;
        -moz-column-gap: 4rem;
        column-gap: 4rem;
        margin: 80px 0 88px;
    }
}
/* End NEWS AND NOTEWORTHY */
/* Start B Corporation */
.b-corporation {
    padding: 3.5rem 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 2rem;
}
.b-corporation p {
    font-size: var(--paragraph-text-size);
    line-height: 32px;
    color: var(--black75-color);
    margin: 0px !important;
}
@media (min-width: 768px) {
    .b-corporation {
        padding: 4.5rem 4.75rem;
    }
}
@media (min-width: 992px) {
    .b-corporation {
        padding: 7.5rem 10.75rem;
    }
}
@media (min-width: 1200px) {
    .b-corporation {
        padding: 192px 0px 81px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-column-gap: 124px;
        -moz-column-gap: 124px;
        column-gap: 124px;
        width: 1070px;
        margin: 0 auto;
    }
    .b-corporation-image {
        width: 422px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .b-corporation p {
        width: 500px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
}
/* End B Corporation */
/* Start SD Goals */
.sd-goals {
    padding: 1.5rem 1.5rem 3.5rem 1.5rem;
}
.sd-goals-text {
    border-top: 1px solid var(--black50-color);
    padding-top: 3.5rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 2rem;
}
.sd-goals-image {
    width: 80%;
    margin: 0 auto;
}
.sd-goals-image img {
    width: 100%;
}
.sd-goals-text p {
    font-size: var(--paragraph-text-size);
    line-height: 32px;
    color: var(--black75-color);
    margin: 0px !important;
}
.sd-goals-cards {
    width: 100%;
    margin: 2rem auto;
}
.sd-goals-card {
    border-radius: var(--rounded);
    background-color: white;
    -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
        0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
        0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
        0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
        0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
        0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
        0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
        0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
        0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
        0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
        0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 2rem;
    padding: 2.25rem 0.5rem;
    margin: 3rem 0;
}
.goals-card-logo {
    width: 12rem;
    height: 12rem;
}
.goals-card-logo img {
    width: 100%;
    height: 100%;
    border-radius: var(--rounded);
    -webkit-filter: drop-shadow(0px 13px 5px rgba(0, 0, 0, 0.02))
        drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.08))
        drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.13))
        drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.15))
        drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.15));
    filter: drop-shadow(0px 13px 5px rgba(0, 0, 0, 0.02))
        drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.08))
        drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.13))
        drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.15))
        drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.15));
}
.goals-card-list {
    font-size: var(--paragraph-text-size);
    line-height: 32px;
    color: var(--black75-color);
    margin: 0 !important;
    width: 100%;
    max-width: 636px;
    padding-left: 2rem !important;
}
.goals-card-list li {
    list-style: disc !important;
    padding: 0 !important;
}
@media (min-width: 768px) {
    .sd-goals {
        padding: 0rem 4.75rem 4.5rem;
    }
    .sd-goals-text {
        padding-top: 6rem;
    }
    .sd-goals-image {
        width: 422px;
    }
}
@media (min-width: 992px) {
    .sd-goals {
        padding: 0rem 10.75rem 7.5rem;
    }
}
@media (min-width: 1200px) {
    .sd-goals {
        padding: 0rem 0rem 144px;
        width: 1070px;
        margin: 0 auto;
    }
    .sd-goals-text {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-column-gap: 124px;
        -moz-column-gap: 124px;
        column-gap: 124px;
        padding-top: 113px;
        padding-bottom: 26px;
    }
    .sd-goals-image {
        width: 422px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0;
    }
    .sd-goals-text p {
        width: 500px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
    .sd-goals-card {
        width: 965px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: flex-start;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-column-gap: 31px;
        -moz-column-gap: 31px;
        column-gap: 31px;
        padding: 2.25rem 0;
        margin-left: auto;
        padding-left: 0px;
    }
    .goals-card-logo {
        -ms-flex-negative: 0;
        flex-shrink: 0;
        position: relative;
        right: 6rem;
    }
}
/* End SD Goals */
